.checkout-step-page {
    @include media-breakpoint-down(sm) {
        background: $tertiary-hover;
        padding-top: 1.625rem;
    }

    .checkout-steps-background {
        @include media-breakpoint-down(sm) {
            padding: 0;
        }
    }
}

.checkout-steps-background {
    background-color: $tertiary-hover;
}

.checkout-steps-header {
    background: $primary;
    color: $white;
    height: 3rem;
    display: flex;
    align-items: center;
    font-size: $font-size-2;
    font-weight: $font-weight-semi-bold;
    padding-left: 1rem;
    margin-top: 0.5rem;

    @include media-breakpoint-up(md) {
        display: none;
    }
}

.checkout-steps-content {
    margin-bottom: 0;

    .checkout-steps-content-left {
        @include media-breakpoint-down(sm) {
            border-bottom: 0.25rem solid $alabaster;
        }
    }

    .single-shipping {
        .card {
            background: transparent;
            padding-top: 1rem;
            margin-bottom: 0;
        }
    }

    .shipping-address {
        margin-bottom: 0.75rem;
    }
}

.checkout-steps-container {
    max-width: 32.375rem;
}

.checkout-steps-wrapper {
    display: flex;
    font-size: $font-size--3;
    color: $grey4;
    justify-content: space-around;
    padding: 0.4375rem 0;

    .checkout-check-icon {
        display: none;
    }

    @include media-breakpoint-down(sm) {
        a {
            &:first-child {
                &::before {
                    content: "";
                    position: absolute;
                    top: -0.625rem;
                    left: 0;
                    width: 101%;
                    height: 0.25rem;
                    background-color: $green;
                    display: block;
                }

                .checkout-check-icon {
                    position: absolute;
                    width: 1.5rem;
                    height: 1.5rem;
                    display: block;
                    border-radius: 50%;
                    padding: 0.25rem;
                    top: -1.25rem;
                    border: 0.125rem solid $green;
                    background: $alabaster;
                    color: $green;

                    .icon-check {
                        display: inline-block;
                        transform: rotate(45deg);
                        height: 0.75rem;
                        width: 0.375rem;
                        border-bottom: 0.125rem solid $green;
                        border-right: 0.125rem solid $green;
                        margin-top: -0.125rem;
                    }
                }
            }

            &.checkout-step-shipping-title {
                &::before {
                    content: "";
                    position: absolute;
                    top: -0.625rem;
                    left: 0;
                    width: 101%;
                    height: 0.25rem;
                    background-color: $black;
                    display: block;
                }

                &::after {
                    content: "2";
                    position: absolute;
                    top: -1.25rem;
                    left: 50%;
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 50%;
                    padding: 0.25rem;
                    border: 0.125rem solid $black;
                    background: $alabaster;
                    color: $black;
                    transform: translateX(-50%);
                    z-index: 1;
                }
            }
        }

        .checkout-step-payment-title {
            &::before {
                content: "";
                position: absolute;
                top: -0.625rem;
                left: 0;
                width: 101%;
                height: 0.25rem;
                background-color: $grey1;
                display: block;
            }

            &::after {
                content: "3";
                position: absolute;
                top: -1.25rem;
                left: 50%;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                padding: 0.25rem;
                border: 0.125rem solid $grey1;
                background: $alabaster;
                color: $grey1;
                transform: translateX(-50%);
                z-index: 1;
            }
        }
    }

    span,
    a {
        position: relative;
        flex-grow: 1;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        padding: 0.25rem 0;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-down(sm) {
            font-size: $font-size-base;
            text-transform: capitalize;
            padding-top: 0.625rem;
        }

        &.checkout-steps-active {
            color: $secondary;
            font-weight: $font-weight-semi-bold;
        }

        &.hover {
            text-decoration: underline;
        }
    }
}

.checkout-steps-seperator {
    border-right: 0.0625rem solid $grey4;
    width: 0.0625rem;
    flex-grow: 0 !important;

    @include media-breakpoint-down(sm) {
        border: none;
    }
}
