footer {
    background-color: $black;
    color: $white;
    padding-bottom: 1.875rem;
    padding-top: 2.1875rem;

    @include media-breakpoint-up(xl) {
        padding-top: 4.5rem;
    }

    > .container {
        margin-bottom: 0;
    }
}

.footer-badges {
    margin-bottom: 1.5rem;

    @include media-breakpoint-up(xl) {
        max-width: 80%;
        margin-bottom: 2.5rem;
    }

    &.footer-badges-mobile {
        display: flex;
        justify-content: space-between;

        .footer-badge-item {
            border: 0.0625rem solid $alabaster;
            border-radius: 0.25rem;
            height: 6.5rem;
            width: calc(33% - 0.5rem);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            p {
                padding-top: 0.625rem;
                padding-left: 0;
                font-weight: $font-weight-bold;

                @include media-breakpoint-down(sm) {
                    max-width: 5.375rem;
                    text-align: center;
                    font-size: $font-size--2;
                }
            }
        }
    }

    .footer-badge-item {
        &:hover {
            cursor: pointer;
        }

        &:not(:last-child) {
            @include media-breakpoint-up(xl) {
                padding-right: 1rem;
            }
        }

        i {
            @include media-breakpoint-down(lg) {
                height: 2.25rem;
            }

            &::before {
                font-size: $font-size-27;
            }

            &.icon-secure-1 {
                &::before {
                    @include media-breakpoint-down(lg) {
                        font-size: $font-size-22;
                    }
                }
            }
        }

        p {
            margin: 0;
            padding-left: 0.9375rem;
        }
    }
}

.mobile-checkout-cards {
    img {
        @include media-breakpoint-down(xs) {
            width: 2.5rem;
        }
    }
}

.footer-middle {
    padding-top: 2rem;
    padding-bottom: 3rem;
    border-bottom: 0.0625rem solid $tertiary;
    border-top: 0.0625rem solid $tertiary;

    ul {
        list-style: none;
        padding: 0;
    }

    @include media-breakpoint-down(xl) {
        padding: 1.125rem 0;
    }

    .footer-middle-title {
        position: relative;
        font-weight: $font-weight-semi-bold;
        text-transform: uppercase;
        padding-bottom: 1.125rem;
        display: flex;
        cursor: pointer;

        @include media-breakpoint-down(lg) {
            border-bottom: 0.0625rem solid $tertiary;
        }

        > i {
            margin-left: auto;
            margin-right: 0.75rem;

            @include media-breakpoint-up(xl) {
                display: none;
            }

            &::before,
            &::after {
                margin: -0.0625rem 0 0 -0.4375rem;
                width: 0.875rem;
                height: 0.125rem;
                background-color: $white;
            }
        }

        > .sc-icon-minus {
            display: none;
        }
    }

    ul {
        font-size: $font-size--1;
        line-height: 2.27;
        overflow: hidden;
        height: 0;
        transition: height $animation-duration, padding-bottom $animation-duration;

        @include media-breakpoint-up(xl) {
            height: auto;
            overflow: initial;
        }
    }

    .open {
        @include media-breakpoint-down(lg) {
            .footer-middle-title {
                border: none;

                > .sc-icon-plus {
                    display: none;
                }

                > .sc-icon-minus {
                    display: block;
                }
            }
        }

        ul {
            height: auto;
            padding-bottom: 0.5rem;
            margin-top: -0.5rem;

            @include media-breakpoint-up(md) {
                padding-bottom: 0.75rem;
            }

            @include media-breakpoint-up(xl) {
                margin-top: 0;
            }
        }
    }
}

.footer-menu {
    a {
        color: $white;
        font-size: $font-size-2;
        display: block;
    }

    li:not(:last-child) a {
        padding-bottom: 0.5rem;
    }
}

.footer-middle-right {
    > .content-asset {
        width: 100%;

        @include media-breakpoint-up(xl) {
            display: flex;
            justify-content: space-between;
            padding-left: 6.25rem;
        }
    }
}

.footer-social-media {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include media-breakpoint-down(sm) {
        align-items: center;
    }

    span {
        font-weight: $font-weight-bold;
    }

    a {
        color: $white;

        &:hover {
            text-decoration: none;
        }

        &:not(:last-child) {
            padding-right: 2.1875rem;

            @include media-breakpoint-down(sm) {
                width: 0.625rem;
            }
        }

        i::before {
            font-size: $font-size-10;
        }
    }
}

.footer-be-right img {
    width: 7.5rem;
}

.footer-bottom {
    padding-top: 1.875rem;

    @include media-breakpoint-up(xl) {
        display: flex;
        align-items: center;
    }

    .footer-logo {
        padding-right: 4.5625rem;

        @include media-breakpoint-down(lg) {
            text-align: center;
            margin-bottom: 1.25rem;
            padding: 0;
        }

        img {
            width: 12.5rem;
        }
    }

    .footer-notice {
        font-size: $font-size--2;
        font-weight: $font-weight-normal;
    }
}

.footer-cards {
    span {
        font-weight: $font-weight-semi-bold;
    }

    .footer-card-images {
        img {
            display: inline-block;

            @include media-breakpoint-down(xs) {
                width: 1.8rem;
            }
        }
    }
}
