.header-logo {
    img {
        width: 11rem;
        @include media-breakpoint-up(lg) {
            width: 14.5625rem;
        }
    }
}

.mobile-navbar-open {
    @include media-breakpoint-down(lg) {
        overflow: hidden !important;
        position: fixed;
        width: 100%;
    }
}

.header {
    background-color: $secondary;

    &.mobile-search-sliding {
        border-bottom: 0.1875rem solid $secondary !important;
    }

    &.navbar-visible {
        @include media-breakpoint-down(lg) {
            .navbar-header-menu-item,
            .navbar-toggler .icon-menu {
                opacity: 0;
            }

            .navbar-toggler .icon-cross {
                opacity: 1;
            }
        }
    }
}

.header-top-bar {
    background-color: $primary;
    width: 100%;

    @include media-breakpoint-down(lg) {
        padding: 0.25rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    > .container {
        margin-bottom: 0;
    }

    .top-bar-message {
        color: $white;
        text-align: center;
    }
}

.header-top {
    > .container {
        margin-bottom: 0;
        position: relative;

        @include media-breakpoint-down(lg) {
            padding-left: 0.7rem;
            padding-right: 0.7rem;
        }
    }

    .navbar-toggler,
    .navbar-toggle-search-btn,
    .navbar-header-contact-us,
    .minicart {
        @include ipad() {
            display: block !important;
        }
    }

    .header-top-icons {
        a,
        button {
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                text-decoration: none;
            }
        }

        i {
            &::before {
                font-size: $font-size-10;
            }
        }

        .header-icon {
            font-size: $font-size--2;
            line-height: 1.75rem;
            color: $white;
        }

        .header-wishlist-icon {
            .add-to-wishlist-btn {
                background: none;
                border: none;
                padding: 0;

                .icon-wishlist {
                    color: $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    margin: 0 1rem;
                }
            }
        }
    }

    .popover {
        top: 100%;
        right: 0.9375rem;
        left: auto;
        border: none;
        border-radius: 0;
        min-width: 30rem;

        @include media-breakpoint-down(xs) {
            left: 0;
            right: 0;
            margin: 0 auto;
            min-width: 95%;
        }
    }
}

.language-selector {
    .btn-link {
        text-transform: none;
    }
}

.navbar-header-menu-item {
    display: inline-block;
    position: relative;
    max-width: 5.5rem;
    margin-top: 0.9rem;
    padding: 0;
    width: 46.5%;
    text-align: center;

    @include media-breakpoint-up(xl) {
        text-align: left;
        width: auto;
        padding: 0;
        margin: 0;
    }

    i::before {
        font-size: $font-size-10;

        @include media-breakpoint-up(xl) {
            font-size: $font-size-2;
        }
    }
}

.user,
.navbar-toggler,
.navbar-header-menu-item {
    @include media-breakpoint-up(xl) {
        line-height: 2.25em;
        height: auto;
    }
}

.navbar-toggler {
    color: $white;
    font-size: $font-size-10;
    font-weight: $font-weight-semi-bold;
    position: relative;
    top: -0.1rem;

    .icon-menu {
        position: relative;
    }
}

.navbar-toggle-search-btn {
    i::before {
        @include media-breakpoint-up(lg) {
            font-size: $font-size-10;
        }
    }
}

.navbar-toggle-search-btn,
.navbar-header-menu-item,
.navbar-toggler > span,
.minicart {
    transition: opacity $animation-duration;
}

.user {
    .popover {
        position: absolute;
        display: none;
        padding: 1em;
        top: 85%;
        left: 0;

        a {
            white-space: nowrap;
            margin-bottom: 0.5em;
        }

        &::before {
            left: 1.5rem;
        }

        &::after {
            left: 1.5rem;
        }

        &.show {
            display: block;
        }
    }
}

[data-action="Login-Show"] {
    .navbar-header {
        .guest {
            display: none;
        }
    }
}

.header-top-left,
.header-top-right {
    display: flex;
    align-items: top;
    flex: 0.3 0 0;
}

.country-selector-wrapper {
    &:not(:last-child) {
        .country-selector > .btn {
            &::before {
                content: "";
                border-right: 0.125rem solid $white;
                position: absolute;
                bottom: 0.5rem;
                right: -0.0625rem;
                top: 0.5rem;
            }
        }
    }
}

.country-toggle {
    .country-code {
        i {
            &::before {
                font-size: $font-size-base;
                padding-left: 0.4375rem;
            }
        }
    }
}

.country-selector {
    cursor: pointer;

    .nav-link-icon {
        margin-right: 0.7rem;
    }

    .country-code {
        color: $white;
        font-weight: $font-weight-medium;
        position: relative;
        top: 0.0625rem;
        text-decoration: underline;

        @include media-breakpoint-down(lg) {
            color: $secondary;
            text-decoration: none;
            font-weight: $font-weight-semi-bold;
        }
    }

    > .btn {
        border-radius: 0;
        display: flex;
        align-items: center;
        padding: 0.375rem 1.15rem;
        position: relative;
        height: 100%;

        &::after {
            margin-left: 0.5rem;
        }
    }

    .dropdown-item {
        display: flex;
        align-content: center;
        padding: 0.5rem 1.15rem 0.5rem 1.275rem;

        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: transparent;
        }

        .country-code {
            top: 0.125rem;
        }
    }

    .dropdown-menu {
        border-radius: 0;
        border: none;
        left: auto;
        top: 100%;
        margin: 0;
        min-width: 6.6375rem #{"/*rtl:7.2rem*/"};
        padding: 0;
        right: 0;

        @include media-breakpoint-up(xl) {
            background-color: $primary;
        }
    }
}

.language-selector {
    > .btn {
        border-radius: 0;
        padding: 0.45rem 1.35rem;
        position: relative;
        color: $white;
    }

    .dropdown-item {
        padding: 0.5rem 1.25rem;
    }

    .dropdown-menu {
        border-color: $secondary;
        border-radius: 0;
        margin: 0;
        padding: 0;
        min-width: 2rem;
    }
}

.search {
    margin-left: 1.2rem;
}

.header-top-right {
    justify-content: flex-end;
}

.header-top-center {
    text-align: center;
    transition: margin-top $animation-duration;
    flex: 0.4 0 0;
    margin: 0.75rem auto 0;

    @include media-breakpoint-up(xl) {
        margin-top: 1rem;
    }

    &:first-child {
        margin-top: 0.8rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 0.95rem;
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: 1rem;
        }
    }

    img {
        width: 100%;
        height: 100%;
        max-width: 8.125rem;

        @include media-breakpoint-up(md) {
            max-width: 8.5rem;
        }

        @include media-breakpoint-up(xl) {
            width: 12.5rem;
            max-width: 12.5rem;
            min-height: 2.69125rem;
            transition: width $animation-duration;
        }
    }
}

.header-banner {
    background-color: $primary;
    color: $secondary;
    font-size: $font-size--1;
    font-weight: $font-weight-semi-bold;
    padding: 0.725rem 0 0.525rem;
    text-align: center;

    @include media-breakpoint-up(xl) {
        font-size: $font-size--2;
        font-weight: $font-weight-medium;
        padding: 0.55rem 0 0.4rem;
    }

    .close-button {
        display: none;
    }
}

.minicart {
    position: relative;

    a.minicart-link {
        &:hover {
            text-decoration: none;
        }
    }

    .minicart-icon {
        position: relative;

        .minicart-quantity {
            color: $white;
            font-size: $font-size--4;
            text-align: center;
            position: absolute;
            top: 0.6rem;
            width: 100%;
            display: flex;
            left: auto;
            right: 3%;
            justify-content: center;

            @include media-breakpoint-up(lg) {
                font-size: $font-size--5;
                align-items: center;
                top: 0.2rem;
                height: 100%;
            }
        }
    }
}

.miniCart-close {
    position: absolute;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    border: none;
    background: transparent;
    cursor: pointer;

    i {
        &::before,
        &::after {
            width: 0.9625rem;
            margin: -0.0625rem 0 0 -0.5rem;
        }
    }
}

.miniCart-dropdown {
    padding: 0 0.938rem 0.938rem !important;
    margin: 0;

    .miniCart-header {
        border-bottom: 0.0625rem solid $border-color;
        font-size: $font-size-2;
        font-weight: $font-weight-bold;
        padding: 1.0625rem 0;
    }

    .miniCart-items {
        margin-top: 1.875rem;
        max-height: 18.875rem;
        overflow-y: auto;
    }
}

.miniCart-item {
    display: flex;
    border: 0.0625rem solid $border-color;
    padding: 0.625rem 0;
    font-size: $font-size--3;
    position: relative;
    margin-bottom: 0.625rem;

    .miniCart-item-image {
        img {
            width: 4.375rem;
        }
    }

    h2,
    .line-item-name {
        font-family: $font-family-base;
        font-size: $font-size--3;
        font-weight: $font-weight-light;
        line-height: 1.6;
        margin: 0;

        a:hover {
            text-decoration: none;
        }
    }

    .miniCart-item-description {
        padding: 0 0.313rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            margin: 0;
        }
    }

    .miniCart-item-name {
        padding-right: 0.75rem;
        margin-bottom: 0.5rem;

        h2 a {
            color: $secondary;
            font-size: $font-size-base;
            font-weight: $font-weight-extra-bold;
            text-transform: none;
        }
    }

    .miniCart-item-details {
        color: $secondary;
        display: flex;
        flex-direction: column;
        font-family: $font-family-base;
        padding-bottom: 0.525rem;

        span {
            position: relative;
            font-weight: $font-weight-medium;

            &:last-child {
                font-weight: $font-weight-bold;
            }
        }
    }

    .miniCart-item-price {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        font-size: $font-size-base;
        font-weight: $font-weight-extra-bold;
        padding-bottom: 0.125rem;

        .cart-product-price-discounted {
            font-weight: $font-weight-extra-bold;
            padding-top: 0 !important;
        }

        .cart-product-price-main {
            font-weight: $font-weight-medium;
        }
    }

    .line-item-attributes {
        font-size: $font-size--3;
        font-weight: $font-weight-medium;
    }
}

.miniCart-item-remove {
    position: absolute;
    right: 0.4375rem;
    top: 0.4375rem;
    display: block;
    width: 1.063rem;
    height: 1.063rem;
    border: none;
    background: transparent;
    cursor: pointer;

    i {
        &::before,
        &::after {
            width: 0.9625rem;
        }
    }
}

.miniCart-nested-items {
    margin-top: -0.0625rem;
    background-color: $white;
    border-bottom: 0.0625rem solid $grey3;
    padding-left: 1.25rem;
    z-index: 1;
    position: relative;

    .miniCart-item-first {
        border-top: 0.0625rem solid $grey3;
    }

    .miniCart-item-last {
        border-bottom: 0;
    }
}

.miniCart-subTotal {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 0;

    .miniCart-subTotal-label {
        span {
            display: block;
            font-size: $font-size-base;

            &:first-child {
                text-transform: uppercase;
            }

            &:last-child {
                font-size: $font-size--4;
                font-weight: $font-weight-light;
            }
        }
    }

    .miniCart-subTotal-amount {
        font-weight: $font-weight-extra-bold;
        font-size: $font-size-1 !important;
    }
}

.miniCart-checkout-message {
    margin: 1.563rem 0 0.5rem;
    text-transform: uppercase;
    text-align: center;
    font-size: $font-size--3;
}

.miniCart-errorBox {
    .alert {
        margin-bottom: 0;
        margin-top: 0.625rem;
        padding: 0.625rem;
        font-size: $font-size--2;
        font-weight: $font-weight-light;
        border: none;
    }

    .miniCart-errorBox-dismiss {
        position: absolute;
        background: transparent;
        border: none;
        right: 0.413rem;
        top: 0.413rem;

        i {
            &::before,
            &::after {
                width: 0.5625rem;
                margin: -0.055rem 0 0 -0.663rem;
                background-color: $lonestar;
            }
        }
    }
}

.added-product-notification {
    background-color: $white;
    border-top: 0.0625rem solid $grey3;
    border-bottom: 0.0625rem solid $grey3;
    display: none;
    padding: 1rem 0.25rem;
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    width: 100%;
    z-index: 1;

    .miniCart-item-multiple-product-images {
        img {
            max-width: 7.5rem;
        }
    }

    @include media-breakpoint-down(lg) {
        &.miniCart-multiple-products {
            .miniCart-item {
                width: 52%;

                .miniCart-item-multiple-products-text {
                    display: none;
                }
            }

            .miniCart-item-multiple-product-images {
                img {
                    width: 23%;
                }

                .icon-plus {
                    &::before,
                    &::after {
                        width: 0.875rem;
                    }
                }
            }

            .miniCart-item-total {
                display: flex;
                justify-content: center;

                .miniCart-checkout {
                    display: none;
                }

                .miniCart-item-multiple-products-text {
                    font-size: $font-size-6;
                    font-weight: $font-weight-medium;
                    display: block;
                    margin-bottom: 1rem;
                    padding-left: 2rem;
                    text-align: left;
                    text-transform: uppercase;
                }
            }

            .miniCart-item-subtotal-label {
                font-size: $font-size-5;
                font-weight: $font-weight-medium;

                .miniCart-item-vat {
                    font-size: $font-size--4;
                    font-weight: $font-weight-normal;
                }
            }

            .miniCart-item-subtotal-value {
                font-size: $font-size-7;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &.miniCart-multiple-products {
            .miniCart-item-container {
                flex-direction: column;
            }

            .miniCart-item {
                width: 100%;
            }

            .miniCart-item-multiple-products {
                width: 100%;
                text-align: center;
            }

            .miniCart-item-total {
                width: 100%;
                flex-direction: row;

                .miniCart-item-multiple-products-text {
                    width: 50%;
                    font-size: $font-size--1;
                    margin-bottom: 0;
                    padding-left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .miniCart-item-subtotal {
                width: 50%;
            }

            .miniCart-item-subtotal-label {
                display: none;
            }

            .miniCart-item-subtotal-value {
                font-size: $font-size-2;
                width: 100%;
                text-align: center;

                .miniCart-item-vat {
                    font-weight: $font-weight-light;
                }
            }
        }
    }

    .miniCart-item-container {
        display: flex;
        position: relative;
        margin-bottom: 0;
        width: 100%;
    }

    .miniCart-item-remove {
        right: 1rem;
        top: -0.6rem;
        width: 1.5rem;
        height: 1.5rem;
        z-index: 1;

        i::before,
        i::after {
            width: 1.441rem;
        }
    }

    .miniCart-added-message {
        position: absolute;
        left: 0;
        top: 0;
        font-size: $font-size--1;
        text-transform: uppercase;
    }

    .miniCart-item {
        border: none;
        position: relative;
        padding: 1.875rem 0 0.875rem;
        width: 100%;
    }

    .miniCart-item-description {
        position: relative;
        padding-top: 0.813rem;
    }

    .miniCart-item-badge {
        font-size: $font-size--5;
        font-weight: $font-weight-semi-bold;
        position: absolute;
        top: 0;
        text-transform: uppercase;
    }

    .miniCart-item-name {
        margin-bottom: 0.5rem;

        h2 {
            font-size: $font-size-2;
            text-transform: uppercase;
        }
    }

    .miniCart-item-price {
        font-size: $font-size-2;
        padding: 0;

        .cart-product-price-discounted {
            font-size: $font-size-2;
        }

        .cart-product-price-main {
            font-size: $font-size-base;
        }
    }

    .miniCart-item-list-price {
        color: $grey4;
        font-size: $font-size--1;
        font-weight: $font-weight-medium;
        text-decoration: line-through;
    }

    .miniCart-item-vat {
        font-size: $font-size--4;
        font-family: $font-family-base;
    }

    .miniCart-item-total {
        display: none;
        flex-direction: column;
        justify-content: flex-end;
        width: 50%;

        .miniCart-item-multiple-products-text {
            display: none;
        }
    }

    .miniCart-item-image {
        a {
            display: block;
        }

        img {
            width: 6.875rem;
        }
    }

    .miniCart-item-multiple-product-images {
        .icon-plus {
            margin: 0.25rem;

            &::before,
            &::after {
                margin: -0.0625rem 0 0 -0.4375rem;
                width: 1.25rem;
                height: 0.125rem;
            }
        }
    }

    .miniCart-item-multiple-products-text {
        font-size: $font-size-7;
        font-weight: $font-weight-light;
        text-align: center;
    }

    .miniCart-item-subtotal {
        display: flex;
        align-items: center;
    }

    .miniCart-item-subtotal-label {
        font-size: $font-size-14;
        font-weight: $font-weight-medium;
        width: 50%;
        text-align: center;
        text-transform: uppercase;

        .miniCart-item-vat {
            font-size: $font-size--2;
            font-weight: $font-weight-light;
            position: static;
            text-transform: none;
        }
    }

    .miniCart-item-subtotal-value {
        font-size: $font-size-16;
        font-weight: $font-weight-extra-bold;
        width: 50%;
        text-align: center;
    }

    .miniCart-checkout {
        display: flex;
        flex-direction: row;
        padding-top: 0.938rem;
        justify-content: space-between;

        a,
        button {
            font-size: $font-size--3;
            width: 48%;
            padding: 0.575rem 0.75rem 0.45rem;
        }
    }
}

@include media-breakpoint-up(md) {
    .added-product-notification {
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        .miniCart-checkout {
            a,
            button {
                font-size: $font-size-1;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .miniCart-checkout {
        .btn {
            font-size: $font-size-2;
            font-weight: $font-weight-extra-bold;

            &:hover {
                text-decoration: underline;
            }

            &.continue-shopping-btn {
                font-size: $font-size-base;
            }
        }
    }

    .added-product-notification {
        padding: 1.875rem 0 2.5rem;

        .miniCart-item-container {
            padding-left: 0;
            padding-right: 0;
        }

        .miniCart-item {
            position: relative;
            padding-top: 2.875rem;
            padding-right: 1.625rem;
            width: 50%;

            &::after {
                content: "";
                border-right: 0.0625rem solid $grey3;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
            }
        }

        .miniCart-item-remove {
            right: 0;
        }

        .miniCart-added-message {
            font-size: $font-size-1;
            font-weight: $font-weight-medium;
            left: 0;
        }

        .miniCart-item-image img {
            width: 7.5rem;
        }

        .miniCart-item-description {
            padding: 0 2.125rem;
        }

        .miniCart-item-badge {
            position: static;
        }

        .miniCart-item-name {
            padding-right: 0;
            margin-bottom: 0.25rem;
        }

        .miniCart-item-details {
            font-size: $font-size-1;
            font-weight: $font-weight-medium;
            padding-bottom: 0;
        }

        .miniCart-item-price {
            font-size: $font-size-7;
            font-weight: $font-weight-extra-bold;

            .cart-product-price-discounted {
                font-size: $font-size-7;
            }

            .cart-product-price-main {
                font-size: $font-size-4;
            }
        }

        .miniCart-item-list-price {
            font-size: $font-size-4;
            font-weight: $font-weight-semi-bold;
        }

        .miniCart-item-total {
            display: flex;
            padding-left: 1.625rem;
        }

        .miniCart-checkout {
            justify-content: space-between;
            padding-top: 1.85rem;

            .btn {
                font-size: $font-size-2;
                font-weight: $font-weight-extra-bold;
            }
        }
    }
}

.added-product-notification-backdrop {
    position: absolute;
    display: none;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba($alto, 0.72);
    z-index: -1;
    top: auto;
    cursor: pointer;
}

.minicart-backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

a.normal {
    color: $primary;
    text-decoration: underline;
}

.slide-up {
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    max-height: 6.25rem;
    overflow: hidden;

    &.hide {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
}

.sticked {
    &.header {
        border-bottom-color: $grey3;
    }

    @include media-breakpoint-up(xl) {
        .header-top-center {
            &:not(:first-child) {
                margin-top: 0;
            }

            img {
                width: 8.4375rem;
                min-height: 1.81625rem;
            }
        }

        .header-top-left {
            .search {
                margin-left: 0.8rem;
            }

            .country-selector,
            .language-selector {
                > .btn {
                    padding: 0.45rem 0.75rem;

                    &::before,
                    &::after {
                        display: none;
                    }

                    .country-code {
                        display: none;
                    }
                }

                .dropdown-menu {
                    min-width: 2rem;
                }

                .dropdown-item {
                    padding-left: 0.85rem;
                }
            }

            .language-selector {
                > .btn {
                    line-height: 1.8;
                }
            }

            .search {
                margin-left: 0;
            }
        }
    }
}

.header-logo-only {
    .header-top-center {
        margin: 0 auto;

        .header-logo {
            max-width: 11rem;
        }
    }

    .navbar-header {
        padding: 0.75rem 0;
    }

    .prev-arrow {
        width: 1.875rem;

        @include media-breakpoint-down(xs) {
            width: 1rem;
        }
    }

    span {
        color: $white;
        margin-right: 0.8125rem;
        font-size: $font-size-2;
    }

    i {
        &::before {
            color: $white;
        }
    }
}

.hide-link-med {
    @include media-breakpoint-only(sm) {
        display: block !important;

        @media (orientation: $portrait) {
            display: none !important;
        }
    }
}

.hide-no-link {
    @include media-breakpoint-only(sm) {
        @media (orientation: $landscape) {
            display: none;
        }
    }
}

.nav-item-gif {
    background-image: url('../images/brush-mobile.gif');
    background-size: 6.25rem;
    background-position: -0.125rem -0.6875rem;
    background-repeat: no-repeat;

    @include media-breakpoint-up(xl) {
        background-image: url('../images/brush.gif');
        background-size: cover;
        background-position: 0 -0.9375rem;
        border: none;
    }

    .nav-link {
        color: $white;
    }
}
