
.slick-slider:hover {
    .slick-next,
    .slick-prev {
        visibility: visible;
    }
}

.slick-next,
.slick-prev {
    @media (hover: hover) { /* stylelint-disable-line */
        visibility: hidden;
    }

    top: 0;
    bottom: 0;
    height: auto;
    width: 4rem;
    z-index: 1;
    transform: none;

    &::before {
        display: none;
    }
}

[dir='rtl'] .slick-prev,
.slick-prev {
    /* rtl:ignore */
    left: 0;

    /* rtl:ignore */
    right: auto;
}

[dir='rtl'] .slick-next,
.slick-next {
    /* rtl:ignore */
    right: 0;

    /* rtl:ignore */
    left: auto;
}

[dir='rtl'] .slick-prev,
[dir='rtl'] .slick-next {
    /* rtl:ignore */
    transform: scaleX(-1);
}

.slick-slider .slick-track,
.slick-slider .slick-list,
.slick-slider .slick-dots {
    /* rtl:ignore */
    direction: ltr;
}

.slick-slide {
    height: auto;

    /* rtl:raw:
        direction: rtl;
    */

    > div {
        display: flex;
        height: 100%;
    }
}

.slick-dotted {
    .slick-next,
    .slick-prev {
        bottom: 2.75rem;
    }
}

.slick-dots {
    position: absolute;
    padding: 0;
    bottom: 1.875rem;
    background: none;
    z-index: 1;

    > li {
        display: inline-block;
        position: relative;
        margin: 0 0.25rem;
        width: 0.5rem;
        height: 0.5rem;

        &.slick-active {
            margin: 0 0.25rem;
            width: 0.5rem;
            height: 0.5rem;

            > button {
                background-color: $white;
            }
        }

        > button {
            background: none;
            border: 0.0625rem solid $white;
            width: 100%;
            height: 100%;
            border-radius: 100%;

            &::before {
                display: none;
            }
        }
    }
}

.slick-loading .slick-list {
    background: none;
}
