
.home-story-carousel {
    overflow: hidden;
    padding-top: 1.25rem;
    padding-bottom: 1.875rem;

    @include media-breakpoint-up(xl) {
        padding: 2.25rem 0;
    }

    &::before {
        background-color: $black;
        content: '';
        display: block;
        height: 25%;
        width: 100%;
        position: absolute;
        left: 0;
    }

    .home-section-title {
        color: $white;

        &::after {
            border-bottom: 0.25rem solid $white;
        }
    }

    .slick-slider {
        margin-bottom: 0;
        transform: scale(1.02);

        @include media-breakpoint-up(lg) {
            transform: scale(1.075);
        }
    }

    .slick-slide {
        margin: 0 1.25rem;
        position: relative;

        img {
            width: 100%;
            transform: scale(0.8);
            transition: all 1s ease-out;
            filter: brightness(0.6);
        }

        &.slick-center {
            img {
                transform: scale(1.3);
                transition: all 1s ease-out;

                @include media-breakpoint-down(sm) {
                    transform: scale(1);
                }
            }
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 1.875rem;

        @include media-breakpoint-down(xl) {
            bottom: 1.25rem;
        }
    }

    .story-carousel-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        font-size: $font-size-12;
        font-weight: $font-weight-extra-bold;
        text-align: center;
        width: 70%;

        @include media-breakpoint-down(lg) {
            font-size: $font-size-2;
        }

        @include media-breakpoint-down(sm) {
            font-size: $font-size-4;
            text-transform: uppercase;
        }
    }

    .story-slick-prev {
        position: absolute;
        top: 50%;
        left: 32%;
        transform: translateY(-50%);
        background: url(../images/arrow-long-left.png);
        background-size: cover;
        background-position: center center;
        border: none;
        height: 2.5rem;
        width: 2.5rem;
        z-index: 2;

        @include media-breakpoint-down(md) {
            width: 1.5rem;
            height: 1.5rem;
            left: 1.875rem;
        }
    }

    .story-slick-next {
        position: absolute;
        top: 50%;
        right: 32%;
        transform: translateY(-50%);
        background: url(../images/arrow-long-right.png);
        background-size: cover;
        background-position: center center;
        border: none;
        height: 2.5rem;
        width: 2.5rem;
        z-index: 2;

        @include media-breakpoint-down(md) {
            width: 1.5rem;
            height: 1.5rem;
            right: 1.875rem;
        }
    }

    &.home-story-carousel-white {
        &::before {
            background-color: $white;
        }

        .home-section-title {
            color: $black;

            &::after {
                border-bottom: 0.25rem solid $black;
            }
        }
    }
}
