@import "bootstrap/scss/mixins/breakpoints";
@import "../variables";

$shipping-total-cost-color: #00862d;
$checkout-survey-background: #ccc;
$checkout-survey-line-height: 1.57;
$checkout-next-step-line-height: 1.07;
$checkout-line-height-1: 1.33;
$checkout-line-height-2: 1.46;
$checkout-letter-spacing-1: 0.01438rem;
$checkout-letter-spacing-2: 0.02875rem;

.checkout-main {
    margin-top: 1.625rem;

    @include media-breakpoint-up(xl) {
        max-width: 73.75rem;
        margin-top: 2.5rem;
        padding-bottom: 4.375rem;
    }

    .shipping-form-action-buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .checkout-main-content {
        order: 2;

        @include media-breakpoint-up(lg) {
            order: 1;
        }
    }

    .order-summary-container {
        order: 1;

        @include media-breakpoint-up(lg) {
            order: 2;
        }
    }

    .region-code {
        max-height: 3.125rem;
        font-size: $font-size-base;
        margin-left: 0.4375rem;
        margin-right: -0.4375rem;

        /* rtl:raw:
            font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
        */
    }

    .select + .select2-container--default .select2-selection__rendered {
        font-size: $font-size--2;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        padding-top: 0.75rem;
        color: $secondary;
        max-width: 18.75rem;
        font-family: $font-family-tertiary;
    }

    .veil {
        left: -1%;
        width: 102%;
    }
}

.checkout-main-content {
    @include media-breakpoint-up(xl) {
        padding: 0 8.572% 0 0.863%;
    }

    .form-group {
        @include media-breakpoint-up(lg) {
            margin-bottom: 1.875rem;
        }

        .shipping-method-block & {
            @include media-breakpoint-up(xl) {
                margin-bottom: 1.875rem;
            }
        }

        .security-code-input-container {
            .form-text {
                font-family: ff(tertiary);
            }
        }

        .form-control {
            /* rtl:raw:
                font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
            */
        }
    }
}

.header {
    border-bottom: 0.0625rem solid $grey3;

    .navbar-header {
        padding: 0.85rem 0;
    }

    &.checkout-header {
        padding: 0;
        margin-bottom: 0;

        .navbar-header {
            padding: 1.5625rem 0;
        }

        .header-top {
            padding: 0;
        }

        .header-top-center {
            margin: 0 auto;
            flex: 0.4 0 0;
            text-align: center;
            transform: translate(0, 0);
        }

        .back-to-cart {
            display: none;
        }

        .header-logo-link {
            justify-content: center;

            .sticked & {
                justify-content: center;
            }
        }

        .header-logo-image {
            height: 2.25rem;
            width: 2.25rem;

            .sticked & {
                height: 2.25rem;
                width: 2.25rem;
            }
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: 2rem;
        }
    }
}

.order-summary-container {
    @include media-breakpoint-up(lg) {
        padding: 0 0.25rem;
    }
}

.order-product-summary {
    color: $secondary;
    line-height: $line-height-2;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    border-top: 0.0625rem solid $grey3;
    margin: 1.4375rem auto auto;
    padding-top: 1.875rem;

    @include media-breakpoint-down(sm) {
        border-top: none;

        .cart-product-price-discounted {
            font-size: $font-size--1;
        }

        .cart-product-price-main {
            font-size: $font-size--1;
        }
    }

    .miniCart-item {
        padding: 0 0 1rem;

        &:last-child {
            margin-bottom: 0;
        }

        .miniCart-item-image {
            max-width: 9.8125rem;
            margin-right: 0;

            @include media-breakpoint-down(sm) {
                flex: 0 0 47%;
            }

            .product-image {
                max-width: 100%;
            }
        }

        .miniCart-item-description {
            flex: 0 0 60%;
            max-width: inherit;
            width: calc(100% - 9.8125rem);
            padding-left: 0.9375rem;

            @include media-breakpoint-down(sm) {
                flex-basis: 45%;
                padding-left: 0;
                margin-left: 1.25rem;
                margin-top: 1.8125rem;
                margin-bottom: 1.0875rem;
            }
        }
    }

    .product-summary-block {
        margin: 0 0 0.8125rem;
        width: 100%;

        @include media-breakpoint-down(sm) {
            margin: 0 0 1.625rem;
        }

        .multi-shipping,
        .shipment-block {
            font-size: $font-size--2;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

            h3 {
                font-size: $font-size--2;
                letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            }
        }
    }
}

.order-summary {
    border: none;
    margin: 0 -1.25rem 2rem;

    @include media-breakpoint-up(md) {
        margin: 0 -1.875rem 2rem;
    }

    @include media-breakpoint-up(lg) {
        border: 0.0625rem solid $athens-gray;
        margin: 0 0 0.9375rem;
        border-radius: 0;
    }

    .order-summary-accordion {
        .btn-link {
            line-height: $line-height-7;
            padding-left: 1.25rem;
            padding-right: 1.25rem;

            @include media-breakpoint-up(md) {
                padding-left: 1.875rem;
                padding-right: 1.875rem;
            }

            @include media-breakpoint-up(lg) {
                padding-left: 0.9375rem;
                padding-right: 0.9375rem;
            }
        }

        @include media-breakpoint-up(lg) {
            .card-header {
                display: none;
            }

            .collapse {
                padding: 1.375rem 1.875rem 0;
            }

            .collapse,
            .collapse:not(.show) {
                display: block;
            }
        }
    }
}

.order-total-summary {
    font-family: ff(tertiary);
    font-size: $font-size--1;
    line-height: $line-height-7;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    padding: 0;

    .start-lines {
        font-family: $font-family-tertiary #{'/*rtl:"GESSTwoLight-Light", Arial, Sans-serif*/'};
    }

    .end-lines {
        font-family: $font-family-tertiary;
    }

    .cart-product-price-main {
        position: relative;
        bottom: 0.125rem;
        margin-left: 0;
        text-decoration: line-through;
        color: $grey4;
    }

    @include media-breakpoint-up(lg) {
        padding: 1.375rem 1.875rem;
    }

    .free-shipping {
        .end-lines {
            color: $shipping-total-cost-color;
            letter-spacing: $checkout-letter-spacing-1 #{"/*rtl:normal*/"};
        }
    }

    .grand-total {
        .start-lines,
        .end-lines {
            font-size: $font-size--1 !important;
            font-family: $font-family-tertiary-bold;
            font-weight: $font-weight-normal;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        }
    }

    p {
        margin: 0;
    }

    > .row {
        margin-bottom: 0.4375rem;
    }

    .minicart-item-attribute {
        display: flex;
        justify-content: space-between;
    }
}

.miniCart-item {
    font-family: ff(tertiary);
    border-bottom: none;
    justify-content: flex-start;
    flex-wrap: wrap;

    .miniCart-item-price {
        display: none;
    }

    .miniCart-item-image {
        .product-image {
            max-width: 7.4vw;
            width: auto;

            @include media-breakpoint-down(sm) {
                max-width: 22vw;
            }
        }
    }

    .miniCart-item-details,
    .miniCart-item-name,
    .line-item-name {
        font-family: $font-family-tertiary #{'/*rtl:"GeezaPro", Arial, Sans-serif*/'};
        font-size: $font-size--3;
        line-height: $line-height-16;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        margin-bottom: 0.4rem;

        @include media-breakpoint-down (sm) {
            font-size: $font-size--1;
            margin-bottom: 0.2rem;
        }
    }
}

.order-summary-price {
    display: flex;
    flex-flow: column;
    margin-top: 0.0625rem;

    @include media-breakpoint-up (md) {
        display: block;
    }

    @include media-breakpoint-down (md) {
        text-align: right;
    }
}

.checkout-step-number {
    font-family: $font-family-secondary;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    margin-right: 1.125rem;
}

.shipping-section,
.payment-step {
    .card {
        border: none;
        margin-bottom: 1.375rem;
    }

    .card-header {
        border-bottom: none;
        text-transform: uppercase;
    }

    .card-header,
    .card-body {
        padding: 0;
    }

    .card-header-custom {
        font-family: ff(secondary);
        font-size: $font-size-14;
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        line-height: $checkout-line-height-1;
        font-weight: $font-weight-heavy;
        margin-bottom: 2.5rem;

        @include media-breakpoint-down (sm) {
            font-size: $font-size-10;
            line-height: $checkout-line-height-2;
        }
    }

    .single-shipping {
        .card-body {
            padding: 0;
        }
    }
}

.data-checkout-stage[data-checkout-stage=payment],
.data-checkout-stage[data-checkout-stage=placeOrder],
.data-checkout-stage[data-checkout-stage=submitted] {
    .next-payment,
    .payment-step,
    .shipping-section {
        display: none;
    }
}

.data-checkout-stage[data-checkout-stage=payment] [data-address-mode=edit] {
    .billing-address {
        display: block;
        padding-bottom: 0.3125rem;
    }
}

.data-checkout-stage[data-checkout-stage=shipping] {
    .next-step-button-inner {
        display: none;
    }
}

.data-checkout-stage[data-checkout-stage=placeOrder] {
    .next-step-button-inner {
        margin-bottom: 8.2rem;
    }

    .card.payment-summary {
        margin-bottom: 2.1875rem;
    }
}

.payment-step {
    color: $grey10;
    margin-top: 0.1875rem;
    margin-bottom: 2.625rem;
}

.credit-card-form-fields {
    .col-lg-6 {
        .form-group {
            @include media-breakpoint-up(lg) {
                margin-bottom: 0;
            }
        }
    }

    .col-12 {
        .form-group {
            @include media-breakpoint-up(lg) {
                margin-bottom: 1.875rem;
            }
        }
    }

    .form-control-label {
        left: 0.4375rem;
    }
}

.shipping-address {
    .form-control-label {
        font-size: $font-size--1;
        line-height: $line-height-7;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        left: 0.4375rem;
        top: 0.75rem;
    }

    .shipping-form-message {
        font-family: $font-family-tertiary #{'/*rtl:"NHaasGroteskTXPro", Arial, Sans-serif*/'};
        font-size: $font-size--2;
        color: $secondary;
        line-height: $line-height-5;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        margin-bottom: 0;
        margin-top: -0.3125rem;

        /* rtl:raw:
            font-family: "GESSTwoLight-Light", Arial, Sans-serif;
            font-size: 0.8125rem;
            line-height: 1.85;
        */
    }

    .shipping-method-title {
        font-family: $font-family-tertiary-bold;
        line-height: $line-height-11;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        font-weight: $font-weight-normal;
        margin-bottom: 0;

        /* rtl:raw:
            font-family:"GESSTwoBold-Bold", Arial, Sans-serif;
            font-size: 0.9375rem;
            line-height: 1.67;
        */

        @include media-breakpoint-down (sm) {
            margin-top: 0.375rem;
            margin-bottom: 0.25rem;
            font-weight: 500;
        }
    }
}

.next-step-button {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    left: 0;
    box-shadow: none;

    .btn {
        line-height: $checkout-next-step-line-height;
        letter-spacing: $font-ls-1 #{"/*rtl:normal*/"};
        font-weight: $font-weight-heavy;
        margin-top: 0;

        /* rtl:raw:
            font-weight: 500;
            line-height: 1.46;
        */
    }

    .next-step-button-inner {
        margin-bottom: 8.4375rem;
        padding-left: 1rem;
        padding-right: 1rem;

        @include media-breakpoint-up (xl) {
            margin-bottom: 7.5rem;
        }
    }

    &.next-payment {
        .next-step-button-inner {
            display: block;
            border-bottom: 0.0625rem solid $iron;
            padding-bottom: 2.8125rem;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 2.1875rem;
        }
    }
}

.shipping-content {
    .multi-ship-action-buttons {
        margin-bottom: 0.9375rem;
    }
}

.shipping-method-list {
    margin: 0 0 1.5rem;

    .shipping-method-option {
        margin-left: 0 !important; // js code
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        font-size: $font-size-base;
        top: inherit;

        &::after,
        &::before {
            margin-top: 0.875rem;
        }
    }

    .start-lines {
        margin-top: 1.875rem;
        padding: 0.3125rem 0.9375rem;
        border: 0.0625rem $grey2 solid;

        @include media-breakpoint-down (sm) {
            padding: 0 0.9375rem;
        }

        &:first-child {
            margin-top: 1.5625rem;
        }
    }

    .display-name {
        color: $secondary;
        line-height: $line-height-11;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    }

    .shipping-method-pricing {
        font-weight: $font-weight-normal;
        flex-grow: 1;
        margin-left: 1.25rem;
        color: $secondary;
        line-height: $line-height-11;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

        &::before {
            content: "—";
            position: absolute;
            margin-left: -1.1rem;
        }
    }

    .shipping-cost {
        /* rtl:raw:
            font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
        */
    }

    .arrival-time {
        font-size: $font-size--2;
        white-space: normal;
        margin-top: 0.1875rem;
        flex-basis: 100%;
        color: $secondary;
        line-height: $line-height-5;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    }

    .selected-shipping-method {
        border: 0.0625rem $primary solid;

        .display-name,
        .arrival-time,
        .shipping-method-pricing {
            color: $primary;
        }
    }
}

.payment-form,
.shipping-summary,
.payment-summary {
    border-width: 0 0 0.0625rem;
    border-color: $athens-gray;
    border-style: solid;
    margin-bottom: 2rem;

    .form-group {
        @include media-breakpoint-up (lg) {
            margin-bottom: 1.875rem;
        }
    }

    .card-header-custom {
        font-family: ff(secondary);
        font-size: $font-size-10;
        line-height: $checkout-line-height-2;
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        font-weight: $font-weight-semi-bold;

        @include media-breakpoint-up (xl) {
            font-size: $font-size-14;
            line-height: $checkout-line-height-1;
        }
    }

    .card-header {
        color: $primary;
        padding: 0;
        border-bottom: 0.0625rem solid transparent;
        text-transform: uppercase;
        position: relative;

        .edit-button {
            font-size: $font-size--4;
            position: absolute;
            text-transform: none;
            top: 0.5rem;
            right: 0;
        }
    }

    .card-body {
        padding: 0;
    }
}

.payment-form {
    margin-bottom: 2.8125rem;
}

.billing-payment-options-block {
    font-family: ff(tertiary, 'bold');
    font-weight: $font-weight-bold;

    .security-code-input {
        .form-control-label {
            font-family: ff(tertiary, 'bold');
            font-weight: $font-weight-bold;
        }
    }
}

.shipping-summary,
.payment-summary {
    font-family: $font-family-tertiary;
    color: $secondary;
    font-size: $font-size--1;
    line-height: $line-height-3;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

    /* rtl:raw:
        color: #000;
        font-family: "GESSTwoLight-Light", Arial, Sans-serif;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1.79;
    */

    .single-shipping {
        margin-bottom: 1.125rem;
    }

    .summary-details {
        font-size: $font-size--1;
        margin-bottom: 2.0625rem;

        /* rtl:raw:
            font-size: 0.9375rem;
            font-weight: 300;
            line-height: 1.67;
            letter-spacing: normal;
        */
    }

    .order-summary-phone,
    .shipping-method-price {
        /* rtl:raw:
            font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
        */
    }

    .card-body {
        padding: 0 0 0 2.875rem;

        /* rtl:raw:
            padding: 0;
        */

        @include media-breakpoint-up(lg) {
            padding-top: 1.375rem;

            /* rtl:raw:
                padding: 1.375rem 0 0 0;
            */
        }
    }
}

.shipping-address {
    .btn-add-new {
        padding-left: 0.0625rem;
        padding-right: 0.0625rem;
    }

    .btn-show-details {
        padding-top: 0.75rem;
        padding-left: 0.0625rem;
        padding-right: 0.0625rem;
    }
}

.shipping-summary {
    .address-summary,
    .summary-details {
        margin-bottom: 0.625rem;
    }

    .shipping-phone {
        font-family: $font-family-tertiary;
    }

    .shipping-addr-label,
    .shipping-method-label {
        display: none !important;
    }
}

.credit-card-form {
    .credit-card-list {
        display: flex;
        margin-left: -0.3125rem;
        margin-bottom: 1.125rem;
    }

    .credit-card-item {
        margin-right: 0.625rem;
        opacity: 1;
    }

    .save-credit-card {
        margin-left: -0.4375rem;

        .form-group {
            margin-bottom: 0;
        }
    }

    .input-credit-card-number {
        background-image: url('../images/icons/lock-grey.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 0.8125rem) center;

        &:not(:placeholder-shown) {
            background: transparent;
        }
    }

    .form-group.required .form-control-label::before {
        display: none;
    }
}

.billing-address-block {
    .billing-address {
        .form-control-label {
            &.font-weight-light {
                color: $secondary;
                font-size: $font-size-base;
                line-height: $line-height-11;
                letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
                padding: 0.7375rem 0.7375rem 0.7375rem 2.1875rem;

                /* rtl:raw:
                    font-family: "GESSTwoLight-Light", Arial, Sans-serif;
                */

                @include media-breakpoint-up (xl) {
                    font-size: $font-size--1;
                    line-height: $line-height-7;
                    letter-spacing: $font-ls-9 #{"/*rtl:normal*/"};
                }
            }
        }
    }

    .form-group.required .form-control-label::before {
        display: none; // todo
    }
}

.payment-information {
    margin-bottom: 2.5rem;

    @include media-breakpoint-up (xl) {
        margin-bottom: 0;
    }

    .nav-tabs {
        border-bottom: 0.0625rem solid $grey2;
        margin-bottom: 1.0625rem;

        @include media-breakpoint-up (xl) {
            border-bottom: none;
            margin-bottom: -0.1875rem;
        }
    }

    .nav-item {
        text-align: left;
        flex: none;
        margin: 0 2.5625rem 0 1.5rem;

        .nav-link {
            border: none;
            padding: 0;
        }
    }

    .applepay-tab-wrapper {
        margin-right: 10.5rem;
        height: 3.475rem;

        @include media-breakpoint-up (sm) {
            margin-right: 4.5625rem;
        }
    }

    .nav-item-radio,
    .applepay-tab {
        padding: 0.9375rem 0.9375rem 0.9375rem 1.875rem;
        margin-left: -1.5rem;
        color: $primary;
        position: relative;
        font-family: ff(secondary);
        font-size: $font-size--1;
        font-weight: $font-weight-normal;
        line-height: $line-height-7;
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        text-transform: none;
        margin-bottom: 0.375rem;
        transition: $animation-default;

        &::before {
            content: '';
            background: $white;
            border: 0.0625rem solid $iron;
            transition: $animation-default;
            left: 0;
            position: absolute;
            border-radius: 50%;
            height: 0.9375rem;
            width: 0.9375rem;
            top: 1.1875rem;
        }

        &::after {
            content: '';
            font-size: $font-size--6;
            line-height: 0;
            background: transparent;
            opacity: 0;
            position: absolute;
            transform: rotate(-45deg);
            background-color: $primary;
            border-radius: 50%;
            height: 0.4375rem;
            width: 0.4375rem;
            border: none;
            top: 1.4375rem;
            left: 0.25rem;
        }
    }

    .active {
        &.applepay-tab,
        .nav-item-radio {
            &::after {
                opacity: 1;
            }
        }
    }

    .applepay-options {
        position: relative;
        left: 1.375rem;
        top: 0.8125rem;
        height: 1.5625rem;
    }
}

.billing-payment-options-message {
    font-size: $font-size--1;
    letter-spacing: $font-ls-2 #{"/*rtl:0.03125rem*/"};
    line-height: $line-height-7;
    font-weight: $font-weight-normal;
    margin-top: 1.625rem;
    margin-bottom: 1.25rem;

    @include media-breakpoint-up (lg) {
        margin-top: 1.375rem;
        margin-bottom: 0.3125rem;
    }
}

.billing-address-actions {
    padding-top: 0.625rem;
}

.applepay-content {
    margin-top: 0;

    @include media-breakpoint-up (sm) {
        margin-top: 2rem;
    }
}

.credit-card-content {
    .billing-payment-options-block & {
        margin-bottom: 0.9375rem;
    }

    .card-number-wrapper {
        &::after {
            content: none;
        }
    }

    .saved-security-code {
        .form-control-label {
            font-weight: $font-weight-normal;

            &::before {
                display: none;
            }
        }
    }
}

.gift-message-block {
    .form-group {
        margin-bottom: 0.625rem;
    }

    .form-control-label {
        margin-left: 0;
    }
}

.multi-shipping {
    .product-line-item {
        text-transform: none;

        .line-item-header {
            margin-bottom: 0.625rem;
        }

        .line-item-name {
            color: $primary;
        }

        .item-attributes {
            .line-item-attributes {
                margin-bottom: 0;
                color: $secondary;
            }
        }

        .item-image {
            width: 9.375rem;
        }
    }

    .multi-ship-action-buttons {
        margin-bottom: 0.9375rem;
    }
}

.multi-shipping-checkbox-block {
    .form-group {
        padding-left: 0;
    }
}

.shipping-address-block {
    .col-lg-6 {
        padding-right: 0.90625rem;
    }

    input[type="text"],
    input[type="email"] {
        + .form-control-label {
            &::before {
                display: none;
            }
        }
    }

    .shipping-address-title {
        input[type="radio"] {
            + .form-control-label {
                margin-left: 0;
            }
        }
    }

    .shipping-form-actions {
        .col-lg-6 {
            &:first-child {
                .form-group {
                    margin-top: -0.5rem;
                    margin-left: -0.4375rem;
                }

                .form-control-label {
                    margin-top: -1.9375rem;
                }
            }
        }
    }
}

.checkout-info {
    color: $secondary;
    font-family: ff(tertiary);
    border-top: 0.0625rem solid $athens-gray;
    font-size: $font-size--1;
    font-weight: $font-weight-normal;
    line-height: $line-height-7;
    letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    background: $brand-light;
    margin: 0 -0.9375rem;
    padding: 1.875rem 1.25rem;

    @include media-breakpoint-up(md) {
        padding: 1.875rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 0;
        border-top: none;
        margin: 0 0 1.875rem;
        background: transparent;
    }

    &.checkout-faq-info {
        display: block;
        border-bottom: 0.0625rem solid $athens-gray;
        margin: 0 -1.25rem;

        @include media-breakpoint-up(md) {
            margin: 0 -1.875rem;
        }

        @include media-breakpoint-up(lg) {
            margin: 0 0 1.875rem;
            border-bottom: none;
        }
    }

    .checkout-info-title {
        font-size: $font-size--1;
        font-family: ff(tertiary, 'bold');
        font-weight: $font-weight-normal;
        line-height: $line-height-7;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;

        @include media-breakpoint-up(lg) {
            display: block;
        }

        .sc-icon-arrow-next {
            margin: 0.125rem 0 -0.125rem;
        }
    }

    .checkout-info-description {
        margin-top: 0.875rem;

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .checkout-info-link {
        color: $secondary;
        text-decoration: underline;
    }

    .sc-icon-arrow-next {
        &::before,
        &::after {
            width: 0.5rem;
        }
    }
}

.checkout-contact-info-accordion {
    margin: 0 -1.25rem;

    @include media-breakpoint-up (md) {
        margin: 0 -1.875rem;
    }

    @include media-breakpoint-up (lg) {
        margin: 0 -0.9375rem;
    }

    .btn-link {
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        @include media-breakpoint-up (md) {
            padding-left: 1.875rem;
            padding-right: 1.875rem;
        }

        @include media-breakpoint-up (lg) {
            padding-left: 0.9375rem;
            padding-right: 0.9375rem;
        }
    }

    .card-body {
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        @include media-breakpoint-up (md) {
            padding-left: 1.875rem;
            padding-right: 1.875rem;
        }

        @include media-breakpoint-up (lg) {
            padding-left: 0.9375rem;
            padding-right: 0.9375rem;
        }
    }
}

.confirm-details {
    border: none;

    .card-header {
        border: none;
    }

    .card-body {
        padding: 0;
    }

    .card-header-custom {
        color: $primary;
        font-family: ff(secondary);
        font-size: $font-size-base;
        font-weight: $font-weight-heavy;
        line-height: $line-height-base;
        letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
        text-transform: uppercase;
    }
}

.order-thank-you-image {
    margin: 3.875rem 0 3rem;

    @include media-breakpoint-up (xl) {
        margin: 3.3125rem 0 2.625rem;
    }
}

.order-thank-you-number {
    font-family: $font-family-tertiary;
    font-size: $font-size-base;
    color: $secondary;
    margin-bottom: 0.75rem;
    line-height: $line-height-7;
    letter-spacing: $checkout-letter-spacing-1 #{"/*rtl:normal*/"};

    .order-number {
        font-family: $font-family-tertiary;
    }

    /* rtl:raw:
        font-family: "GESSTwoLight-Light", Arial, Sans-serif;
        font-size: 0.875rem;
        line-height: 1.79;
        letter-spacing: normal;
    */

    @include media-breakpoint-up (xl) {
        margin-bottom: 1.0625rem;
        line-height: $line-height-11;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    }
}

.order-thank-you-msg {
    text-transform: uppercase;
    font-family: ff(secondary);
    font-weight: $font-weight-bold;
    line-height: $line-height-15;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    margin-bottom: 0.25rem;
}

.order-thank-you-email-msg {
    font-family: ff(tertiary);
    font-size: $font-size-base;
    line-height: $line-height-7;
    letter-spacing: $checkout-letter-spacing-2 #{"/*rtl:normal*/"};
    max-width: 26.125rem;
    margin-bottom: 1.875rem;

    /* rtl:raw:
        font-family: "GESSTwoLight-Light", Arial, Sans-serif;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1.79;
    */

    @include media-breakpoint-up (xl) {
        margin-bottom: 1rem;
        line-height: $line-height-11;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    }
}

.receipt {
    margin-bottom: -2.5rem;

    .confirm-details-wrapper {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;

        .card-header {
            padding: 0;
        }

        .card-header-custom {
            line-height: $line-height-15;
            margin-bottom: 0;

            @include media-breakpoint-up (xl) {
                margin-bottom: 0.5rem;
            }
        }

        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }
    }

    .checkout-registration-container {
        text-align: center;
        margin: 1.875rem -0.9375rem;
        padding: 1.875rem 0.9375rem 2.5rem;
        background: $brand-light;
        font-size: $font-size-base;
        line-height: $line-height-11;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        color: $primary;

        /* rtl:raw:
            font-size: 0.875rem;
            font-weight: 300;
            line-height: 1.79;
        */

        @include media-breakpoint-up(lg) {
            margin: 1.875rem 0 2.0625rem;
            padding: 1.9375rem 0 2.5rem;
        }

        .form-group {
            margin-bottom: 1.5rem;
        }

        .form-control-label {
            text-align: left;

            &::before {
                display: none;
            }
        }

        .sc-icon-cross {
            display: none;
        }

        .text-danger,
        .text-success {
            width: 100%;
            text-align: left;
        }

        .alert {
            background: transparent;
            border: none;

            &.alert-danger {
                color: $red;
            }
        }

        .btn-primary {
            /* rtl:raw:
                font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
            */
        }
    }

    .checkout-registration-password {
        padding-left: 1.96875rem;
        padding-right: 1.96875rem;
    }

    .checkout-registration-link {
        font-size: $font-size-base;
        background-color: $white;
        border: 0.0625rem solid $white;
        font-family: ff(tertiary);
        font-weight: $font-weight-normal;
        color: $secondary;
        max-width: 26rem;
        text-transform: none;
        height: 3.125rem;

        /* rtl:raw:
            font-family: "GESSTwoLight-Light", Arial, Sans-serif;
            font-size: 0.875rem;
            font-weight: 300;
            line-height: 1.79;
            letter-spacing: normal;
        */
    }

    .checkout-registration-title {
        margin-bottom: 1.125rem;
        font-family: $font-family-tertiary-bold;
        font-weight: $font-weight-normal;

        /* rtl:raw:
            font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
            font-weight: 500;
        */
    }

    .checkout-registration-description {
        margin-bottom: 1.75rem;

        /* rtl:raw:
            font-family: "GESSTwoLight-Light", Arial, Sans-serif;
        */
    }

    .checkout-survey {
        display: none;
        text-align: center;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        padding-top: 1.875rem;
        border-top: 0.0625rem solid $checkout-survey-background;
        font-size: $font-size-base;
        line-height: $line-height-11;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        color: $primary;

        @include media-breakpoint-up (lg) {
            margin-bottom: 0;
        }
    }

    .checkout-survey-title {
        font-family: $font-family-tertiary-bold;
        font-weight: $font-weight-normal;
        margin-bottom: 1.125rem;

        /* rtl:raw:
            font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
            font-size: 0.9375rem;
            font-weight: 500;
            line-height: 1.67;
        */
    }

    .checkout-survey-description {
        margin-bottom: 1.125rem;

        /* rtl:raw:
            font-family: "GESSTwoLight-Light", Arial, Sans-serif;
            font-size: 0.9375rem;
            font-weight: 500;
            line-height: 1.67;
        */

        @include media-breakpoint-down (sm) {
            /* rtl:raw:
                max-width: 14.875rem;
                margin-left: auto;
                margin-right: auto;
            */
        }
    }

    .checkout-survey-link {
        font-size: 0.875rem;
        font-weight: 900;
        max-width: 21rem;
        height: 3.125rem;
        padding: 0.8125rem 0.3125rem;
        line-height: $checkout-survey-line-height;

        @include media-breakpoint-up (lg) {
            max-width: 11.8125rem;

            /* rtl:raw:
                font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
                font-weight: 500;
                max-width: 14.75rem;
            */
        }
    }

    .product-summary-block {
        @include media-breakpoint-down (sm) {
            margin: 0;
        }
    }

    .order-product-summary {
        border: none;
        padding-top: 0;
        margin-top: 1.6875rem;

        .miniCart-item-image {
            max-width: 13.75rem;
            margin-right: 1.9375rem;

            @include media-breakpoint-down(sm) {
                margin-right: 0;
                max-width: 20.875rem;
                flex: 0 0 100%;
                margin-bottom: 0.625rem;
            }
        }

        .miniCart-item-description {
            padding-left: 0;
            flex: 0 0 35%;
            max-width: none;

            @include media-breakpoint-down(sm) {
                margin: 0;
                flex-basis: 70%;
                width: auto;
            }
        }

        @include media-breakpoint-up(lg) {
            width: 32.9375rem;
            margin-top: 1.75rem;
        }
    }

    .cart-product-price-main {
        font-size: $font-size--1;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        text-decoration: line-through;
        color: $grey4;
    }

    .order-total-summary {
        font-size: $font-size-base;
        line-height: $line-height-11;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        margin-top: 1.4375rem;
        width: 100%;
        align-self: flex-end;

        @include media-breakpoint-up(lg) {
            font-size: $font-size--1;
            line-height: $line-height-7;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
            margin-top: 2rem;
            width: 23.5rem;
        }
    }

    .order-summary-price {
        display: none;
    }

    .grand-total {
        .start-lines,
        .end-lines {
            font-size: $font-size-base !important;
            line-height: $line-height-11;
            letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

            @include media-breakpoint-up(lg) {
                line-height: $line-height-7;
                letter-spacing: $font-ls-9 #{"/*rtl:normal*/"};
            }
        }
    }

    .checkout-order-total-summary {
        border-width: 0.0625rem 0 0;
        border-style: solid;
        border-color: $checkout-survey-background;
        margin-top: 0.6875rem;
        margin-bottom: 0.875rem;

        @include media-breakpoint-down (sm) {
            margin-top: 1.1625rem;
            margin-bottom: 0.5625rem;
        }
    }

    .miniCart-item,
    .line-item-name,
    .minicart-item-attribute,
    .cart-product-price-discounted {
        color: $primary;
        font-size: $font-size-base;
        line-height: $line-height-11;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

        /* rtl:raw:
            font-family: "GESSTwoLight-Light", Arial, Sans-serif;
        */
    }

    .miniCart-item {
        @include media-breakpoint-down (sm) {
            align-items: flex-start;
            justify-content: space-between;
            padding: 0;
        }

        .miniCart-item-price {
            display: flex;
            position: absolute;
            flex: 0 0 38%;
            top: auto;
            justify-content: flex-end;
            align-items: flex-end;
            right: 0;
            line-height: $line-height-16;
            letter-spacing: $checkout-letter-spacing-2 #{"/*rtl:normal*/"};
            font-family: $font-family-tertiary;
            color: $secondary;

            @include media-breakpoint-down(sm) {
                display: inline-block;
                position: relative;
                flex-basis: auto;
            }

            .cart-product-price-discounted {
                font-size: $font-size-base;

                /* rtl:raw:
                    font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
                */

                @include media-breakpoint-down(sm) {
                    left: auto;
                }
            }

            .cart-product-price-main {
                font-size: $font-size--1;
                letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
                position: absolute;
                top: 1.25rem;
            }
        }
    }

    .summary-detail-wrapper {
        font-size: $font-size-base;
        border-top: 0.0625rem solid $grey3;
        margin: 0 -0.9375rem;
        padding: 1.4375rem 0.9375rem 0;
        max-width: 22.6875rem;

        @include media-breakpoint-up(lg) {
            border: none;
            padding: 0;
            margin: 0;
        }

        h6 {
            color: $primary;
            font-family: $font-family-secondary #{'/*rtl:"GESSTwoBold-Bold", Arial, Sans-serif*/'};
            font-size: $font-size-base;
            font-weight: $font-weight-normal;
            line-height: $line-height-15;
            letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
            text-transform: uppercase;
            margin-bottom: 1.0625rem;

            @include media-breakpoint-up (lg) {
                margin-bottom: 1.6875rem;
            }
        }
    }
}

.summary-detail-wrapper {
    .summary-section-label,
    .summary-details,
    .payment-details {
        font-family: $font-family-tertiary;
        font-size: $font-size-base;
        line-height: $line-height-11;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};

        /* rtl:raw:
            font-family: "GESSTwoLight-Light", Arial, Sans-serif;
            font-size: 0.9375rem;
            line-height: 1.67;
        */
    }

    .shipping-addr-label,
    .shipping-method-label,
    .billing-addr-label,
    .payment-info-label {
        font-family: $font-family-tertiary-bold;
        font-weight: $font-weight-normal;
        line-height: $line-height-11;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        margin-bottom: 0.3125rem;

        /* rtl:raw:
            font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
            font-size: 0.9375rem;
            line-height: 1.67;
        */
    }

    .payment-info-label {
        display: inline-block;
    }

    .billing-addr-label,
    .shipping-method-label,
    .summary-details.billing {
        display: none;
    }

    .shipping-method-label {
        + .summary-details {
            display: none;
        }
    }

    .single-shipping {
        .shipping-addr-label {
            display: none;
        }
    }

    .shipping-phone {
        /* rtl:raw:
            font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
        */
    }
}

.accordion-secondary {
    .card-body {
        padding-bottom: 0.875rem;

        /* rtl:raw:
            color: #000;
            font-family: "GESSTwoLight-Light", Arial, Sans-serif;
        */
    }

    .checkout-info-schedule {
        max-width: 14.9375rem;
    }

    .checkout-info-phone {
        font-family: $font-family-tertiary;
    }

    .collapse,
    .collapsing {
        font-size: $font-size--1;
        line-height: $line-height-7;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
    }

    .checkout-info-link {
        color: $secondary #{"/*rtl:#000*/"};
        font-size: $font-size--1;
        line-height: $line-height-7;
        letter-spacing: $font-ls-2 #{"/*rtl:normal*/"};
        border-bottom: 0.0625rem solid $secondary;
        padding-bottom: 0.1875rem;

        &:hover {
            border-color: $grey20;
        }

        &:active {
            border-color: $grey2;
        }
    }

    .btn-link {
        font-family: ff(tertiary, 'bold');
        align-items: center;
        padding-bottom: 0.875rem;
        line-height: $line-height-7;
        letter-spacing: $font-ls-9 #{"/*rtl:normal*/"};

        /* rtl:raw:
            color: #000;
        */
    }
}
