@import "../../../variables";
@import "../../../api/all";
@import "bootstrap/scss/mixins/breakpoints";

.main-banner {
    margin-bottom: 2.0625rem;

    @include media-breakpoint-down(sm) {
        padding-right: 0;
        padding-left: 0;
    }

    &.container {
        @include media-breakpoint-down(sm) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .glide-slide {
        position: relative;
    }

    .main-banner-video,
    .main-banner-image {
        display: block;
        width: 100%;
        object-fit: contain;
        max-height: 40.625rem;

        @include media-breakpoint-up(lg) {
            height: auto;
            object-fit: cover;
        }
    }

    .main-banner-content-buttons {
        width: 100%;
        text-align: center;
    }

    .main-banner-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;

        @include media-breakpoint-up(lg) {
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;

            /* rtl:raw:
                top: 0;
                right: 0;
                left: auto;
            */
        }

        .btn {
            width: 100%;
            max-width: 15.625rem;
            min-width: 3.125rem;
            min-height: 2.375rem;
            line-height: 2.25rem;
            height: auto;
            margin: 0 0.3125rem;
            padding: 0;
            font-size: $font-size-base;
            font-weight: $font-weight-normal;

            @include media-breakpoint-up(lg) {
                width: 50%;
                max-width: 14.375rem;
            }

            &:hover {
                opacity: 0.65;
            }
        }

        .btn-primary {
            @include media-breakpoint-up(lg) {
                background-color: $white;
                border: none;
                color: $brand;
                font-size: $font-size--5;
                letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
                font-weight: $font-weight-normal;
                font-family: ff(tertiary);

                &:hover {
                    background-color: $white;
                    color: $brand;
                }
            }
        }

        .btn-outline-primary {
            @include media-breakpoint-up(lg) {
                background: transparent;
                border: 0.0625rem solid $white;
                color: $white;

                &:hover {
                    border: 0.0625rem solid $white;
                    color: $white;
                    background: transparent;
                }
            }
        }
    }

    .main-banner-content-title {
        margin: 0 0 0.625rem;
        color: $primary;
        font-size: $font-size-base;
        letter-spacing: $font-ls-6 #{"/*rtl:normal*/"};
        font-weight: $font-weight-normal;
        font-family: ff(secondary);

        /* rtl:raw:
            font-weight: 400;
        */
    }

    &.description-below {
        .main-banner-image {
            margin-bottom: 1.1875rem;
        }

        .main-banner-content {
            position: relative;
            width: 100%;

            .main-banner-content-title {
                color: $primary;
            }

            .btn {
                letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
                font-family: ff(secondary);
                line-height: 2.375rem;
                height: 2.5rem;
                width: 10.3125rem;
                max-width: inherit;

                @include media-breakpoint-up(lg) {
                    line-height: 3.3125rem;
                    height: 3.4375rem;
                    width: 13.875rem;
                }

                @include media-breakpoint-up(xl) {
                    line-height: 3.9375rem;
                    height: 4.0625rem;
                    width: 18.125rem;
                }
            }

            .btn-primary {
                @include media-breakpoint-up(lg) {
                    background-color: $black;
                    color: $white;

                    &:hover {
                        background-color: $primary-hover;
                        color: $white;
                        opacity: 1;
                    }
                }
            }

            .btn-link {
                padding: 0;
                color: $primary;
                text-decoration: none;
                font-size: $font-size--6;
                letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
                font-weight: $font-weight-normal;
                font-family: ff(secondary);
                transition: border-bottom 0.3s ease;
                border-bottom: 0.0625rem solid $grey19;

                &:hover {
                    border-color: $grey20;
                }

                &:active {
                    border-color: $grey2;
                }
            }
        }
    }

    &.main-banner-small {
        .main-banner-content-title {
            margin: 1.1875rem 0 0.625rem;
            color: $primary;
            font-size: $font-size-base;
            letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
            font-weight: $font-weight-normal;
            font-family: ff(secondary, 'bold');

            /* rtl:raw:
                font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
            */

            @include media-breakpoint-up(lg) {
                font-size: $font-size-4;
                margin: 0 0 0.625rem;
            }
        }
    }
}
