@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import './utilities/swatch';
@import '~base/components/categoryTiles';

.confirmation-container {
    @include media-breakpoint-up(xl) {
        margin-top: 3.6rem;
    }

    margin-top: 2rem;

    .form-control-label {
        font-size: $font-size--3;

        @include media-breakpoint-up(md) {
            font-size: $font-size--2;
        }
        @include media-breakpoint-up(lg) {
            font-size: $font-size--1;
        }
        @include media-breakpoint-up(xl) {
            font-size: $font-size-1;
        }

        font-weight: $font-weight-semi-bold;
    }

    .confirmation-row {
        justify-content: space-between;

        @include media-breakpoint-only(xs) {
            margin: 0;
        }

        .confirmation-thank-you-msg {
            @include media-breakpoint-down(lg) {
                font-size: 1.6rem;
            }

            @include media-breakpoint-down(sm) {
                text-align: center;
            }
        }

        .confirmation-section-title {
            font-family: $font-family-secondary;
            font-weight: $font-weight-semi-bold;
            font-size: $font-size-4;
            margin-bottom: 1rem;
            text-transform: uppercase;

            @include media-breakpoint-up(md) {
                font-size: $font-size-6;
            }

            @include media-breakpoint-up(xl) {
                font-size: $font-size-10;
            }
        }

        .confirmation-thank-you-email-msg {
            font-family: $font-family-tertiary;
            text-transform: uppercase;
            color: $primary;
            letter-spacing: $font-ls-8;
            line-height: $font-lh--9;
            font-size: $font-size--2;
            margin-top: 1.3rem;

            @include media-breakpoint-up(md) {
                font-size: $font-size--2;
            }

            @include media-breakpoint-up(lg) {
                font-size: $font-size-2;
            }

            @include media-breakpoint-up(xl) {
                font-size: $font-size-4;
            }

            .confirmation-order-number {
                font-weight: $font-weight-semi-bold;
            }
        }

        .confirmation-have-questions {
            line-height: 1.15rem;
            font-weight: $font-weight-light;
        }

        .confirmation-summary {
            display: flex;
            font-family: $font-family-tertiary;
            letter-spacing: $font-ls-3;
            text-transform: uppercase;
            font-size: $font-size-base;
            color: $primary;

            @include media-breakpoint-up(md) {
                font-size: $font-size--2;
            }
            @include media-breakpoint-up(lg) {
                font-size: $font-size--1;
            }
            @include media-breakpoint-up(xl) {
                font-size: $font-size-1;
            }
        }

        .confirmation-shipping-method {
            line-height: 1.2rem;

            .confirmation-shipping-name {
                font-weight: $font-weight-semi-bold;
                margin-bottom: 0;
            }

            .confirmation-shipping-arrival-time {
                font-weight: $font-weight-light;
            }
        }

        .confirmation-shipping-inline-title {
            font-weight: $font-weight-semi-bold;
            line-height: 1.7rem;
        }

        .confirmation-payment-info {
            margin-top: 1.3rem;
            font-weight: $font-weight-light;
        }

        .confirmation-sold {
            display: block;
            font-weight: $font-weight-light;
            word-break: break-all;

            @include media-breakpoint-down(lg) {
                width: 50%;
            }

            .confirmation-billing-line {
                margin-bottom: 0;
            }
        }

        .confirmation-shipped {
            display: block;
            font-weight: $font-weight-light;
            word-break: break-all;

            @include media-breakpoint-down(lg) {
                width: 50%;
            }
        }

        .confirmation-items-header {
            font-size: $font-size-3;
            font-weight: $font-weight-medium;
            text-transform: uppercase;
            margin-top: 2rem;
            margin-bottom: 1.9rem;

            @include media-breakpoint-up(xl) {
                margin-top: 3.5rem;
            }
        }

        .confirmation-items {
            padding: 0 1rem;

            .confirmation-item {
                border-bottom: 0.0625rem solid $border-color;
                padding: 1.5625rem 0;
                text-transform: uppercase;
                line-height: $font-lh--1;
                letter-spacing: $font-ls-1;
                color: $info-text;
                font-family: $font-family-base;

                @include media-breakpoint-up(md) {
                    padding: 0.9375rem 0;
                    font-size: $font-size--2;
                }

                @include media-breakpoint-up(lg) {
                    padding: 1.25rem 0;
                    font-size: $font-size--1;
                }

                @include media-breakpoint-up(xl) {
                    font-size: $font-size-1;
                }
            }

            .confirmation-item-details-mobile {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

            .confirmation-item-name > a {
                font-family: $font-family-tertiary;
            }

            .confirmation-item-image {
                .product-image {
                    width: 100%;
                }
            }

            .confirmation-item-name {
                width: 60%;

                > p {
                    margin-bottom: 0;
                }
            }

            .confirmation-item-quantity {
                width: 15%;
                text-align: center;
                justify-content: center;
            }

            .confirmation-item-price {
                .strike-through {
                    display: none;
                }
            }
        }

        .confirmation-gift-items {
            padding: 0 0.1rem;

            .confirmation-gift-row {
                display: flex;
                padding-right: 1rem;
                position: relative;

                .confirmation-gift-description {
                    width: calc(100% - 5rem);
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;

                    .confirmation-gift-name {
                        width: 60%;
                        position: relative;
                        margin-left: 0.9rem;
                        font-size: $font-size--1;
                        text-transform: uppercase;

                        @include media-breakpoint-up(xl) {
                            width: 13.875rem;
                        }

                        p {
                            margin-bottom: 0;
                        }
                    }

                    .confirmation-gift-price {
                        font-size: $font-size--1;
                        margin-right: 0.7rem;
                        text-align: center;

                        @include media-breakpoint-down(lg) {
                            margin-right: 0;
                        }

                        .confirmation-gift-span {
                            text-transform: uppercase;
                        }
                    }
                }
            }

            .confirmation-gift-personal {
                margin-top: 2rem;

                .confirmation-gift-header {
                    font-weight: $font-weight-medium;
                    font-size: $font-size-base;
                    margin-bottom: 0.6rem;
                }

                .confirmation-gift-message {
                    padding: 0.6rem;
                    border: 0.0625rem solid $border-color;
                    font-size: $font-size--2;
                    font-weight: $font-weight-light;
                    word-break: break-word;
                }
            }
        }

        .confirmation-gift-bonus {
            .strike-through {
                display: none;
            }
        }

        .confirmation-order-total-summary {
            margin-top: 2.1rem;
            padding: 1.3rem;
            background-color: $alabaster;

            p {
                margin-bottom: 0;
                line-height: 1.75rem;
            }

            .confirmation-total-line {
                margin-bottom: 0;
                line-height: 1rem;
            }

            .order-receipt-label,
            .sub-total,
            .order-discount-total,
            .shipping-total-cost,
            .order-discount-total,
            .shipping-discount-total,
            .payment-service-fee-total {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-family: $font-family-base;
                text-transform: uppercase;
                letter-spacing: $font-ls-2;
                font-size: $font-size--2;
                line-height: $font-lh--1;
                color: $primary;

                @include media-breakpoint-up(md) {
                    font-size: $font-size-2;
                }
                @include media-breakpoint-up(xl) {
                    font-size: $font-size-4;
                }
            }

            .grand-total-sum,
            .total-label,
            .confirmation-total-include {
                text-transform: uppercase;
                font-size: $font-size-10;
                font-weight: $font-weight-semi-bold;
                font-family: $font-family-secondary;
            }

            .confirmation-total-include {
                font-size: $font-size--2;
            }
        }

        .confirmation-right-part {
            padding: 0 0.95rem !important;

            @include media-breakpoint-down(sm) {
                margin-top: 1.3rem;
            }

            .confirmation-newsletter {
                .form-control-label {
                    @include media-breakpoint-only(md) {
                        font-size: $font-size--2;
                    }
                }
            }

            .confirmation-form {
                border: 0.0625rem solid $border-color;
                padding: 1rem;

                @include media-breakpoint-up(xl) {
                    padding: 1.25rem;
                }

                .box-epsilon {
                    @include media-breakpoint-up(md) {
                        padding-right: 0;
                    }

                    @include media-breakpoint-up(xl) {
                        padding-right: 8rem;
                    }

                    > h4 {
                        @include media-breakpoint-up(md) {
                            font-size: $font-size-4;
                        }

                        @include media-breakpoint-up(xl) {
                            font-size: $font-size-6;
                        }
                    }

                    > p {
                        @include media-breakpoint-up(md) {
                            padding-top: 0.6rem;
                        }

                        @include media-breakpoint-up(xl) {
                            padding-top: 0;
                        }
                    }

                    > img {
                        @include media-breakpoint-up(md) {
                            width: 5.625rem;
                            float: right;
                            position: relative;
                            top: -0.5rem;
                            right: auto;
                            margin-left: 1rem;
                        }

                        @include media-breakpoint-up(xl) {
                            position: absolute;
                            top: -0.5rem;
                            right: 0;
                            width: 7.875rem;
                        }
                    }
                }

                .confirmation-subscribe-label {
                    font-size: $font-size--2;
                    font-weight: $font-weight-light;
                }

                .confirmation-subscribe-info {
                    font-size: $font-size--4;
                    font-weight: $font-weight-light;
                    padding: 0.3rem 1.5rem;

                    @include media-breakpoint-down(lg) {
                        padding: 0.7rem 0;
                    }
                }

                .confirmation-create-account-btn {
                    margin-top: 1.5rem;
                    padding: 0.9rem 1rem 0.8rem;
                    background-color: $primary;
                    border: none;
                    font-size: $font-size-1;

                    @include media-breakpoint-down(lg) {
                        margin-top: 0;
                    }
                }
            }

            .confirmation-find-gift {
                margin-top: 2.3rem;
                position: relative;

                .confirmation-find-gift-img {
                    padding: 1rem;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .confirmation-find-gift-header {
                    text-align: center;
                    text-transform: uppercase;
                    font-size: $font-size-16;
                    font-weight: $font-weight-light;
                }

                .confirmation-find-gift-article {
                    font-size: $font-size-1;
                    font-style: italic;
                    text-align: center;
                }
            }
        }

        .confirmation-find-gift-only-tablet {
            display: none;
            margin-top: 1.3rem !important;

            @include media-breakpoint-down(lg) {
                display: block;
            }

            @include media-breakpoint-down(sm) {
                display: none;
            }

            .confirmation-find-gift {
                position: relative;
                display: flex;
                margin-top: 0.7rem;

                .row {
                    flex: 0 0 50%;
                    max-width: 50%;
                }

                .row:nth-child(2) {
                    margin-left: 1rem;
                }

                .confirmation-find-gift-img {
                    padding-right: 2rem;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .confirmation-find-gift-header {
                    text-align: left;
                    text-transform: uppercase;
                    font-size: $font-size-16;
                    font-weight: $font-weight-light;
                    margin-top: 0.7rem;
                }

                .confirmation-find-gift-article {
                    font-size: $font-size-1;
                    font-style: italic;
                    text-align: left;
                }
            }
        }
    }
}
