@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins/breakpoints";

.static-pages {
    font-family: $font-family-base;
    color: $primary;
    margin-top: 1rem;
    margin-bottom: 3rem;

    /* rtl:raw:
        text-align: right;
    */

    @include media-breakpoint-up(md) {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .static-pages-section-header {
        text-align: center;
        letter-spacing: $font-ls--1;
        text-transform: uppercase;
        font-size: $font-size-18;
        margin-bottom: 2rem;

        @include media-breakpoint-up(md) {
            font-size: $font-size-24;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-36;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 0.625rem;
        table-layout: fixed;

        td {
            border: 0.0625rem solid $primary;
            text-align: left;
            padding: 0.625rem 0.875rem;
        }
    }

    a {
        text-decoration: underline;
    }

    p {
        margin: 0 0 0.625rem;
        line-height: $font-lh--1;
        font-size: $font-size-2;

        strong {
            font-family: $font-family-secondary;
            letter-spacing: $font-ls-4;
        }
    }
}
