@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';

.store-locator-wrapper > .row,
.store-detail-container > .row {
    @include media-breakpoint-down(lg) {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

.store-detail-container > .row {
    @include media-breakpoint-down(lg) {
        /* rtl:raw:
            flex-direction: column-reverse !important;
        */
    }
}

.store-locator {
    .sc-icon-search::before {
        @include media-breakpoint-up(sm) {
            font-size: $font-size-10;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-26;
        }
    }
}

.map-marker {
    float: left;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 0.375em;
    color: $white;
    background-color: $light-blue;
    position: relative;

    &::after {
        position: absolute;
        bottom: -0.625em;
        left: 50%;
        transform: translate(-50%, 0);
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 1em 0.5em 0;
        border-color: $light-blue transparent transparent transparent;
    }
}

.gm-style-iw {
    .store-details {
        margin-left: 0;
        font-family: $font-family-sans-serif;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.5;
    }

    a {
        color: $blue;
    }
}

.store-locator-no-apiKey {
    display: none;
}

.store-locator-no-results {
    display: none;
}

.store-locator-hero {
    background-image: url('../images/storelocator.jpg');
    margin-bottom: 0.625em;

    @include media-breakpoint-up(sm) {
        display: none;
    }
}

.use-location-btn {
    font-size: $font-size--1;
    font-weight: $font-weight-medium;
    margin: 0;
    padding: 0.1875rem 0;
    font-style: italic;
    background: none;
    border: none;
    cursor: pointer;

    i {
        margin-right: 0.5rem;
    }
}

.store-locator-filters {
    .form-group {
        margin-bottom: 0.4rem;
    }
}

.map-canvas {
    height: 22.9rem;
    display: block;

    @include media-breakpoint-up(xl) {
        height: 42.125rem;
    }
}

.store-locator-results {
    max-height: 26.1875rem;
    border: 0.0625rem solid $hr-border-color;
    overflow-y: auto;
    padding: 1rem;

    @include media-breakpoint-down(lg) {
        border: none;
    }
}

.store-list-item {
    display: flex;
    justify-content: space-between;
    font-size: $font-size-1;
    margin-bottom: 1rem;
}

.store-name {
    font-weight: $font-weight-semi-bold;
}

.store-list-item-link {
    font-size: $font-size--2;
    white-space: nowrap;
    display: flex;
    align-self: start;
}

/* rtl:raw:
    .store-list-item-link.icon-link {
        transform: rotate(180deg);
    }
*/

h2.store-detail-title {
    font-size: $font-size-8;
    font-weight: $font-weight-light;
    font-family: $font-family-base;
    text-transform: uppercase;
}

h3.store-detail-subtitle {
    font-size: $font-size-1;
    font-weight: $font-weight-semi-bold;
    font-family: $font-family-base;
}

.store-detail-address {
    display: flex;
    justify-content: space-between;

    p {
        margin-bottom: 0;
    }

    .address-line {
        @include media-breakpoint-up(xl) {
            padding-right: 3rem;
        }
    }
}

.get-directions-btn {
    white-space: nowrap;
    align-self: start;
    font-size: $font-size-1;
    flex-direction: column;
    align-items: center;

    i {
        &::before {
            font-size: $font-size-16;
        }
    }
}

.store-closed,
.store-open {
    > div:first-child {
        font-weight: $font-weight-extra-bold;
        text-transform: uppercase;
    }

    font-size: $font-size-1;
}

.store-open {
    color: $japaneseLaurel;
}

.store-phone-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin: 0;
    }

    i {
        &::before {
            font-size: $font-size-16;
        }
    }
}

.store-directions-column {
    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        border-right: 0.0625rem solid $hr-border-color;
    }
}

.store-detail-container {
    .map-canvas {
        @include media-breakpoint-up(xl) {
            height: 45.125rem;
        }
    }
}
