@import "../../../variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/mixins/breakpoints";

.quadruple-item .experience-commerce_assets-categoryTile:not(img) {
    width: 25%;

    @include media-breakpoint-down(md) {
        width: 50%;
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

.triple-item .experience-commerce_assets-categoryTile:not(img) {
    width: 33%;

    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}
