@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import 'mixins/swatch';
@import 'components/quantitySelector';
@import 'components/checkoutPaymentMethods';

.empty-bag-message {
    text-align: center;
    font-size: $font-size-1;
    font-style: italic;
    font-weight: $font-weight-medium;

    i {
        padding-right: 0.3125rem;
    }
}

.cart-page {
    h2 {
        font-family: $font-family-base;
        font-size: $font-size-6;
        font-weight: $font-weight-extra-bold;
        text-transform: uppercase;
        text-align: center;
        border-bottom: 0.0625rem solid $grey3;
        padding-bottom: 1rem;
        margin-bottom: 1rem;

        @include media-breakpoint-down(sm) {
            &:not(.container-title) {
                margin-bottom: 0;
            }
        }
    }
}

.checkout-sticky-bar {
    transform: none !important;
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
}

.cart-header-row {
    font-size: $font-size-3;
    font-weight: $font-weight-semi-bold;
    text-transform: uppercase;
    padding-bottom: 1.25rem;
}

.cart-product {
    margin-top: 1.375rem;
    margin-bottom: 1.375rem;
}

.cart-product-image {
    padding-right: 0.625rem;

    img {
        width: 6.25rem;
    }

    .add-to-wishlist-container {
        display: inline-block;

        .add-to-wishlist-btn {
            background: none;
            border: none;

            i {
                &::before {
                    font-size: $font-size-base;
                }
            }
        }
    }
}

.cart-product-dismiss {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;

    i {
        &::before,
        &::after {
            height: 0.125rem;
        }
    }

    @include media-breakpoint-down(lg) {
        position: absolute;
        top: 0;
        right: 0.8rem;
    }

    .remove-btn {
        &:focus {
            box-shadow: none;
        }

        i {
            @include media-breakpoint-up(xl) {
                margin-bottom: -0.625rem;
            }

            &::before,
            &::after {
                background-color: $black;
                width: 1.1625rem;
            }
        }
    }
}

.card-product-remove-desktop {
    .cart-product-dismiss {
        button {
            margin-bottom: 0;

            i {
                &::before,
                &::after {
                    width: 0.875rem;
                    background-color: $black;
                    margin: -0.15rem 0 0 -1.75rem;
                }
            }
        }

        span {
            color: $black;
            font-size: $font-size--4;
            font-weight: $font-weight-medium;
        }
    }
}

.cart-product-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0.875rem;
    padding-left: 0.5rem;
    position: relative;
    width: 100%;

    @include media-breakpoint-up(xl) {
        padding-left: 2rem;
    }

    @include media-breakpoint-up(xl) {
        padding-bottom: 0;
        padding-left: 1rem;
        padding-right: 1.5rem;
    }
}

.cart-product-details {
    @include media-breakpoint-up(xl) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }
}

.cart-product-name {
    font-size: $font-size-2;
    font-weight: $font-weight-semi-bold;
    line-height: 1.25;
    margin-top: 0.75rem;
    margin-bottom: 1.25rem;
}

.cart-product-details {
    .cart-product-attribute {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 1rem;
        padding-bottom: 0.625rem;
        min-width: 4rem;

        .line-item-attributes {
            font-size: $font-size--3;
        }

        .swatch-circle {
            width: 1rem;
            height: 1rem;
            margin-right: 0.3125rem;
        }

        &:last-child {
            padding-bottom: 1.25rem;
        }
    }

    .btn-select {
        padding-left: 0;
    }
}

.cart-product-attribute-title {
    font-size: $font-size--3;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    padding-right: 0.3125rem;
}

.cart-product-actions {
    display: none;

    @include media-breakpoint-up(xl) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.5rem;
    }

    .add-to-wishlist-container {
        display: inline-block;

        .add-to-wishlist-btn {
            background: none;
            border: none;

            i {
                &::before {
                    font-size: $font-size-base;
                }
            }
        }
    }

    .add-wishlist-txt {
        font-size: $font-size--4;
    }
}

.line-item-quantity {
    max-width: 13.4375rem;
}

.cart-menu-vertical {
    .cart-section-wrapper {
        border-top: 0.0625rem solid $grey3;
        border-bottom: 0.0625rem solid $grey3;
        cursor: pointer;

        ul {
            list-style: none !important;
        }
    }

    h3 {
        font-size: $font-size-3;
        font-weight: $font-weight-semi-bold;
        font-family: $font-family-base;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        position: relative;
        padding: 1.0625rem 0.625rem 1.0625rem 0;
        margin-bottom: 0;
        user-select: none;

        @include media-breakpoint-down(sm) {
            font-size: $font-size-base;
            text-transform: none;
        }

        > i:not(.tab-icon) {
            margin-left: auto;

            &::before,
            &::after {
                width: 0.875rem;
                height: 0.125rem;
            }
        }

        > .sc-icon-arrow-up {
            display: none;
        }
    }

    .cart-section-wrapper-content {
        overflow: hidden;
        height: 0;
        transition: height $animation-duration, padding-bottom $animation-duration;
        margin: 0;
        padding: 0;
        line-height: 2.2;
    }

    .open {
        h3 {
            > .sc-icon-arrow-down {
                display: none;
            }

            > .sc-icon-arrow-up {
                display: block;
            }
        }

        .cart-section-wrapper-content {
            height: auto;
            padding: 1rem 0;
        }
    }
}

.cart-menu-vertical {
    .next-step-box {
        .promo-wrapper {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }
}

.cart-gift-wrapping {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    p {
        margin: 0;
    }

    .gift-wrapping-details {
        display: flex;
    }

    .gift-wrapping-text {
        @include media-breakpoint-up(lg) {
            margin-left: 7.5rem;
        }

        .form-control-label {
            display: none;
        }
    }

    .gift-wrapping-check {
        label {
            padding: 0 0 0 1.4375rem;
            line-height: 1.5;
        }

        p {
            font-size: $font-size--2;
            font-weight: $font-weight-light;
            line-height: 1.4;
        }
    }

    .gift-wrapping-description {
        p {
            font-weight: $font-weight-medium;

            &:last-child {
                font-size: $font-size--2;
                font-style: italic;
                font-weight: $font-weight-light;
                margin-top: -0.625rem;
            }
        }
    }

    .gift-wrapping-text {
        textarea {
            border: 0.0625rem solid $grey3;
            resize: none;
            width: 100%;
            padding: 0.625rem;
            font-size: $font-size--2;
            font-weight: $font-weight-light;
            line-height: 1.6;
        }
    }
}

.next-step-box {
    padding: 1rem 1rem 0.5rem;

    @include media-breakpoint-up(md) {
        padding-top: 1.875rem;
    }

    @include media-breakpoint-up(xl) {
        margin-left: 1.75rem;
    }

    @include media-breakpoint-down(sm) {
        margin-top: 1.8125rem;
        padding: 0;
    }

    .grand-total-bold {
        font-weight: $font-weight-bold;
    }
}

.next-step-box-totals {
    display: flex;
    flex-direction: column;

    .totals-line:not(.hide-order-discount) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sub-total-label {
        span {
            display: block;

            &:last-child {
                font-size: $font-size--2;
                font-weight: $font-weight-light;
            }
        }
    }

    .totals-line-value {
        font-size: $font-size-5;

        @include media-breakpoint-down(sm) {
            font-size: $font-size-base;
            font-weight: $font-weight-normal;
        }

        span {
            text-align: center;

            &:not(.hide-order-discount) {
                display: block;
                font-size: $font-size-base;
            }

            &.line-through {
                font-size: $font-size-base;
                text-decoration: line-through;
                color: $dove-gray;
            }
        }
    }

    .grand-total-bold {
        font-weight: $font-weight-semi-bold;
    }
}

.free-samples-carousel {
    .btn-secondary,
    .btn-outline-secondary {
        background-color: transparent;

        &:hover {
            background-color: transparent;
        }

        &:focus {
            box-shadow: none;
        }
    }
}

.checkout-continue {
    .btn {
        font-size: $font-size-2;
    }
}

.cart-free-shipping-wrapper {
    padding: 1.25rem 0;

    h3 {
        padding: 2rem 0;
        border-top: 0.0625rem solid $grey3;
        font-size: $font-size-3;
        font-weight: $font-weight-semi-bold;
        font-family: $font-family-base;
    }

    @include media-breakpoint-down(sm) {
        margin-top: 2rem;
        background-color: $alabaster;
        margin-left: -1.5rem;
        margin-right: -1.5rem;

        h3 {
            border-top: none;
        }

        > div {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }

    .product-tile {
        text-align: center;

        .name-container {
            height: 4rem;
        }

        .image-container {
            .tile-image {
                padding: 3rem 0;
            }

            .discount-container {
                top: 0;
                left: 0;

                @include media-breakpoint-down(sm) {
                    top: 0.5rem;
                    left: 0.5rem;
                }
            }

            .add-to-wishlist-container {
                .add-to-wishlist-btn {
                    top: 0;
                    right: 0;

                    @include media-breakpoint-down(sm) {
                        top: 0.5rem;
                        right: 0.5rem;
                    }
                }
            }
        }
    }
}

.promo-wrapper {
    padding-bottom: 0.3125rem;

    p {
        margin: 0;
    }

    .promo-wrapper-label {
        font-size: $font-size-1;
        padding-bottom: 0.3125rem;

        @include media-breakpoint-down(sm) {
            font-size: $font-size-base;
        }
    }

    .btn-apply-promo-code {
        @include media-breakpoint-down(sm) {
            min-width: 8rem;
            font-size: $font-size-2;
            font-weight: $font-weight-extra-bold;
            padding: 0.5rem 0;
        }
    }

    .coupon-code-field {
        border: solid 0.0625rem $tertiary;
        @include media-breakpoint-down(sm) {
            padding: 0.5rem 0;
            margin-right: 1rem;
            border-radius: 0.125rem;
        }
    }
}

.promo-applied-label {
    color: $japaneseLaurel;
    font-weight: $font-weight-medium;
}

.coupon-error {
    padding-top: 0.3125rem;
}

.coupon-error-message,
.coupon-missing-error {
    color: $tabasco;
    font-weight: $font-weight-medium;
}

.coupon-missing-error {
    display: none;
}

.coupon-code-field.is-invalid {
    border-color: $grey3;

    &:focus {
        box-shadow: none;
        border-color: $grey3;
    }
}

.cart-bonus-product-no-price {
    font-size: $font-size-6;
    font-weight: $font-weight-semi-bold;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
        padding-top: 1rem;
    }
}

.cart-product-price-discounted {
    font-size: $font-size-2;
    font-weight: $font-weight-extra-bold;

    @include media-breakpoint-up(xl) {
        font-size: $font-size-6;
        font-weight: $font-weight-semi-bold;
    }
}

.cart-product-price-main {
    font-size: $font-size--2;
    font-weight: $font-weight-semi-bold;
    font-family: $font-family-secondary;
}

.free-samples-carousel {
    input[type="checkbox"],
    input[type="radio"] {
        &:not(:checked),
        &:checked {
            + label {
                padding-left: 2rem;
                padding-top: 0.4375rem;
                font-size: $font-size-base;

                &::before,
                &::after {
                    border: 0.1875rem solid $black;
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 0.25rem;
                }

                &::before {
                    border-color: $black;
                }
            }
        }
    }

    .product-tile {
        text-transform: none;
        padding-bottom: 0.625rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        height: 100%;
    }

    .image-container {
        @include media-breakpoint-up(xl) {
            min-height: 6.0625rem;
            text-align: center;
        }

        @include media-breakpoint-down(sm) {
            margin-right: 2rem;
            margin-left: 1.4375rem;
        }
    }

    .product-image {
        margin: 0 auto;
        max-height: 6.0625rem;
    }

    .tile-body {
        padding-bottom: 0.5rem;

        .name-container {
            line-height: 1.4;
            height: 3.125rem;

            @include media-breakpoint-down(sm) {
                font-size: $font-size-2;
                font-weight: $font-weight-semi-bold;
            }
        }

        .description-container {
            font-size: $font-size--2;
            font-weight: $font-weight-light;
            line-height: 1.5;

            @include media-breakpoint-up(sm) {
                height: 3.4rem;
            }
        }

        .gift-container {
            display: flex;
            align-items: center;

            @include media-breakpoint-up(sm) {
                display: none;
            }

            span {
                color: $green;
                font-weight: $font-weight-semi-bold;
                margin-left: 0.6875rem;
            }
        }
    }

    .button-container {
        i {
            display: none;
        }

        .selected {
            i {
                display: inline-block;
                margin-right: 0.125rem;
                position: relative;
                top: -0.125rem;

                &::before {
                    font-size: 0.625rem;
                }
            }
        }

        .free-sample-select {
            &:hover {
                background-color: $midnight;
                border-color: $midnight;
            }

            &.selected {
                background-color: $midnight;
                border-color: $midnight;
            }
        }
    }

    .product {
        @include media-breakpoint-down(xs) {
            width: 100%;
            margin: 0;

            .product-tile {
                text-align: left;
                position: relative;
            }

            .product-content {
                flex-grow: 1;
                padding: 0 0.2rem;
            }

            .image-container {
                min-height: 0;
                overflow: initial;
            }

            .tile-body {
                padding-bottom: 0;

                .name-container {
                    height: auto;
                }
            }

            .button-container {
                .btn {
                    margin-top: 1rem;
                    width: 100%;
                }
            }
        }
    }
}

// Quantity Selector Styles - start

.attributes-container {
    display: flex;
    margin-top: auto;

    > div {
        flex: 1;
        padding: 0 0.5rem;
        position: relative;
        max-width: 50%;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    .swatches {
        align-self: flex-start;
    }

    .swatches {
        background: $white;
        border-bottom: 0.0625rem solid $grey3;
        position: absolute;
        left: 0;
        right: 0;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;

        .swatch-circle {
            width: 1rem;
            height: 1rem;
        }
    }
}

.cart-simple-quantity {
    .quantity-selector {
        width: auto;

        .form-control {
            padding: 0;
            text-align: center;
        }

        i {
            &::before {
                font-size: $font-size--2;
                left: 0;
                top: 0;
                margin: 0;
                transform: none;
            }
        }
    }
}

.product-info {
    background-color: $white;
    position: relative;

    .btn-select {
        font-size: $font-size--2;
        font-weight: $font-weight-semi-bold;

        .swatch-circle {
            @include swatch($white);

            margin-right: 0.625rem;
        }

        .dropdown-toggle,
        .dropdown-item {
            font-size: $font-size--2;
            font-weight: $font-weight-semi-bold;
            padding-top: 0.657rem;
            padding-bottom: 0.657rem;
        }
    }

    .attribute-color .btn-select {
        padding-top: 0.469rem;
        padding-bottom: 0.469rem;
    }

    .attribute {
        .filter-option-inner-inner,
        .dropdown-item .text {
            display: flex;
            justify-content: space-between;
            align-items: center;

            small.text-muted {
                color: $secondary !important;
                font-size: $font-size--2;
                font-weight: $font-weight-medium;
            }
        }

        .dropdown-item.disabled:not(.active) {
            small.text-muted {
                color: $grey3 !important;
            }
        }
    }

    .swatches {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        padding: 0 0.425rem;
        height: 0;
        opacity: 0;
        transition: height $animation-duration, padding-top $animation-duration, padding-bottom $animation-duration;

        > a {
            display: inline-block;
        }

        .swatch-circle {
            @include swatch($white, 2rem);

            margin: 0.45rem;
        }

        [disabled],
        .swatch-circle.unselectable {
            cursor: default;
            pointer-events: none;
            opacity: 0.2;
        }
    }

    .open {
        .swatches {
            height: auto;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            opacity: 1;
        }
    }
}

.product-carousel-ternary {
    &.product-carousel-items .slick-slide .product {
        margin-right: 6.5% !important;
        margin-left: 6.5% !important;
    }

    .slick-arrow {
        @include media-breakpoint-down(sm) {
            &.slick-prev {
                i {
                    margin-right: 1rem;
                }
            }

            &.slick-next {
                i {
                    margin-left: 1rem;
                }
            }
        }

        i {
            width: auto;
            height: auto;
        }

        i::before,
        i::after {
            background-color: $dove-gray;

            @include media-breakpoint-up(md) {
                width: 1.075rem !important;
            }
        }

        &:focus {
            outline: none !important;
        }
    }

    @include media-breakpoint-up(xl) {
        .slick-next {
            right: -1.5rem !important;
        }

        .slick-prev {
            left: -1.5rem !important;
        }
    }
}

.quantity-form {
    .custom-select {
        width: min-content;
        padding-left: 0;

        @include media-breakpoint-down(lg) {
            width: auto;
            padding-top: 0.335rem;
        }
    }

    .quantity-selector {
        @include media-breakpoint-down(lg) {
            margin-top: 0;
        }

        .quantity-label {
            font-size: $font-size-2;
            font-weight: $font-weight-normal;
            width: 3rem;
            text-align: center;

            @include media-breakpoint-down(sm) {
                width: 2rem;
            }
        }

        button {
            border: 0.0625rem solid $grey1;
            width: 2rem;
            height: 2rem;
            border-radius: 0.125rem;
        }

        input {
            width: 1.5rem;
        }
    }
}

// Show Coupons

.coupons-and-promos {
    margin-top: 0.625rem;
    display: flex;
}

.coupon-price-adjustment {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1;
    background-color: $gallery;
    text-align: left;
    padding: 0.275rem 2.775rem 0.275rem 0.75rem;
    margin-right: 0.3125rem;
}

.remove-coupon {
    position: absolute;
    background: transparent;
    border: none;
    right: 0.3125rem;
    top: 0.2125rem;

    i {
        &::before,
        &::after {
            background-color: $tamarillo;
            width: 0.8625rem;
        }
    }
}

.mobile-next-step {
    a {
        font-size: $font-size-2;
        font-weight: $font-weight-extra-bold;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.1875rem;
    }

    .sub-total {
        display: inline-flex;
        margin-left: 0.5rem;

        &::before {
            content: '(';
        }

        &::after {
            content: ')';
        }
    }
}

#promoLoginModal {
    .modal-dialog {
        @include media-breakpoint-up(lg) {
            max-width: 760px;
        }

        .container {
            margin-bottom: 0;
        }
    }

    .color-primary {
        color: $primary;
    }

    .promo-text {
        margin-top: 1rem;

        @include media-breakpoint-up(lg) {
            margin-top: 0;
        }
    }

    .promo-text,
    .promo-code {
        font-size: $font-size-4;
        font-weight: $font-weight-semi-bold;
    }

    .promo-code {
        margin: 0;
        text-align: center;
        padding: 0.75rem;
        border: 1px solid $primary;

        @include media-breakpoint-up(lg) {
            margin-top: 2.5rem;
        }
    }
}
