@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins/breakpoints";

.breadcrumb-container {
    @include media-breakpoint-down(sm) {
        display: none;
    }

    .breadcrumb {
        padding: 0;
        @include media-breakpoint-down(sm) {
            padding: 0.625rem;
        }
    }
}

.mobile-breadcrumb-container {
    margin: 1rem 0;

    a {
        display: flex;
        align-items: center;
        font-weight: $font-weight-semi-bold;

        i {
            &::before,
            &::after {
                width: 0.625rem;
                height: 0.125rem;
            }
        }
    }
}

.how-to-title {
    font-size: $font-size-21;
    font-weight: $font-weight-extra-bold;
    margin-bottom: 1rem;

    @include media-breakpoint-down(md) {
        font-size: $font-size-6;
    }
}

.clp-video-player {
    position: relative;
    height: 18.75rem;
    margin-bottom: 3rem;

    @include media-breakpoint-down(lg) {
        height: 10rem;
    }

    .clp-video-player-thumbnail {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;

        .video-play-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .clp-video-frame {
        width: 100%;
        height: 100%;
        display: none;
    }

    .clp-video-title {
        font-size: $font-size-2;
        font-weight: $font-weight-bold;
        margin-top: 0.75rem;
    }
}

.product-tile {
    margin-bottom: 1.875rem;

    .image-container {
        .tile-image {
            max-width: 75%;
            margin: 0 auto;
            display: block;
        }
    }
}
