@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import '../../default/scss/mixins/swatch';
@import '../../default/scss/utilities/swatch';
@import '~base/components/categoryTiles';

@keyframes filterAnimation {
    0% {
        transform: translateY(15%);
    }

    to {
        transform: translateY(0);
    }
}

.refinement-bar {
    ul {
        padding-left: 0;
    }

    @include media-breakpoint-up(xl) {
        display: block;
        padding-right: 0.9375rem;
        position: relative;
        height: calc(100% - 2.875rem);
    }

    @include media-breakpoint-down(lg) {
        .mobile-modal-body {
            padding-right: 0;
        }
    }
}

.content-grid-header,
.refinement-header {
    margin-bottom: 1.1875rem;
    padding-bottom: 0.5rem;
    min-height: 2.625rem;
    align-items: center;

    @include media-breakpoint-up(xl) {
        margin-bottom: 0.5rem;
    }

    .col-form-label {
        font-size: $font-size--2;
        font-weight: $font-weight-medium;
        margin-right: 0.875rem;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }

    .custom-select,
    .bootstrap-select.custom-select {
        font-size: $font-size--2;
        font-weight: $font-weight-medium;
        height: 2.625rem;

        @include media-breakpoint-up(xl) {
            height: calc(2rem + 1px) !important;
            width: 11.25rem !important;
        }

        .custom-select {
            width: 0.5px !important;
        }

        .dropdown-toggle,
        .dropdown-item {
            font-size: $font-size--2;
            font-weight: $font-weight-medium;
            padding-top: 0.375rem;
            padding-bottom: 0.375rem;
        }

        .dropdown-item {
            padding: 0.5rem 0.75rem;
        }
    }
}

.grid-footer {
    position: absolute;
    bottom: -3rem;
}

.refinement-header {
    font-size: $font-size--2;
    font-weight: $font-weight-medium;
    text-transform: uppercase;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.refinement {
    border: 0;
    border-radius: 0;
    padding-bottom: 0;
    margin-bottom: 0;

    @include media-breakpoint-up(xl) {
        border-bottom: 0.0625rem solid $grey3;
    }

    .card-header {
        font-size: $font-size-3;
        font-weight: $font-weight-medium;
        border-bottom: 0;
        padding: 1.5rem 0;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        @include media-breakpoint-up(xl) {
            font-size: $font-size--2;
        }

        > i {
            margin-left: auto;
            top: auto;
            margin-right: 0;

            &::before {
                font-size: $font-size-1;
            }
        }

        > .icon-arrow-up {
            display: none;
        }
    }

    .card-body {
        font-size: $font-size-1;
        font-weight: $font-weight-light;
        padding: 0;
        height: 0;
        padding-bottom: 0;
        opacity: 0;
        transition: height $animation-duration, padding-bottom $animation-duration;

        @include media-breakpoint-up(xl) {
            font-size: $font-size--2;
        }

        ul {
            padding: 1rem 0 0 0.625rem;
            margin: 0 1.38125rem 0 0;
            list-style: none;

            @include media-breakpoint-up(md) {
                padding-top: 0.75rem;
            }

            @include media-breakpoint-up(xl) {
                padding-top: 0.5rem;
                margin: 0;
            }
        }

        > ul {
            padding: 0;
        }

        li {
            &:not(.color-attribute) {
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 1rem;

                @include media-breakpoint-up(md) {
                    margin-bottom: 0.75rem;
                }

                @include media-breakpoint-up(xl) {
                    margin-bottom: 0.5rem;
                }
            }

            &.disabled {
                opacity: 0.5;
            }
        }
    }

    &.open {
        .card-header {
            > .icon-arrow-down {
                display: none;
            }

            > .icon-arrow-up {
                display: block;
            }
        }

        .card-body {
            padding-bottom: 0.5rem;
            height: auto;
            opacity: 1;
        }
    }

    &:not(.open) {
        .card-body {
            overflow: hidden;
        }
    }
}

.refinement-color {
    .card-body {
        > ul {
            display: flex;
            flex-wrap: wrap;
            margin-top: -0.1875rem;
        }
    }

    .color-attribute {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.25rem;
        height: 2rem;
        padding-left: 0;
    }

    &.open {
        .card-body {
            padding-bottom: 0.25rem;
        }
    }
}

.refinement-category {
    li {
        margin-left: 0;
        display: block;
    }

    > ul > li {
        margin-left: 0;
    }
}

.category-item {
    margin-bottom: 0.938rem;
}

.search-nav {
    margin-bottom: 1em;
    border-bottom: 0.063em solid $grey3;

    .nav-tabs-wrapper {
        padding: 0;

        @include media-breakpoint-down(xs) {
            width: 100%;
        }

        .nav-tabs {
            border-bottom: 0 none;
        }
    }

    .nav-link:focus {
        background-color: $grey1;
    }
}

.product-options .quantity {
    position: absolute;
    bottom: 0;
    right: 0;
}

.grid-title {
    font-family: $font-family-secondary;
    font-size: $font-size-6;
    font-weight: normal;
    margin-bottom: 1.5rem;
    align-self: center;
    text-align: center;
    width: 100%;

    @include media-breakpoint-up(xl) {
        font-family: $font-family-base;
        font-size: $font-size-2;
        margin-bottom: 0;
        text-align: left;
    }
}

.search-results-top {
    font-size: 14px;
    font-weight: 600;
    margin: 1rem 0;

    img {
        transform: rotate(90deg);
        margin-right: 0.6875rem;
    }

    .prev-icon {
        display: flex;
        align-items: center;

        i {
            &::before,
            &::after {
                width: 0.625rem;
                height: 0.125rem;
            }
        }
    }
}

.search-results-header {
    margin-bottom: 1.25rem;

    .sorting-container {
        .sorting-box {
            position: relative;

            .btn-sort-by {
                button {
                    color: $black;
                    border: 0.125rem solid $black;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    line-height: 1.875rem;
                    font-size: $font-size-base;
                    font-weight: $font-weight-extra-bold;
                    padding: 0;

                    .filter-option-inner-inner {
                        text-transform: uppercase;
                        font-weight: $font-weight-extra-bold;

                        @include media-breakpoint-down(xs) {
                            font-size: $font-size--4;
                        }
                    }
                }

                .custom-select {
                    background-image: url('../images/sort-icon.svg');
                    background-position: top 0.6875rem right 0;
                    background-size: 0.5rem 0.625rem;

                    .dropdown-menu {
                        .dropdown-item {
                            font-size: $font-size--1;
                            padding: 0.5rem;
                        }
                    }
                }

                label {
                    position: absolute;
                    left: 0;
                    top: -1.5rem;
                    font-size: $font-size--2;
                }
            }
        }

        .filter-box {
            .btn-filter-modal {
                position: relative;
                border-bottom: 0.125rem solid $black;
                text-transform: uppercase;
                font-weight: $font-weight-extra-bold;
                line-height: 1.875rem;
                background: none;
                cursor: pointer;

                @include media-breakpoint-down(xs) {
                    font-size: $font-size--4;
                }

                i {
                    position: absolute;
                    right: 0.75rem;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

.filter-modal-box {
    position: absolute;
    right: 0;
    width: 100%;
    padding: 36px;
    border-radius: 0.1875rem;
    border: 1px solid $grey1;
    overflow: hidden;
    background: $white;
    z-index: 4;
    animation: filterAnimation 0.3s cubic-bezier(0, 0, 0.2, 1);

    @include media-breakpoint-up(lg) {
        max-width: 28.75rem;
    }

    .mobile-modal-header {
        border-bottom: 0.0625em solid $grey2;

        .mobile-modal-title {
            text-transform: uppercase;
            font-size: $font-size-2;
            font-weight: $font-weight-extra-bold;
            color: $grey6;
        }

        .filter-close-btn {
            position: absolute;
            top: 0.75rem;
            right: 0;
            width: 1.5rem;
            height: 1.5rem;
            opacity: 1;

            i {
                &::before,
                &::after {
                    color: $grey6;
                    width: 15px;
                    height: 0.2rem;
                    margin: -0.0625rem 0 0 -0.5rem;
                }
            }
        }
    }

    .mobile-modal-body {
        .refinement {
            border: none;

            .card-header {
                font-size: $font-size-2;
                text-transform: capitalize;
            }

            .card-body {
                ul {
                    padding: 0.625rem 0;

                    li {
                        &.color-attribute {
                            display: inline-block;
                        }

                        a {
                            color: $black;
                        }
                    }
                }
            }
        }
    }

    .mobile-modal-footer {
        .btn-clear-all {
            font-size: $font-size-2;
            font-weight: $font-weight-medium;

            &.disabled {
                color: $grey3;
            }
        }
    }
}

.search-results {
    margin-top: 1.5rem;

    &.srp-results {
        .grid-title {
            @include media-breakpoint-down(lg) {
                text-align: left;
                font-size: $font-size-base;
            }
        }
    }

    .product {
        margin-top: 0.625rem;
        margin-bottom: 3rem;
    }

    .promo-plp {
        height: calc(100% - 3rem);
        background-size: cover;
        background-position: center;

        .promo-image {
            display: none;
            width: 100%;
        }

        .promo-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: $white;
            width: 80%;
            color: $black;
            padding: 1.25rem;
            text-align: center;

            .promo-title {
                font-size: $font-size-7;
                font-weight: $font-weight-extra-bold;
            }

            .promo-subtitle {
                font-size: $font-size-7;
                font-weight: $font-weight-normal;
            }

            .promo-description {
                font-weight: $font-weight-semi-bold;
                max-width: 80%;
                text-align: center;
                padding: 0.3125rem 0;
            }

            .btn-shop-now {
                font-size: $font-size--3;
                font-weight: $font-weight-extra-bold;
                border: 1px solid $black;
                width: 100%;
                margin-top: 1.25rem;
                padding: 0.9375rem;

                &:hover {
                    background: $black;
                    color: $white;
                    text-decoration: underline;
                }
            }
        }
    }
}

.plp-details {
    + .search-results {
        margin-top: 0;
    }
}

.plp-title {
    font-family: $font-family-base;
    font-weight: $font-weight-extra-bold;
    font-size: $font-size-8;
    margin-top: 0.625rem;
    text-transform: uppercase;

    @include media-breakpoint-down(sm) {
        text-align: center;
        font-weight: $font-weight-extra-bold;
        font-size: $font-size-11;
        margin: 0.875rem 0;
    }
}

.plp-description {
    font-weight: $font-weight-medium;
    font-size: $font-size--2;
    font-style: italic;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    text-align: center;

    @include media-breakpoint-up(md) {
        text-align: left;
    }
}

.grid-header {
    .plp-count-title {
        font-family: $font-family-base;
        font-size: $font-size-2;

        @include media-breakpoint-down(sm) {
            font-size: $font-size-base;
            font-weight: $font-weight-semi-bold;
        }

        span {
            @include media-breakpoint-up(md) {
                font-weight: $font-weight-extra-bold;
            }
        }
    }
}

.search-results-title {
    font-family: $font-family-base;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-12;
    margin-top: 1.875rem;

    @include media-breakpoint-up(lg) {
        font-weight: $font-weight-extra-bold;
    }

    @include media-breakpoint-down(sm) {
        &::after {
            content: "";
            position: absolute;
            border-bottom: 2px solid $black;
            height: 2.1875rem;
            width: 2.5rem;
            left: 40%;
        }
    }

    .search-results-keywords {
        font-weight: $font-weight-extra-bold;

        &::before {
            content: '"';
        }

        &::after {
            content: '"';
        }
    }

    @include media-breakpoint-down(md) {
        text-align: center;
    }
}

.search-results-suggestions {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;

    @include media-breakpoint-down(md) {
        text-align: center;
    }

    h2 {
        font-family: $font-family-base;
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-2;
        margin-bottom: 0.7rem;

        @include media-breakpoint-up(md) {
            font-size: $font-size-4;
        }
    }

    ul {
        margin: 0;

        li {
            position: relative;

            a {
                color: $black !important;
                text-decoration: none;
                border-bottom: 0.0625rem solid;
                font-size: $font-size-base;

                &:hover {
                    text-decoration: none;
                }

                @include media-breakpoint-up(md) {
                    font-size: $font-size-2;
                }
            }

            &:not(:last-child) a {
                &::after {
                    content: ',';
                    position: absolute;
                    right: -0.188rem;
                    top: 0;
                }
            }
        }
    }
}

.product-carousel-items.no-srp-prods {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2.5rem;

    > .product {
        text-align: center;
        @include media-breakpoint-up(xl) {
            width: 30.58%;
        }

        .add-to-wishlist-container {
            .add-to-wishlist-btn {
                position: absolute;
                top: 0;
                right: 0;
                -webkit-box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.1);
                box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.1);
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                background: none;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .badges-container {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 2.75rem;
            margin-bottom: 0.75rem;

            .badges {
                background: none;

                .badge-item {
                    font-size: $font-size--4;
                    color: $dove-gray;
                    font-weight: $font-weight-extra-bold;
                    text-transform: uppercase;
                }
            }
        }

        .name-container {
            margin-bottom: 0.75rem;

            .pdp-link {
                a {
                    color: $black;
                    text-transform: uppercase;
                }
            }
        }

        .price-container {
            .sales {
                font-weight: $font-weight-extra-bold;
            }

            .strike-through {
                margin-right: 0.5rem;
            }
        }

        .discount-container {
            position: absolute;
            top: 0.75rem;
            left: 0.75rem;
            font-size: $font-size-4;
            font-weight: $font-weight-extra-bold;
            color: $primary;
            text-transform: uppercase;
            border: 0.0625rem solid $primary;
            border-radius: 0.125rem;
            padding: 0 0.3125rem;

            @include media-breakpoint-down(lg) {
                font-size: $font-size--4;
            }
        }
    }
}

.bottom-content-section {
    .bottom-content-item {
        @include media-breakpoint-down(lg) {
            max-width: 100%;
            padding: 0.0625rem;
        }

        .bottom-content-box {
            background: $primary;
            color: $white;
            min-height: 11.625rem;
            padding: 0.625rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            cursor: pointer;

            i {
                margin-bottom: 1.25rem;

                &::before {
                    font-size: $font-size-36;
                }
            }

            span {
                font-size: $font-size-2;
            }
        }
    }
}

.bottom-content-modal {
    .modal-dialog {
        max-width: 24.375rem;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        width: 100%;

        .modal-content {
            border-radius: 0.25rem;
            border: 0.0625rem solid $grey1;

            .modal-header {
                position: relative;
                font-weight: $font-weight-extra-bold;
                font-size: $font-size-2;
                border-bottom: 0.0625rem solid $grey2;
                height: 3.125rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;

                .close {
                    position: absolute;
                    right: 1rem;
                    top: 50%;
                    transform: translateY(-50%);

                    &::before,
                    &::after {
                        width: 15px;
                        height: 0.2rem;
                    }
                }
            }

            .modal-body {
                max-height: 20rem;
                line-height: 1.875rem;
                overflow-y: scroll;

                @include media-breakpoint-down(sm) {
                    max-height: 25rem;
                }
            }
        }
    }
}

/* No Result Page */
.recommendations-carousel {
    overflow: hidden;

    .slick-list {
        padding-left: 0 !important;
    }

    .slick-next {
        background: url(../images/arrow-icon.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 1.5rem;
        width: 2.5rem !important;
        transform: translateY(-50%) rotate(-90deg);
        top: 50%;

        @include media-breakpoint-down(sm) {
            display: none !important;
        }
    }

    .slick-prev {
        background: url(../images/arrow-icon.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 1.5rem;
        width: 2.5rem !important;
        transform: translateY(-50%) rotate(90deg);
        top: 50%;

        @include media-breakpoint-down(sm) {
            display: none !important;
        }
    }

    .tile-image {
        width: 80% !important;
        margin: 0 auto !important;
    }
}

.recommendations-carousel-title {
    font-family: $font-family-base;
    font-size: $font-size-8;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
    text-transform: uppercase;

    @include media-breakpoint-down(md) {
        text-align: center;
    }
}

.no-search-result-content {
    .no-search-result-content-top {
        font-size: $font-size-8;
        margin-top: 2.5rem;
        margin-bottom: 0.625rem;
        text-transform: uppercase;
    }

    .no-search-result-content-center {
        font-weight: $font-weight-bold;
        font-size: $font-size-2;
        margin-bottom: 1.125rem;

        @include media-breakpoint-down(sm) {
            text-align: center;
        }
    }

    .no-search-result-content-bottom {
        font-size: $font-size-8;
        font-weight: $font-weight-extra-bold;
    }
}
