@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';

.module-countdown-banner {
    .countdown-box {
        background: $black;
        height: 5rem;
        width: 100%;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $font-size-12;

        @include media-breakpoint-down(md) {
            font-size: $font-size-7;
        }

        .countdown-item {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            font-size: $font-size-8;
            font-weight: $font-weight-demi-bold;

            .countdown-time {
                font-size: $font-size-3;
                font-weight: $font-weight-light;
                text-transform: uppercase;

                &::after {
                    content: ':';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

                @include media-breakpoint-down(md) {
                    font-size: $font-size-2;
                }
            }

            .countdown-sec {
                &::after {
                    content: '';
                }
            }
        }
    }
}

.module-countdown {
    .countdown-header {
        h3 {
            margin-top: 3.875rem;
            margin-bottom: 2.25rem;
            line-height: 1.4;
            font-size: $font-size-18;
            font-weight: $font-weight-demi-bold;

            @include media-breakpoint-down(lg) {
                font-size: $font-size-13;
            }

            @include media-breakpoint-up(lg) {
                max-width: 57.5rem;
            }

            @include media-breakpoint-down(md) {
                margin-top: 2.875rem;
                margin-bottom: 1.25rem;
            }
        }

        p {
            font-size: $font-size-4;
            font-weight: $font-weight-light;
            padding-bottom: 1.875rem;
            line-height: 1.38;

            @include media-breakpoint-up(lg) {
                max-width: 45.75rem;
            }

            @include media-breakpoint-down(lg) {
                font-size: $font-size-2;
                max-width: 80%;
            }

            @include media-breakpoint-down(md) {
                font-size: $font-size-base;
                max-width: 100%;
            }
        }
    }

    .countdown-form {
        @include media-breakpoint-down(lg) {
            font-size: $font-size-2;
            max-width: 80%;
            margin: 0 auto;
        }

        @include media-breakpoint-down(md) {
            font-size: $font-size-base;
            max-width: 100%;
        }

        .countdown-form-input {
            font-weight: $font-weight-medium;

            label {
                width: 100%;
                text-align: left;
                font-size: $font-size-1;
            }

            input {
                float: left;
                border: none;
                border-bottom: 0.0625rem solid $black;
                margin-bottom: 1.25rem;
                font-size: $font-size-1;
                font-weight: $font-weight-light;

                &::placeholder {
                    color: $black;
                }
            }

            select {
                border: none;
                border-bottom: 0.0625rem solid $black;
                font-size: $font-size-1;
                font-weight: $font-weight-light;
                color: $black;
            }

            .invalid-feedback {
                text-align: left;
            }
        }

        .btn-countdown {
            background: $black;
            height: 2.8125rem;
            color: $white;
            font-size: $font-size-base;
            width: 100%;

            @include media-breakpoint-up(lg) {
                width: 15.9375rem;
            }

            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }
    }
}

.image-box-item {
    position: relative;

    .image-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        font-size: 1.875rem;
    }
}
