$border-style: 0.0625rem solid $border-color !important;

@each $bp in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($bp) {
        .border-right-#{$bp} {
            border-right: $border-style;
        }

        .border-left-#{$bp} {
            border-left: $border-style;
        }

        .border-top-#{$bp} {
            border-top: $border-style;
        }

        .border-bottom-#{$bp} {
            border-bottom: $border-style;
        }

        .border-x-#{$bp} {
            border-left: $border-style;
            border-right: $border-style;
        }

        .border-y-#{$bp} {
            border-top: $border-style;
            border-bottom: $border-style;
        }

        .border-#{$bp} {
            border: $border-style;
        }

        .border-#{$bp}-0 {
            border: 0 !important;
        }
    }
}
