@import "../variables";

@each $tag in h1, h2, h3, h4, h5, h6, p, i, small {
    @each $bp in map-keys($grid-breakpoints) {
        @include media-breakpoint-only($bp) {
            $key: unquote($tag + '-' + $bp);
            $font-size: map-get($font-sizes, $key);
            $line-height: map-get($line-heights, $key);
            @if $tag == i {
                #{$tag}::before,
                #{$tag}::after {
                    font-size: $font-size;
                    line-height: $line-height;
                }
            } @else {
                #{$tag} {
                    font-size: $font-size;
                    line-height: $line-height;
                }
            }
        }
    }
}

.font-condensed {
    font-stretch: condensed;
}
