@import "../variables";

@each $tag in h1, h2, h3, h4, h5, h6, p, small {
    @each $bp in map-keys($grid-breakpoints) {
        @include media-breakpoint-only($bp) {
            $key: unquote($tag + '-' + $bp);
            $font-size: map-get($font-sizes, $key);
            $line-height: map-get($line-heights, $key);
            @for $i from 1 through 4 {
                $height: $font-size * $line-height * $i;
                #{$tag}.text-lines-#{$i} { height: $height; }
                #{$tag}.text-max-lines-#{$i} { max-height: $height; }
            }
        }
    }
}

[class*="text-lines-"],
[class*="text-max-lines-"] {
    overflow: hidden;
    display: block;
}

.text-underline {
    text-decoration: underline !important;
}

.text-transform-none {
    text-transform: none !important;
}

.text-direction {
    direction: ltr !important;
}

.text-nocase {
    text-transform: initial !important;
}
