.pl-0-lg-down {
    @include media-breakpoint-down(lg) {
        padding-left: 0 !important;
    }
}

.pl-0-xl-up {
    @include media-breakpoint-up(xl) {
        padding-left: 0 !important;
    }
}

.pr-0-lg-down {
    @include media-breakpoint-down(lg) {
        padding-right: 0 !important;
    }
}

.px-0-md-down {
    @include media-breakpoint-down(md) {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}
