@import "./shapes";
@import "../variables";

@mixin swatch($color, $diameter: $swatch-size) {
    @include circle($color, $diameter);

    border: 0.0625rem solid rgba($black, 0.1);
    display: block;
    position: relative;

    &.disabled {
        opacity: 0.2;
    }

    &.selected {
        border-color: $white;
    }

    &.selected::after,
    &[data-selected=true]::after {
        content: '';
        border-radius: 100%;
        border: 0.0625rem solid $dove-gray;
        position: absolute;
        top: -$diameter * 0.125;
        left: -$diameter * 0.125;
        right: -$diameter * 0.125;
        bottom: -$diameter * 0.125;
    }
}
