#{$brand-page-type-2} {
    .main-container-clp > .experience-component > .section-container {
        @include media-breakpoint-down(lg) {
            max-width: none;
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .main-container-clp .carousel-title {
        color: $black;
        font-family: $brand-page-type-2-font rtl(#{$brand-page-type-2-font-rtl});
        font-weight: $font-weight-bold;
    }

    .main-container-clp {
        .btn {
            min-width: 10.125rem;
        }
    }

    .product-carousel {
        margin-top: 3.125rem;

        .container-actions {
            @include media-breakpoint-down(lg) {
                display: none;
            }
        }

        .carousel-title {
            font-size: fz(h2);
        }
    }

    .global-carousel.fullwidth-carousel {
        margin-bottom: 3.75rem;
        margin-bottom: 0;

        .image-fluid {
            height: auto;
            max-height: none;
            object-fit: fill;
        }

        .slick-dotted.slick-slider {
            margin-bottom: 0;
        }

        .slick-dots {
            position: absolute;
            bottom: 0;
            padding-bottom: 1.1875rem;
            background: transparent;
            font-size: 0;

            @include media-breakpoint-down(lg) {
                padding-bottom: 0.875rem;
            }

            > li {
                margin: 0 0.5625rem;

                > button {
                    background-color: transparent;
                    border: 0.0625rem solid $white;
                }
            }

            > li.slick-active > button {
                background-color: $white;
            }
        }

        .slick-slide {
            font-size: 0;

            .carousel-item {
                font-size: fz(body);
            }
        }

        .banner-carousel-cta {
            text-align: center;
        }

        .banner-carousel-item--transparent {
            @include media-breakpoint-up(xl) {
                .banner-carousel-cta {
                    width: 35%;
                }
            }
        }

        .banner-carousel-cta-title {
            min-height: 2.625rem;

            @include media-breakpoint-up(xl) {
                font-size: fz(h2);
                margin-bottom: 1.625rem;
            }
        }

        .btn-primary {
            min-width: 10.125rem;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            font-weight: $font-weight-medium;
        }

        .banner-carousel-cta-content {
            @include media-breakpoint-down(lg) {
                padding: 1.5rem 2.5rem;
                color: $black;
            }
        }

        .banner-carousel-cta-title {
            @include media-breakpoint-down(lg) {
                font-weight: $font-weight-bold;
            }
        }
    }

    .product-presentation-item,
    .banner-carousel-cta-content:hover,
    .global-carousel,
    .refinement-bar {
        .btn-primary,
        .btn-outline-primary {
            background-color: $white;
            color: $black;
            font-weight: $font-weight-medium;

            &,
            &:hover {
                border-color: $black;
                box-shadow: none;
            }

            &:hover,
            &:focus {
                background-color: $black;
                color: $white;
                box-shadow: none;
            }

            &:active {
                color: $black;
                background-color: transparent !important;
                border-color: $black !important;
                box-shadow: none !important;
            }
        }
    }

    .product-presentation-item {
        color: $black;
        font-weight: $font-weight-bold;
    }

    .product-presentation-item-name {
        font-size: fz(p17);
        font-weight: $font-weight-bold;
        margin-bottom: 0.9375rem;
    }

    .product-presentation-item-description {
        p:not(:last-child) {
            margin-bottom: 0.3125rem;
        }
    }

    .product-presentation-item-content {
        padding: 0 1.25rem;
    }

    .divider {
        border-color: $brand-page-type-2-border;
    }
}
