#{$brand-page-type-2} {
    .breadcrumb-item {
        text-transform: uppercase;
    }

    .maincontent {
        &,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .banner-carousel-cta-title,
        .brand-header {
            font-family: $brand-page-type-2-font rtl(#{$brand-page-type-2-font-rtl});
        }
    }

    // Hide Footer subscription for Chanel Pages

    .footer-newsletter {
        display: none !important;
    }

    &.dropdown-brandnav-opened {
        // Allow page scrolling while brand mobile menu is opened
        @include media-breakpoint-down(lg) {
            overflow: visible !important;
        }
    }

    .brand-header {
        @include media-breakpoint-up(lg) {
            margin-top: 0.5rem;
        }

        .brand-header-image-wrapper {
            background: $black;
            text-align: left;
            color: $white;
            padding: 1.5625rem 0;

            @include media-breakpoint-up(xl) {
                padding: 1.5625rem 0;
            }

            @include media-breakpoint-down(lg) {
                text-align: center;
                padding: 1.0625rem 0;
            }
        }

        .brand-header-image {
            width: 12rem;
            display: inline-block;

            @include media-breakpoint-down(lg) {
                width: 10.625rem;
            }

            img {
                max-width: 100%;
            }
        }

        .brand-header-navigation-container {
            margin-bottom: 0.625rem;

            @include media-breakpoint-up(xl) {
                @include make-container($gutter: $grid-gutter-width);
                @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);
            }
        }

        .brand-header-navigation {
            border-bottom: 0.0625rem solid $brand-page-type-2-border;
        }

        .brand-header-navigation-toggler {
            display: none;
        }

        .brand-header-navigation-list {
            justify-content: center;
            position: relative;
        }

        .nav-item {
            margin: 0 0.1875rem;
            position: static;

            > .nav-link {
                position: relative;
                text-transform: uppercase;
                color: $black;
                font-size: fz(p15);
                font-weight: $font-weight-bold;
                padding: 1.125rem 1.75rem;
                letter-spacing: 0.046875rem;

                @include media-breakpoint-down(lg) {
                    padding: 1.125rem 0.6875rem 1.0625rem;
                    font-size: fz(body);
                }

                &::after,
                .sc-icon-arrow {
                    display: none;
                }

                &:focus {
                    outline: none !important;
                }

                &::after {
                    display: block;
                    content: '';
                    position: absolute;
                    left: 0.3125rem;
                    right: 0.3125rem;
                    bottom: 0;
                    height: 0.25rem;
                    background-color: $black;
                    margin: 0;
                    opacity: 0;
                    transition: opacity $animation-duration ease-in-out;

                    @include media-breakpoint-down(lg) {
                        left: 0;
                        right: 0;
                    }
                }

                &.current,
                &.active {
                    &::after {
                        opacity: 1;
                    }
                }
            }

            @include media-breakpoint-up(xl) {
                &:hover > .nav-link::after {
                    opacity: 1;
                }
            }

            .dropdown-item {
                &:hover,
                &:focus,
                &:active,
                &.active {
                    background: none;
                }
            }
        }

        .nav-cat-level-0 {
            margin: 0 auto;
            border: 0;
            padding: 0.0625rem 0 0;
            background: none;
            float: none;
            width: 100% !important;
            left: 0 !important;
            height: auto !important;

            @include media-breakpoint-down(lg) {
                width: calc(100% - 5rem) !important;
                left: 0 !important;
                box-shadow: 0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.16);
            }

            > .container {
                background-color: $white;
                width: 56.25rem;
                max-height: 23.75rem;
                display: flex;
                flex-flow: column wrap;
                align-content: flex-start;
                padding: 1.25rem 3.75rem 1.875rem;
                box-shadow: 0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.16);

                @include media-breakpoint-down(lg) {
                    display: block;
                    width: 100%;
                    padding: 0.625rem 0;
                    max-height: none;
                    height: 100%;
                }

                > .dropdown-item {
                    padding: 0.125rem 1.5625rem;
                    max-width: 33%;
                    flex: 1 0 auto;

                    @include media-breakpoint-down(lg) {
                        max-width: 100%;
                        padding: 0;
                    }

                    > .dropdown-item-link-holder {
                        position: relative;

                        &.menu-expanded {
                            .nav-link-subnav-toggle {
                                left: auto;

                                &::before {
                                    transform: rotate(90deg);
                                }
                            }
                        }
                    }

                    > .dropdown-item-link-holder > .nav-link,
                    .dropdown-item-link {
                        font-weight: $font-weight-bold;
                        text-transform: uppercase;
                        color: $black;

                        @include media-breakpoint-down(lg) {
                            padding: 1.125rem 0.875rem;
                        }
                    }

                    .nav-link-subnav-toggle {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        padding: 0 1.375rem;
                        text-align: right;

                        &::before {
                            transform: rotate(0deg);
                            transition: transform $animation-duration ease-in-out;
                        }
                    }
                }

                .dropdown-submenu {
                    @include media-breakpoint-down(lg) {
                        display: none;
                        padding: 0 0.875rem;
                        margin: -0.8125rem 0 0.4375rem;

                        &.expanded {
                            display: block;
                        }
                    }
                }

                .main-menu-view-all {
                    display: none;
                }

                .nav-link {
                    @include text-truncate;

                    padding: 0.25rem 0;
                    font-size: fz(h4);
                    color: $brand-page-type-2-menu-link;

                    @include media-breakpoint-down(lg) {
                        padding: 0.34375rem 0;
                    }

                    &::after {
                        display: none;
                    }
                }
            }
        }

        .nav-cat-level-1 {
            display: block;
            position: relative;
            top: 0;
            margin: 0;
            min-width: 0;
            background: none;
            border: none;
            padding: 0;
            width: 100%;

            .dropdown-item {
                padding: 0;
            }
        }
    }
}
