.checkout-supported-payment-methods {
    background-color: $alabaster;
    color: $grey4;
    font-size: $font-size--2;
    font-weight: $font-weight-light;
    display: flex;
    justify-content: center;
    line-height: 1.5;
    position: relative;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    text-align: center;

    @include media-breakpoint-up(md) {
        display: none;
    }

    > .row {
        @include media-breakpoint-down(sm) {
            max-width: 21rem;
        }

        > .col-12 {
            flex: 1 0 auto;
        }
    }

    a {
        color: $grey4;
        text-decoration: underline;
    }
}

.checkout-supported-payment-method-icons {
    img {
        max-width: 1.875rem;
        margin-bottom: 0.5rem;
        margin-left: 0.65rem;
        margin-right: 0.65rem;
    }
}

// Cart
.next-step-box {
    .checkout-supported-payment-methods {
        margin-top: 1.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        @include media-breakpoint-down(sm) {
            display: none;
        }

        > .row {
            @include media-breakpoint-down(sm) {
                max-width: 100%;
            }
        }
    }
}

// Checkout
.order-total-summary {
    .checkout-supported-payment-methods {
        padding: 0;
        margin: 0;
    }
}

.next-step-box,
.order-total-summary {
    .checkout-supported-payment-methods {
        @include media-breakpoint-up(md) {
            display: flex;
        }
    }

    .checkout-supported-payment-method-icons {
        display: flex;
        justify-content: space-between;
        max-width: 17.5rem;
        margin: 0 auto;

        img {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

img.payment-options-item-image {
    width: 2.5rem;
    min-width: 2.5rem;
    margin-right: 1rem;
}
