.footer-wrapper {
    @include ipad(portrait) {
        max-width: 100%;
    }
}

.footer-newsletter {
    color: $secondary;

    @include media-breakpoint-down(lg) {
        background-color: $primary;
    }

    @include media-breakpoint-up(xl) {
        margin-top: -1.25rem;
    }

    > .container {
        background-color: $primary;
        padding: 1.5rem 1.25rem;
        margin-bottom: 0;

        @include media-breakpoint-only(xs) {
            max-width: 100%;
        }

        @include media-breakpoint-up(md) {
            padding: 2rem 1rem;
        }

        @include media-breakpoint-up(xl) {
            padding: 1.9rem 7.65rem 1.9rem 3.25rem;
            margin-bottom: 2.5rem;
        }

        > form {
            display: flex;
            flex-direction: column;

            @include media-breakpoint-up(xl) {
                flex-direction: row;
                justify-content: space-between;
            }

            > div {
                @include media-breakpoint-up(xl) {
                    width: 46%;
                    align-items: center;
                }
            }
        }
    }

    .form-control {
        border: 0;
        height: auto;

        @include media-breakpoint-up(xl) {
            background-clip: border-box;
            border: 0.0625rem solid $white;
            border-right: 0;
        }
    }
}

.footer-newsletter-description {
    font-family: $font-family-secondary;
    font-size: $font-size-6;
    font-weight: $font-weight-medium;
    margin-bottom: 0.625rem;
    text-align: center;

    @include media-breakpoint-up(xl) {
        font-size: $font-size-9;
        margin-bottom: 0;
        width: 48% !important;
        position: relative;
        top: 0.25rem;
    }
}

footer {
    border-top: 0.125rem solid $secondary;
    background-color: $white;
    color: $dove-gray;

    @include media-breakpoint-up(md) {
        border-top: 0;
    }

    @include media-breakpoint-up(xl) {
        border-top: 0.125rem solid $secondary;
    }

    .container {
        padding-top: 0.5rem;

        @include media-breakpoint-up(md) {
            padding-top: 1.25rem;
            padding-left: 0;
            padding-right: 0;
        }

        @include media-breakpoint-up(xl) {
            padding-top: 0;
        }
    }

    .container > .row {
        margin-right: 10px;
        margin-left: 10px;

        @include media-breakpoint-up(md) {
            margin-right: 0;
            margin-left: 0;
        }

        @include media-breakpoint-up(xl) {
            border-bottom: 0.0625rem solid $grey3;
            padding: 1.65rem 4.25rem;

            &:last-child {
                border-bottom: 0;
                padding-bottom: 1.75rem;
                padding-top: 1.45rem;
            }
        }
    }

    h3 {
        font-family: $font-family-base;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    a {
        color: $dove-gray;
        text-decoration: none;
    }
}

.footer-descriptions {
    > .content-asset {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        font-size: $font-size-base;
        font-weight: $font-weight-medium;
        font-style: italic;
        line-height: 1.4;

        @include media-breakpoint-up(xl) {
            font-size: $font-size--4;
        }

        a {
            color: $secondary;
        }

        > div {
            @include media-breakpoint-down(sm) {
                border-bottom: 0.0625rem solid $grey3;
                padding: 0.75rem 1rem 0.75rem 0;
            }

            @include media-breakpoint-up(md) {
                padding-bottom: 1.5rem;

                &:last-child {
                    border-bottom: 0.0625rem solid $grey3;
                }
            }

            @include media-breakpoint-up(xl) {
                padding-bottom: 0;

                &:last-child {
                    border-bottom: 0;
                }
            }
        }

        h3 {
            color: $secondary;
            font-size: $font-size-2;
            font-style: normal;
            font-weight: normal;
            text-transform: uppercase;
            display: flex;
            margin-bottom: 0.25rem;

            @include media-breakpoint-up(md) {
                font-size: $font-size-4;
                font-weight: $font-weight-medium;
                margin-bottom: 0.625rem;
            }

            @include media-breakpoint-up(xl) {
                align-items: center;
                font-size: $font-size--1;
                margin-bottom: 0.25rem;
            }

            > i {
                margin-right: 0.625rem;

                &::before {
                    font-size: $font-size-10;
                    width: 2rem;

                    @include media-breakpoint-up(xl) {
                        width: auto;
                    }
                }
            }

            > div {
                align-self: center;
            }

            .sc-icon-payment {
                position: relative;
                top: 0.125rem;

                &::before {
                    font-size: $font-size-6;
                    margin-bottom: 0.25rem;
                }
            }

            ~ span {
                margin-left: 2.7rem;

                @include media-breakpoint-up(md) {
                    margin-left: 0;
                    line-height: 2.1;
                }
            }
        }
    }
}

.footer-menu-vertical {
    > .content-asset {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;

        > div:not(:last-child) {
            @include media-breakpoint-down(lg) {
                border-bottom: 0.0625rem solid $grey3;
            }
        }

        h3 {
            cursor: pointer;
            color: $secondary;
            font-size: $font-size-2;
            font-weight: normal;
            text-transform: uppercase;
            padding: 0.75rem #{$grid-gutter-width / 2};
            margin: 0 #{-$grid-gutter-width / 2};
            display: flex;
            align-items: center;
            position: relative;

            @include media-breakpoint-up(md) {
                font-size: $font-size-4;
                font-weight: $font-weight-medium;
                padding: 1.25rem #{$grid-gutter-width / 2};
            }

            @include media-breakpoint-up(xl) {
                color: $dove-gray;
                font-size: $font-size--3;
                font-weight: $font-weight-bold;
                padding: 0.5rem 0 0.65rem;
            }

            > i {
                margin-left: auto;

                @include media-breakpoint-up(xl) {
                    display: none;
                }

                &::before,
                &::after {
                    margin: -0.0625rem 0 0 -0.4375rem;
                    width: 0.875rem;
                    height: 0.125rem;
                    background-color: $dove-gray;
                }
            }

            > .sc-icon-minus {
                display: none;
            }
        }

        ul {
            font-size: $font-size--1;
            font-weight: $font-weight-medium;
            font-style: italic;
            line-height: 2.2;
            overflow: hidden;
            height: 0;
            transition: height $animation-duration, padding-bottom $animation-duration;

            @include media-breakpoint-up(md) {
                font-size: $font-size-base;
                line-height: 2.6;
            }

            @include media-breakpoint-up(xl) {
                font-size: $font-size--3;
                line-height: 1.7;
                height: auto;
                overflow: initial;
            }

            li {
                display: flex;

                &::before {
                    content: '> ';
                    margin-right: 0.25rem;
                }
            }
        }

        .open {
            @include media-breakpoint-down(lg) {
                h3 {
                    > .sc-icon-plus {
                        display: none;
                    }

                    > .sc-icon-minus {
                        display: block;
                    }
                }
            }

            ul {
                height: auto;
                padding-bottom: 0.5rem;
                margin-top: -0.5rem;

                @include media-breakpoint-up(md) {
                    padding-bottom: 0.75rem;
                }

                @include media-breakpoint-up(xl) {
                    margin-top: 0;
                }
            }
        }
    }
}

.footer-social-media {
    padding-top: 1rem;
    text-align: center;

    @include media-breakpoint-up(xl) {
        padding-left: 8rem;
        text-align: left;
        padding-top: 0;
    }

    ul {
        display: flex;
        justify-content: center;
        height: auto !important;
        padding-bottom: 0.5rem;

        @include media-breakpoint-up(md) {
            padding-bottom: 0.75rem;
        }

        @include media-breakpoint-up(xl) {
            display: block;
            padding-bottom: 0;
        }
    }

    li {
        display: inline-block;

        &::before {
            display: none;
        }

        &:not(:last-child) {
            margin-right: 2.5rem;

            @include media-breakpoint-up(md) {
                margin-right: 4.25rem;
            }
        }

        @include media-breakpoint-up(xl) {
            display: block;
            margin-right: 0;
            margin-bottom: 0.45rem;
        }
    }

    a {
        display: flex;

        > i {
            text-align: center;

            @include media-breakpoint-up(xl) {
                margin-right: 0.75rem;
            }
        }

        > i::before {
            font-size: $font-size-2;

            @include media-breakpoint-up(md) {
                font-size: $font-size-6;
            }

            @include media-breakpoint-up(xl) {
                font-size: $font-size--1;
                width: 0.8rem;
                text-align: left;
            }
        }

        > span {
            font-weight: bold;
            font-size: $font-size--4;
            font-style: normal;
            display: none;

            @include media-breakpoint-up(xl) {
                display: inline;
                position: relative;
                top: 0.0625rem;
            }
        }
    }
}

.footer-menu-horizontal {
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 1.25rem;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 0;
    }

    .content-asset {
        margin: 0 auto;
    }

    ul {
        display: flex;
        font-size: $font-size--3;
        font-weight: $font-weight-bold;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    li {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        line-height: 1.75;

        @include media-breakpoint-up(md) {
            margin-right: 1rem;
            margin-left: 1rem;
            line-height: 1.5;
        }
    }
}

.footer-copyright {
    display: none;
    font-size: $font-size--5;
    font-weight: $font-weight-bold;
    text-align: center;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
        display: block;
    }

    > a img {
        width: 6rem;
        margin-bottom: 0.625rem;
    }
}

.footer-logo-only {
    border-top: 1px solid $grey3;

    @include media-breakpoint-down(lg) {
        padding-bottom: 1.25rem;
    }

    .footer-copyright {
        display: flex !important;
        flex-direction: column !important;
    }

    @include media-breakpoint-down(sm) {
        display: none;
    }
}
