// @import "../../../variables";
// @import "bootstrap/scss/mixins/breakpoints";

// *:focus {
//     outline: none !important;
// }

// .experience-component {
//     color: $secondary;
//     text-align: center;

//     .container-title {
//         font-size: $font-size-6;
//         font-weight: $font-weight-medium;
//         letter-spacing: $font-ls-1;
//         line-height: $font-lh--2;
//         margin-bottom: 1.25rem;
//         text-align: center;
//         text-transform: uppercase;

//         @include media-breakpoint-up(md) {
//             font-size: $font-size-12;
//         }

//         &::after {
//             display: none;
//         }
//     }

//     .container-description {
//         font-size: $font-size-2;
//         font-weight: normal;
//         line-height: $font-lh--4;
//     }

//     .common-image-component {
//         max-width: 100%;
//     }

//     .container-divider {
//         background: $tertiary;
//         display: block;
//         height: 0.0625rem;
//         width: 100%;
//     }
// }
