.clp-breadcrumb {
    .breadcrumb {
        max-width: $banner-max-width;

        li:first-child {
            margin-left: 5%;
        }
    }
}

.breadcrumb-container {
    background-color: transparent;
    font-family: $font-family-base;
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: block;

    @include media-breakpoint-up(md) {
        padding: 2rem 0 4rem;
    }

    .breadcrumb {
        background-color: transparent;
        color: $black;
        letter-spacing: 0.04em;
        padding: 0;
        font-size: $font-size--2;

        @include media-breakpoint-up(md) {
            font-size: $font-size--1;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-1;
        }

        a {
            &.breadcrumb-go-back {
                color: $black;
                padding-left: 1.5rem;
                position: relative;

                &::before {
                    content: " ";
                    position: absolute;
                    width: 1rem;
                    height: 1.3rem;
                    background: transparent url(../images/arrow_right_black.svg) no-repeat 100% 50%;
                    left: 0;
                    background-size: 0.7rem;
                    transform: rotate(180deg);

                    /* rtl:raw:
                        transform: rotate(0deg);
                    */
                }
            }
        }
    }
}

.breadcrumb-item {
    + .breadcrumb-item {
        &::before {
            content: "/";
            margin-top: 1px;
        }
    }
}

.breadcrumb-carousel-wrapper {
    height: 0;
    opacity: 0;
    margin-top: 1.25rem;

    &.active {
        height: auto;
        opacity: 1;
    }

    .breadcrumb-carousel {
        white-space: nowrap;
        overflow: hidden;

        &:hover {
            .slick-arrow {
                background: rgba(255, 255, 255, 0.5);

                &:hover {
                    background: rgba(255, 255, 255, 0.5);
                }
            }
        }

        .slick-arrow {
            height: 2.25rem;
            width: 2.1875rem;
            top: 45%;
            background-color: rgba(255, 255, 255, 0.5);
            z-index: 2;

            &::after,
            &::before {
                width: 0.75rem;
                background-color: $secondary;

                /* rtl:raw:
                    content: '';
                */
            }

            &:hover,
            &:focus {
                background-color: rgba(255, 255, 255, 0.5);
            }
        }

        .slick-prev {
            left: 0.3125rem;

            /* rtl:raw:
                left: 0.3125rem;
                right: auto;
            */

            @include media-breakpoint-up(lg) {
                left: 0.5rem;
            }

            @include media-breakpoint-up(xl) {
                left: 1.375rem;
            }
        }

        .slick-next {
            right: 0.3125rem;

            /* rtl:raw:
                right: 0.3125rem;
            */

            @include media-breakpoint-up(lg) {
                right: 0.5rem;
            }

            @include media-breakpoint-up(xl) {
                right: 1.25rem;
            }
        }
    }

    .breadcrumb-carousel-item {
        position: relative;
        display: inline-block;
        padding: 0 0.125rem;

        &.active {
            &:hover {
                cursor: default;

                .carousel-item-title {
                    cursor: default;
                }
            }

            &::after {
                content: "";
                position: absolute;
                background: rgba(255, 255, 255, 0.8);
                top: 0;
                left: 0;
                right: 0;
                bottom: 1.375rem;

                @include media-breakpoint-up(lg) {
                    bottom: 1.5625rem;
                }
            }

            .carousel-item-title {
                color: $dark-grey;
            }
        }
    }

    .carousel-item-image {
        max-width: 100%;
    }

    .carousel-item-title {
        font-size: $font-size--2;
        letter-spacing: $font-ls-6;
        line-height: $font-lh--1;
        text-transform: uppercase;
        margin-top: 0.5625rem;
        white-space: nowrap;
        overflow: hidden;
        color: $black;

        @include media-breakpoint-up(lg) {
            font-size: $font-size-base;
        }
    }
}

.breadcrumb-view-more {
    display: none;

    &::before {
        transition: $animation-default;
    }
}
