.footer-wrapper {
    @include ipad(portrait) {
        max-width: 100%;
    }
}

.footer-newsletter-description {
    font-family: $font-family-secondary;
    font-size: $font-size-6;
    font-weight: $font-weight-medium;
    margin-bottom: 0.625rem;
    text-align: center;

    @include media-breakpoint-up(xl) {
        font-size: $font-size-9;
        margin-bottom: 0;
        width: 48% !important;
        position: relative;
        top: 0.25rem;
    }
}

footer {
    background-color: $white;
    color: $dove-gray;
    margin-top: 3rem;
    border-top: 0.0625rem solid $border-color;

    h3 {
        font-family: $font-family-base;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    a {
        color: $dove-gray;
        text-decoration: none;
    }
}

.footer-descriptions {
    > .content-asset {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        font-size: $font-size-base;
        font-weight: $font-weight-medium;
        font-style: italic;
        line-height: 1.4;

        @include media-breakpoint-up(xl) {
            font-size: $font-size--4;
        }

        a {
            color: $secondary;
        }

        > div {
            @include media-breakpoint-down(sm) {
                border-bottom: 0.0625rem solid $border-color;
                padding: 0.75rem 1rem 0.75rem 0;
            }

            @include media-breakpoint-up(md) {
                padding-bottom: 1.5rem;

                &:last-child {
                    border-bottom: 0.0625rem solid $border-color;
                }
            }

            @include media-breakpoint-up(xl) {
                padding-bottom: 0;

                &:last-child {
                    border-bottom: 0;
                }
            }
        }

        h3 {
            color: $secondary;
            font-size: $font-size-2;
            font-style: normal;
            font-weight: normal;
            text-transform: uppercase;
            display: flex;
            margin-bottom: 0.25rem;

            @include media-breakpoint-up(md) {
                font-size: $font-size-4;
                font-weight: $font-weight-medium;
                margin-bottom: 0.625rem;
            }

            @include media-breakpoint-up(xl) {
                align-items: center;
                font-size: $font-size--1;
                margin-bottom: 0.25rem;
            }

            > i {
                margin-right: 0.625rem;

                &::before {
                    font-size: $font-size-10;
                    width: 2rem;

                    @include media-breakpoint-up(xl) {
                        width: auto;
                    }
                }
            }

            > div {
                align-self: center;
            }

            .sc-icon-payment {
                position: relative;
                top: 0.125rem;

                &::before {
                    font-size: $font-size-6;
                    margin-bottom: 0.25rem;
                }
            }

            ~ span {
                margin-left: 2.7rem;

                @include media-breakpoint-up(md) {
                    margin-left: 0;
                    line-height: 2.1;
                }
            }
        }
    }
}

.footer-menu-vertical {
    margin-bottom: 4rem;

    @include media-breakpoint-up(lg) {
        margin-top: 1.5rem;
    }

    @include media-breakpoint-up(xl) {
        margin-top: 2.5rem;
    }

    > .content-asset {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;

        > div:not(:last-child) {
            @include media-breakpoint-down(lg) {
                border-bottom: 0.0625rem solid $border-color;
            }
        }

        h3 {
            cursor: pointer;
            color: $black;
            font-size: $font-size-2;
            font-weight: normal;
            text-transform: uppercase;
            padding: 1rem 0 0.9rem;
            display: flex;
            align-items: center;
            position: relative;
            font-family: $font-family-secondary;
            border-top: solid 1px $border-color;
            margin-bottom: 0;

            @include media-breakpoint-up(md) {
                font-size: $font-size-base;
                padding: 1.5rem 0 1.3rem;
            }

            @include media-breakpoint-up(lg) {
                font-size: $font-size-2;
                margin-bottom: 0.5rem;
                border: 0;
                padding: 1rem 0 0.5rem;
            }

            @include media-breakpoint-up(xl) {
                margin-bottom: 0.3rem;
                font-size: $font-size-4;
            }

            &::after {
                background: transparent url(../images/caret-down.svg) no-repeat 0 50%;
                display: inline-block;
                position: absolute;
                right: 0;
                content: "";
                width: 1rem;
                height: 1rem;
                top: calc(50% - 0.5rem);

                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }
        }

        ul {
            font-size: $font-size--2;
            overflow: hidden;
            height: 0;
            transition: height $animation-duration, padding-bottom $animation-duration;
            letter-spacing: $font-ls-4;

            @include media-breakpoint-up(md) {
                font-size: $font-size-base;
            }

            @include media-breakpoint-up(lg) {
                font-size: $font-size-base;
                height: auto;
                overflow: initial;
            }

            @include media-breakpoint-up(xl) {
                font-size: $font-size-1;
            }

            li {
                display: flex;
                margin-bottom: 0.2rem;
                justify-content: flex-start;

                @include media-breakpoint-up(xl) {
                    margin-bottom: 0.4rem;
                }
            }
        }

        .open {
            ul {
                height: auto;
                margin-bottom: 1rem;

                @include media-breakpoint-up(lg) {
                    margin-bottom: 0;
                }
            }

            h3 {
                &::after {
                    background-image: url(../images/caret-up.svg);
                }
            }
        }
    }
}

.footer-social-media-newsletter-container {
    .title {
        font-family: $font-family-tertiary;
        font-size: $font-size--2;
        letter-spacing: $font-ls-3;
        color: $primary;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 1rem;

        @include media-breakpoint-up(md) {
            text-align: left;
            margin-bottom: 3rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size--1;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-1;
        }

        /* rtl:raw:
            text-align: right;
        */
    }

    .social-media-newsletter-wrapper {
        padding-top: 1rem;
        padding-bottom: 2rem;

        @include media-breakpoint-up(md) {
            padding-top: 3.5rem;
            padding-bottom: 4.5rem;
        }

        .social-media-icon {
            width: 1.25rem;
            height: 1.25rem;
            line-height: 1.25rem;
            display: block;
            background-repeat: no-repeat;

            @include media-breakpoint-up(lg) {
                width: 1.75rem;
                height: 1.75rem;
                line-height: 1.75rem;
            }

            @include media-breakpoint-up(xl) {
                width: 2.1875rem;
                height: 2.1875rem;
                line-height: 2.1875rem;
            }
        }

        .btn {
            @include media-breakpoint-down(md) {
                height: 100%;
            }
        }
    }

    .social-media-newsletter-wrapper:last-child {
        @include media-breakpoint-down(sm) {
            border-top: 0.0625rem solid $border-color;
        }
    }
}

.footer-menu-horizontal {
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 1.25rem;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 0;
    }

    .content-asset {
        margin: 0 auto;
    }

    ul {
        display: flex;
        font-size: $font-size--3;
        font-weight: $font-weight-bold;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    li {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        line-height: 1.75;

        @include media-breakpoint-up(md) {
            margin-right: 1rem;
            margin-left: 1rem;
            line-height: 1.5;
        }
    }
}

.footer-copyright {
    border-top: solid 1px $border-color;
    padding: 1.5rem 0 1.3rem;
    text-align: center;

    @include media-breakpoint-up(lg) {
        border: 0;
    }
}

.footer-logo-only {
    border-top: 1px solid $border-color;

    @include media-breakpoint-down(lg) {
        padding-bottom: 1.25rem;
    }

    .footer-copyright {
        display: flex !important;
        flex-direction: column !important;
    }

    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.footer-info-bar {
    background-color: $black;
    font-family: $font-family-secondary;
    font-size: $font-size--3;
    letter-spacing: $font-ls-4;
    padding: 0.5rem 0 0.45rem;
    color: $white;

    @include media-breakpoint-up(sm) {
        font-size: $font-size--2;
    }

    @include media-breakpoint-up(lg) {
        font-size: $font-size-base;
    }

    a {
        color: $white;
    }
}

.footer-top-menu {
    font-size: $font-size--2;
    font-family: $font-family-base;
    color: $primary;
    padding: 1rem 0 2.1rem;
    letter-spacing: $font-ls-3;

    @include media-breakpoint-up(lg) {
        border-bottom: solid 1px $border-color;
        font-size: $font-size--1;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-1;
        padding: 2rem 0 2.4rem;
    }

    a {
        color: $primary;
        display: block;
        margin-bottom: 0.4rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 0;
            display: inline-block;
        }

        &:hover {
            color: $primary-hover;
        }
    }
}

.footer-top-section {
    margin: 5rem 0;

    a {
        display: block;
        margin-bottom: 0.3rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        }

        /* rtl:raw:
            text-align: right;
        */

        &::after {
            content: " ";
            clear: both;
            display: table;
        }
    }

    .footer-top-image {
        display: block;
        height: 4.25rem;
        overflow: hidden;
        width: 9.25rem;
        float: left;
        margin-right: 0.7rem;

        @include media-breakpoint-up(md) {
            width: 100%;
            height: 6.65rem;
            float: none;
            margin-right: 0;
            margin-bottom: 0.6rem;
        }

        @include media-breakpoint-up(lg) {
            height: 8.8rem;
            margin-bottom: 1.2rem;
        }

        @include media-breakpoint-up(xl) {
            height: 11.6rem;
        }

        img {
            height: 100%;
            min-width: 9.25rem;

            @include media-breakpoint-up(md) {
                margin-left: -0.4rem;
            }

            @include media-breakpoint-up(lg) {
                margin-left: 0;
            }
        }
    }

    .footer-top-title {
        font-family: $font-family-secondary;
        letter-spacing: $font-ls-9;
        font-size: $font-size-2;
        display: block;
        color: $black;

        @include media-breakpoint-up(lg) {
            font-size: $font-size-4;
            margin-bottom: 0.8rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-6;
        }
    }

    .footer-top-description {
        font-family: $font-family-base;
        letter-spacing: $font-ls-8;
        font-size: $font-size--2;
        color: $info-text;
        line-height: $font-lh--1;
        display: none;

        @include media-breakpoint-up(md) {
            display: block;
            margin-bottom: 0.2rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-2;
            margin-bottom: 1rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-4;
        }
    }

    .footer-top-link {
        font-family: $font-family-tertiary;
        letter-spacing: $font-ls-10;
        font-size: $font-size--4;
        display: inline-block;
        color: $black;
        background: transparent url(../images/arrow_right_black.svg) no-repeat 100% 30%;
        padding-right: 1.5rem;
        background-size: 0.5rem;

        @include media-breakpoint-up(md) {
            font-size: $font-size--2;
            background-size: 0.5rem;
        }

        @include media-breakpoint-up(lg) {
            background-size: 0.55rem;
            font-size: $font-size--1;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-1;
        }

        /* rtl:raw:
            background: transparent url(../images/arrow_left_black.svg) no-repeat 0 30%;
            padding-left: 1.5rem;
            padding-right: 0;
        */
    }
}
