/* rtl:begin:ignore */
.noUi-target {
    background: $product-tile;
    border-radius: 4px;
    border: 0.0625rem solid $target-border;
    box-shadow: inset 0 0.0625rem 0.0625rem $target-shadow, 0 0.1875rem 0.375rem -0.3125rem $target-shadow2;

    /* rtl:ignore */
    direction: ltr;
}

.noUi-connect {
    background: $black;
}

.noUi-connects {
    background: $white;
}

.noUi-horizontal {
    height: 0.25rem;
    margin-right: 0.5rem;
    margin-left: 0.6875rem;
}

html[dir="rtl"] .noUi-horizontal {
    margin-right: 1.25rem;
    margin-left: 0;
}

.noUi-handle {
    border: 0.0625rem solid $black;
    border-radius: 0;
    box-shadow: none;

    &::before,
    &::after {
        display: none;
    }
}

.noUi-horizontal .noUi-handle {
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    left: 0;
    top: -0.5625rem;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    left: auto;
    right: 0;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle-lower {
    margin-right: -0.5rem;
}

.slider-active {
    .noUi-handle {
        border-color: $black;
    }

    .noUi-connect {
        background: $secondary;
    }
}

/* rtl:end:ignore */
