$mobile-nav-width: 18.125rem;

.main-menu {
    text-transform: uppercase;
    font-family: $font-family-tertiary;

    .navbar {
        padding: 0;
    }

    .navbar-nav {
        justify-content: center;

        > .nav-item {
            .nav-link {
                font-size: $font-size-base;

                @include media-breakpoint-up(lg) {
                    font-size: $font-size-1;
                }
            }

            .dropdown-items-container {
                .nav-link {
                    font-size: $font-size-base;
                    white-space: normal;

                    @include media-breakpoint-up(lg) {
                        font-size: $font-size--1;
                    }

                    @include media-breakpoint-up(xl) {
                        font-size: $font-size-1;
                    }
                }
            }
        }
    }

    .nav-link {
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
        line-height: $font-lh--10;
    }

    .menu-group {
        flex: 0 0 100%;

        .nav-link-icon {
            margin-right: 0.7rem;
        }

        .link {
            font-size: $font-size--3 !important;
            font-weight: $font-weight-bold !important;
            text-transform: none;
        }

        .nav-link {
            display: flex;
            align-items: center;
            position: relative;

            &.dropdown-toggle {
                @include media-breakpoint-up(lg) {
                    padding-bottom: 1.875rem;
                    margin-bottom: 0;
                }
            }

            &:hover,
            &.active {
                color: $grey3;
            }

            .sc-icon-home {
                margin: 0.175rem 0.7rem 0 0;

                @include ipad() {
                    margin: 0.375rem 0.7rem 0 0;
                }
            }

            .sc-icon-plus,
            .sc-icon-minus {
                width: 0.8rem;
                height: 0.8rem;
                transform: none;

                &::before,
                &::after {
                    display: none;
                }
            }

            .sc-icon-plus {
                background: transparent url(../images/plus_tide.svg) no-repeat 50% 100%;
                background-size: 10px;
                display: inline-block;

                .show & {
                    display: none;
                }
            }

            .sc-icon-minus {
                background: transparent url(../images/minus_tide.svg) no-repeat 50% 100%;
                background-size: 10px;
                display: none;

                .show & {
                    display: inline-block;
                }
            }
        }
    }

    .nav-item > .dropdown-menu {
        > ul > .dropdown-item {
            > .dropdown-menu {
                .dropdown-item {
                    .dropdown-link {
                        text-transform: none;
                    }
                }
            }
        }

        .dropdown-menu,
        .dropdown-menu > ul {
            flex-direction: column;
        }
    }

    .show {
        > .expanded {
            .sc-icon-plus {
                display: none;
            }

            .sc-icon-minus {
                display: block;
            }
        }
    }

    .dropdown-item {
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: $white;
        }
    }
}

.dropdown-items-container {
    font-size: 0;
    padding-left: 0;

    @include media-breakpoint-up(lg) {
        margin-bottom: 1rem;
    }

    .dropdown-item {
        position: relative;
        padding: 0 1.5rem 0 0.75rem;

        @include media-breakpoint-up(lg) {
            width: 50%;
            display: inline-block;

            &:nth-child(odd) {
                padding-left: 0.75rem;
            }

            &:nth-child(even) {
                padding-left: 1.4375rem;

                .sc-icon-arrow-next {
                    right: 0;

                    @include media-breakpoint-up(xl) {
                        right: 0.625rem;
                    }
                }
            }

            &.main-menu-slot {
                width: 100%;
            }
        }

        &.active,
        &:active {
            color: $primary;
        }

        &.full-width {
            width: 100%;
        }

        .sc-icon-arrow-next {
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -0.3125rem;
            transform: translateY(-50%) rotate(90deg);

            @include media-breakpoint-up(xl) {
                right: 0.375rem;
            }

            &::before,
            &::after {
                width: 0.4375rem;
                background-color: $menu-arrow;
            }
        }
    }
}

.top-category-mobile {
    padding: 0.375rem 1.5rem 1.0625rem 1.1875rem;
}

.top-category {
    font-family: $font-family-secondary;
    letter-spacing: $font-ls-9;
    font-size: $font-size-2;
    line-height: $font-lh--1;
    margin-top: 0.75rem;
    margin-bottom: 1.25rem;
    padding: 0.1875rem 0 0.1875rem 0.75rem;
    color: $primary;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-6;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 1.0625rem;
    }

    &.active,
    &:active {
        color: $primary;
    }
}

.main-menu-slot {
    padding: 0.5rem 0.4375rem 1.875rem 0.875rem;

    @include media-breakpoint-up(xl) {
        padding: 0.3125rem 1.25rem 1.875rem 0.875rem;
    }

    .menu-banner-image {
        width: 100%;
        max-height: 8.75rem;
        object-fit: cover;

        @include media-breakpoint-up(xl) {
            max-height: 11.625rem;
        }
    }

    .menu-banner-title {
        font-family: $font-family-secondary;
        letter-spacing: $font-ls-9;
        font-size: $font-size-2;
        line-height: $font-lh--1;
        margin-top: 0.75rem;
        color: $primary;

        @include media-breakpoint-up(lg) {
            font-size: $font-size-4;
            margin-top: 1rem;
            margin-bottom: 0.6875rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-6;
            margin-top: 1.5625rem;
            margin-bottom: 0.5rem;
        }
    }

    .menu-banner-link {
        position: relative;
        display: inline-block;
        margin-top: 0.4375rem;
        letter-spacing: $font-ls-3;
        font-size: $font-size-base;

        @include media-breakpoint-up(lg) {
            margin-top: 0;
            font-size: $font-size--1;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 0.8125rem;
            font-size: $font-size-1;
        }

        .sc-icon-arrow-next {
            margin-left: -0.25rem;
            margin-top: 0.1875rem;
            display: inline-block;

            @include media-breakpoint-up(xl) {
                margin-left: 0.125rem;
                margin-top: 0.1875rem;
            }

            &::before,
            &::after {
                width: 0.3125rem;
                background-color: $menu-arrow;
            }
        }
    }
}

.dropdown-close-container {
    .dropdown-close {
        color: $info-text;
        font-size: $font-size-base;
        letter-spacing: $font-ls-8;

        @include media-breakpoint-up(lg) {
            font-size: $font-size-2;
        }

        .sc-icon-arrow-next {
            transform: rotate(0);
            vertical-align: bottom;

            &::before,
            &::after {
                width: 0.4375rem;
                background-color: $menu-arrow;
            }
        }
    }
}

.main-menu-close-overlay {
    display: none;
}

@include media-breakpoint-down(md) {
    .main-menu {
        background-color: transparent;
        display: none;
        overflow: auto;
        position: fixed;
        left: 0;
        top: 0 !important;
        bottom: 0;
        width: 100%;
        z-index: 4;

        .navbar {
            background-color: $white;
        }

        .sc-icon-cross {
            &::before,
            &::after {
                background-color: $dove-gray-secondary;
            }
        }

        > .main-menu-inline {
            max-width: $mobile-nav-width;
            background-color: $black;
            z-index: 3;
            height: 100%;
            position: relative;

            .navbar-toggler {
                position: absolute;
                right: -3.0625rem;
                top: 0;
                z-index: $zindex-sticky - 1;
                background: $white;
                height: 3.1875rem;
                width: 3.08rem;
                padding-top: 0.3125rem;

                .sc-icon-cross {
                    opacity: 1 !important;
                    top: -0.35rem;
                    position: relative;
                }
            }

            .site-search {
                width: 100%;
                background-color: $white;
                padding: 0.4375rem 1.5rem;
                border: 0.125rem solid $mosaic-bg;
                letter-spacing: $font-ls-17;
                font-size: $font-size--1;
                border-top: none;
                border-left: none;

                .search-field {
                    background-color: $white;
                    color: $dove-gray-secondary;
                    padding: 0.625rem 0.2rem 0.5rem 0;

                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        font-size: $font-size-2;

                        @include media-breakpoint-up(md) {
                            font-size: $font-size--1;
                        }
                    }

                    &::-moz-placeholder { /* Firefox 19+ */
                        font-size: $font-size-2;

                        @include media-breakpoint-up(md) {
                            font-size: $font-size--1;
                        }
                    }

                    &:-ms-input-placeholder { /* IE 10+ */
                        font-size: $font-size-2;

                        @include media-breakpoint-up(md) {
                            font-size: $font-size--1;
                        }
                    }

                    &:-moz-placeholder { /* Firefox 18- */
                        font-size: $font-size-2;

                        @include media-breakpoint-up(md) {
                            font-size: $font-size--1;
                        }
                    }
                }

                .sc-icon-search {
                    margin: 0.3125rem -0.125rem 0 0;

                    &::before {
                        color: $dove-gray-secondary;
                        font-size: $font-size-5;
                    }
                }
            }
        }

        .menu-group {
            margin-top: 1.75rem;

            .nav-link {
                border-bottom: 0.0625rem solid $mosaic-bg;
                padding: 0.875rem 1.5rem;
                font-size: $font-size-base;
                letter-spacing: $font-ls-17;
                color: $dove-gray-secondary;

                &::after {
                    display: none;
                }

                &.expanded {
                    background-color: $mosaic-bg;
                    font-weight: $font-weight-semi-bold;
                    margin-top: -0.1875rem;
                    padding-top: 1.0625rem;
                }

                &:hover,
                &.active {
                    color: $dove-gray-secondary;
                }

                .sc-icon-plus,
                .sc-icon-minus {
                    margin-left: auto;
                    margin-right: 0;
                }
            }
        }

        .dropdown-menu {
            border: 0;
            border-radius: 0;
            margin: 0;
            padding: 0;
            background-color: $mosaic-bg;
            font-family: $font-family-base;

            .top-category {
                color: $dove-gray-secondary;
                font-family: $font-family-tertiary;
                letter-spacing: $font-ls-17;
                font-size: $font-size-base;
                padding-left: 1.1875rem;
            }

            ul {
                max-width: 100% !important;

                .dropdown-item {
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }

        .show {
            > .dropdown-menu {
                display: block;
            }
        }

        .dropdown-item {
            padding: 0;

            .nav-link {
                padding: 0.375rem 1.5rem 1.0625rem 1.1875rem;

                + .sc-icon-arrow-next {
                    display: none;
                }
            }

            > .dropdown-menu > ul > .dropdown-item > .nav-link {
                padding-left: 4rem;

                + .dropdown-menu > ul > .dropdown-item > .nav-link {
                    padding-left: 5rem;

                    + .dropdown-menu > ul > .dropdown-item > .nav-link {
                        padding-left: 6rem;
                    }
                }
            }
        }

        .main-menu-mobile-login {
            background-color: $mosaic-bg;
            padding: 0.875rem 1.5rem 0.25rem;

            .main-menu-mobile-login-title {
                margin-bottom: 0.25rem;
                font-family: $font-family-secondary;
                font-size: $font-size--2;
                letter-spacing: $font-ls-8;
                line-height: $font-lh;
            }

            .nav-link {
                font-family: $font-family-base;
                font-size: $font-size-base;
                letter-spacing: $font-ls-19;
                padding-left: 0;

                svg {
                    width: 1rem;
                    margin-right: 0.5rem;
                    top: -0.2rem;
                    position: relative;
                }
            }
        }

        .main-menu-mobile-bottom {
            padding: 1.5625rem 1.625rem 0 1.5rem;
            background-color: $black;

            .main-menu-mobile-country-selector {
                border-top: 0.0625rem solid $white;
                border-bottom: 0.0625rem solid $white;
                padding: 0.5625rem 0 0.3125rem;
                margin-bottom: 0.6rem;
                color: $white;

                .main-menu-mobile-country-selector-title {
                    font-size: $font-size--4;
                    letter-spacing: $font-ls-18;
                    margin-bottom: 0.3125rem;
                }

                .country-selector-link {
                    font-size: $font-size--4;
                    color: $white;
                    letter-spacing: $font-ls-2;
                    padding-left: 0.125rem;

                    .flag-icon,
                    .header-top-seperator {
                        display: none;
                    }
                }
            }
        }
    }

    .main-menu-close-overlay {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: calc(100% - #{$mobile-nav-width});
        z-index: 1;
        cursor: pointer;

        .mobile-navbar-open & {
            display: block;
        }
    }
}

@include media-breakpoint-up(lg) {
    .main-menu {
        display: block !important;
        top: 0 !important;
        padding-top: 1.1rem;
        padding-bottom: 0;
        transition: padding-top $animation-duration;

        > .navbar {
            .site-search {
                display: none;
            }
        }

        .menu-group {
            .nav-link {
                padding: 0.375rem 0;
                transition: color $animation-duration, padding-top $animation-duration, padding-bottom $animation-duration;
                letter-spacing: 0.06em;

                /* rtl:remove */
                font-size: $font-size--1;

                /* rtl:raw:
                    font-size: #{$font-size-base};
                */

                &::before,
                &::after {
                    display: none;
                    position: absolute;
                }
            }

            .dropdown-item {
                white-space: normal;
            }
        }

        .nav-item > .nav-link {
            padding-left: 1.2rem;
            padding-right: 1.2rem;

            &::before {
                content: '';
                bottom: -0.125rem;
                border-bottom: 0.125rem solid $menu-link;
                background-color: $menu-link;
                left: 1.2rem;
                right: 1.2rem;
            }

            &::after {
                $arrow-size: 0.4375rem;

                content: '';
                border-top: $arrow-size solid $menu-link;
                border-left: $arrow-size solid transparent;
                border-right: $arrow-size solid transparent;
                bottom: -$arrow-size;
                margin-left: -$arrow-size;
                left: 50%;
            }
        }

        .nav-item > .nav-link.current:not(.active) {
            &::after {
                display: none;
            }
        }

        .nav-cat-level-0 {
            border: 0;
            border-top: 0.0625rem solid $primary-hover;
            border-bottom: 0.0625rem solid $primary-hover;
            border-radius: 0;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0;
            top: 3.5rem #{"/*rtl:3.1rem*/"};
            overflow-y: auto;
            padding-top: 1.1875rem;
            padding-bottom: 1.875rem;

            ul.container {
                background-color: $white;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-wrap: wrap;
            }

            > ul > .dropdown-item {
                padding: 0.25rem 0.75rem 2.5rem;
                max-width: 16.5rem;
                flex: 1 0 auto;

                > .nav-link-only-name,
                > .nav-link-with-thumbnail.dropdown-toggle {
                    font-size: $font-size-base;
                    margin-bottom: 0.75rem;
                    padding: 0.6rem 0.5rem !important;
                    justify-content: flex-start;
                    align-items: center;
                }

                > .nav-link-with-thumbnail {
                    &:not(.dropdown-toggle) {
                        flex-direction: column;
                        font-size: $font-size--1;
                        padding: 0;
                        margin: 0;

                        > img {
                            width: 100%;
                        }
                    }

                    &.dropdown-toggle {
                        justify-content: flex-start;

                        > img {
                            margin-right: 0.75rem;
                            margin-left: -0.5rem;
                            max-width: 5.25rem;
                        }
                    }
                }
            }

            .dropdown-menu {
                border: 0;
                display: flex;
                flex-direction: column;
                position: relative;
            }
        }

        .nav-cat-level-1 {
            padding: 0;

            > ul > .dropdown-item {
                padding-top: 0.375rem;
                padding-bottom: 0.375rem;
            }

            .nav-link-only-name,
            .nav-link-with-count {
                font-size: $font-size--1;
                font-weight: $font-weight-semi-bold;
                padding-top: 0;
                padding-bottom: 0;
            }

            .nav-link-with-thumbnail.nav-link-with-count {
                text-transform: uppercase !important;
                margin-left: -1.5rem;
                margin-right: -1.5rem;

                > img {
                    margin-right: 0.75rem;
                    max-width: 5.25rem;
                }
            }
        }

        .product-tile {
            .tile-body {
                padding-bottom: 0;
                white-space: normal;
            }

            .price-container,
            .badges-container,
            .ratings-container {
                height: auto;
            }

            .name-container {
                height: 2rem;
            }

            .price-container {
                margin-bottom: 0.6rem;
            }

            .badges-container {
                margin-bottom: 0.85rem;
            }

            .ratings-container {
                margin-bottom: 1.1rem;
            }

            .image-container {
                .tile-image {
                    max-height: 206px;
                    width: auto;
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .main-menu {
        .nav-cat-level-0 {
            padding-top: 1.3125rem;
        }

        .menu-group {
            .nav-link {
                font-size: $font-size-1;
            }
        }
    }
}

.navbar-quick-menu {
    border-top: 0.0625rem solid $border-color;
    background-color: $gallery-gray;
    color: $black;
    display: flex;
    align-items: stretch;
    list-style: none;
    margin: 0;
    padding: 0.6875rem 0;
    width: 100%;
    text-align: center;

    .nav-item {
        flex: 1 0 0;
        margin: 0;
        padding: 0.2rem 0.5rem 0.3rem;

        &:not(:last-child) {
            border-right: 0.0625rem solid $border-color;
        }
    }

    .nav-link {
        padding: 0 0.75rem;

        > i {
            display: block;
            margin-bottom: 0.875rem;

            &::before {
                font-size: $font-size-18;
            }
        }
    }
}

.mobile-menu-overlay {
    display: none;

    .mobile-navbar-open & {
        opacity: 0.7;
        display: block;
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $black;
        transition: all 0.3s ease;
        cursor: pointer;
    }
}

.menu-slider {
    position: relative;
}

.menu-slider-prev,
.menu-slider-next {
    position: absolute;
    top: 0;
    display: none;

    @include media-breakpoint-up(md) {
        display: block;
    }

    i {
        width: 1.5rem;
        top: 0;
        margin: 0;
    }
}

.menu-slider-prev {
    /* rtl:ignore */
    left: -2rem;
}

.menu-slider-next {
    /* rtl:ignore */
    right: -2rem;
}
