.modal-header {
    padding-bottom: 0;
    z-index: 1;

    .close {
        display: inline-block;
        transform: rotate(90deg);
        position: absolute;
        margin: 0;
        padding: 0;
        top: 1rem;
        right: 1rem;
        width: 1.125rem;
        height: 1.125rem;
        opacity: 1;

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            border-radius: 0.3125rem;
            top: 50%;
            left: 50%;
            margin: -0.0625rem 0 0 -0.78125rem;
            width: 1.5625rem;
            height: 0.125rem;
            background-color: $secondary;
        }

        &::before {
            transform: rotate(-45deg) translate(0) translateZ(0);
        }

        &::after {
            transform: rotate(45deg) translate(0) translateZ(0);
        }

        > span {
            display: none;
        }
    }
}

.modal-title {
    font-size: $font-size-8;
    font-weight: $font-weight-base;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 0.5rem;
    text-align: center;
    width: 100%;

    &::after {
        content: '';
        display: block;
        border-bottom: 0.125rem solid $secondary;
        margin: 0 auto;
        padding-top: 0.5rem;
        margin-top: 0.375rem;
        width: 1.625rem;
    }
}

.mobile-modal {
    display: none;

    @include media-breakpoint-down(md) {
        background-color: $white;
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1040;
    }

    &.open {
        display: block;
    }
}

.mobile-modal-header {
    border-bottom: 0.0625em solid $border-color;
    padding: 1.145rem 0;
    position: relative;
    text-align: center;

    .btn-close {
        position: absolute;
        top: 1rem;
        right: 0.85rem;

        .sc-icon-cross {
            position: relative;
            top: -0.2125rem;

            &::before,
            &::after {
                width: 1.325rem;
            }
        }
    }
}

.mobile-modal-title {
    font-size: $font-size-8;
    font-family: $font-family-base;
    font-weight: $font-weight-medium;
    margin-bottom: 0;
    align-self: center;
    text-transform: none;
    text-align: center;
    width: 100%;
}

.mobile-modal-body {
    padding: 0.75rem 1.3125rem 0;
    position: relative;
    overflow: auto;
    max-height: calc(100% - 10.5rem);

    @include media-breakpoint-up(md) {
        padding: 0.75rem 2.4375rem 0;
        min-height: 29.875rem;
        max-height: calc(100% - 12rem);
    }

    @include media-breakpoint-up(lg) {
        padding: 0;
        min-height: 0;
        max-height: 100%;
        overflow: hidden;
    }
}

.mobile-modal-footer {
    background: $white;
    padding: 0 1.3125rem 1.3125rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    @include media-breakpoint-up(md) {
        padding: 0 2.4375rem 2.4375rem;
    }

    @include media-breakpoint-up(lg) {
        position: static;
        padding: 0;
    }

    > .btn {
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
        padding: 0.8125rem 0.5rem 0.8rem;
        margin: 2rem auto 0;
        display: block;
        width: 100%;

        @include media-breakpoint-up(md) {
            width: 50%;
        }

        @include media-breakpoint-up(lg) {
            width: 100%;
        }
    }
}

.mobile-safari .refinement-bar.open {
    @media (orientation: $landscape) {
        .mobile-modal-body {
            max-height: initial;
        }

        .mobile-modal-footer {
            position: relative;
        }
    }
}

.modal-notification {
    .modal-body {
        text-align: center;
        font-size: $font-size-4;
        font-weight: $font-weight-medium;
        line-height: 1.4;
        padding: 2.4375rem 5.2375rem;
    }

    .modal-footer {
        padding: 0 5.2375rem 2.4375rem;
        justify-content: center;
    }
}

.modal-fullscreen {
    padding: 0 !important;
    height: 100%;

    .modal-dialog {
        max-width: 100%;
        margin: 0;
        height: 100%;

        @include media-breakpoint-down(sm) {
            height: auto;
        }

        .modal-content {
            height: 100%;
            font-size: $font-size--1;
            letter-spacing: 0.1em;
        }
    }
}

.modal-body-title {
    font-family: $font-family-secondary;
    letter-spacing: $font-ls-8;
    text-transform: uppercase;
    text-align: center;
    margin-top: -0.9375rem;
    font-size: $font-size-4;
    line-height: $font-lh--6;

    @include media-breakpoint-up(md) {
        margin-top: -1.125rem;
        font-size: $font-size-6;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 0.3125rem;
        font-size: $font-size-8;
    }

    @include media-breakpoint-up(xl) {
        margin-top: 1.125rem;
        font-size: $font-size-10;
    }
}

.modal-body-subtitle {
    font-size: $font-size--2;
    margin-top: 0.75rem;
    font-family: $font-family-base;
    letter-spacing: $font-ls-8;
    color: $info-text;
    line-height: $font-lh--6;

    @include media-breakpoint-up(md) {
        margin-top: 0.375rem;
        font-size: $font-size--2;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 0.5625rem;
        font-size: $font-size-2;
    }

    @include media-breakpoint-up(xl) {
        margin-top: 1.1875rem;
        font-size: $font-size-4;
    }
}

.country-selector-line-title {
    font-family: $font-family-secondary;
    text-transform: uppercase;
}

.modal-bottom {
    padding-right: 0 !important;

    .modal-header {
        .close {
            &::before,
            &::after {
                margin: -0.3125rem 0 0 -0.6875rem;
                width: 0.8125rem;
                height: 0.0625rem;
            }
        }
    }

    .modal-dialog {
        background: $white;
        max-width: 100%;
        position: fixed;
        height: 100%;
        width: 100%;
        margin: 0;
        bottom: 0;

        @include media-breakpoint-up(lg) {
            height: auto;
        }
    }

    .modal-body {
        padding: 1.5rem 1.0625rem;
    }

    .modal-title {
        font-family: $font-family-tertiary;
        text-transform: uppercase;
        letter-spacing: $font-ls-8;
        font-size: $font-size-2;
        color: $primary;

        @include media-breakpoint-up(md) {
            font-size: $font-size-4;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-8;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-10;
        }

        &::after {
            display: none;
        }
    }

    .form-control-label {
        text-transform: none;
        letter-spacing: normal;
        font-size: $font-size--8;

        @include media-breakpoint-up(md) {
            font-size: $font-size-2;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-4;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-6;
        }
    }

    .reset-password-form {
        color: $dove-gray-secondary;

        .form-control-label {
            &[for='reset-password-email'] {
                text-transform: uppercase;
                font-size: $font-size--5;
                margin-bottom: 0.6875rem;
                letter-spacing: $font-ls-3;
                color: $primary;

                @include media-breakpoint-up(md) {
                    font-size: $font-size--2;
                }

                @include media-breakpoint-up(lg) {
                    font-size: $font-size--1;
                }

                @include media-breakpoint-up(xl) {
                    font-size: $font-size-1;
                }
            }
        }

        .form-control {
            max-width: 23.0625rem;
            margin: 0 auto;

            @include media-breakpoint-up(lg) {
                max-width: 33.125rem;
            }
        }

        .send-email-btn {
            max-width: 12.1875rem;
            margin: 2.8125rem auto 0;

            @include media-breakpoint-up(md) {
                max-width: 13.4375rem;
            }

            @include media-breakpoint-up(xl) {
                max-width: 18.125rem;
                margin: 4.5625rem auto 0;
            }
        }
    }
}
