.rating-stars {
    .sc-icon-star::before,
    .sc-icon-star-empty::before,
    .sc-icon-star-fill-half::after,
    .sc-icon-star-fill-half::before {
        font-size: $font-size--2;

        @include media-breakpoint-up(xl) {
            font-size: $font-size--4;
        }
    }

    .sc-icon-star-fill-half::after {
        @include media-breakpoint-up(xl) {
            top: $font-size--4 / 2;
        }
    }

    .sc-icon-star::before,
    .sc-icon-star-fill-half::after {
        color: $primary;
    }

    .sc-icon-star-empty::before,
    .sc-icon-star-fill-half::before {
        color: $border-color;
    }
}
