@import url(https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,500,500i,700,700i&display=swap&subset=latin-ext);

#{$brand-page-type-1} {
    .brand-header {
        padding: 0.3125rem 0;
        background: $black;
        color: $white;
        font-family: $brand-page-type-1-font rtl(#{$brand-page-type-1-font-rtl});
        text-align: center;

        @include media-breakpoint-up(lg) {
            margin-top: 0.5rem;
        }

        @include media-breakpoint-up(xl) {
            padding: 0.625rem 0;
        }

        .brand-header-image-wrapper {
            padding: 1.5625rem 0;

            @include media-breakpoint-up(xl) {
                padding: 1.875rem 0;
            }
        }

        .brand-header-image {
            width: 8.8125rem;
            display: inline-block;

            img {
                max-width: 100%;
            }
        }

        .brand-header-navigation {
            &.open {
                .brand-header-navigation-list {
                    max-height: 100vh;
                }
            }
        }

        .brand-header-navigation-list {
            justify-content: center;

            @include media-breakpoint-down(sm) {
                max-height: 0;
                overflow: hidden;
                transition: max-height $animation-duration ease-in-out;
            }
        }

        .brand-header-navigation-toggler {
            display: inline-block;
            padding: 1.25rem 1.25rem 0;
            font-family: $brand-page-type-1-font rtl(#{$brand-page-type-1-font-rtl});
            font-size: fz(h4);
            background: none;
            border: none;
            color: $white;
        }

        .brand-header-navigation-toggler-icon {
            display: block;

            &::before {
                transform: rotate(90deg);
            }
        }

        .nav-item {
            @include media-breakpoint-down(sm) {
                width: 100%;
            }

            &:not(:first-child) {
                @include media-breakpoint-down(sm) {
                    border-top: 0.0625rem solid $white;
                }
            }
        }

        .nav-link {
            text-transform: uppercase;
            color: $white;
            font-size: fz(body);
            font-weight: $font-weight-bold;
            padding: 0.75rem 0.9375rem;

            &::after,
            .sc-icon-arrow {
                display: none;
            }

            &:focus {
                outline: none !important;
            }

            @include media-breakpoint-up(md) {
                &.current,
                &:hover {
                    .nav-link-text::before {
                        opacity: 1;
                    }
                }
            }
        }

        .nav-link-text {
            position: relative;
            display: block;

            &::before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                left: 0;
                top: 100%;
                margin-top: 0.0625rem;
                height: 0.0625rem;
                background-color: currentColor;
                opacity: 0;
                transition: opacity $animation-duration ease-in-out;

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }

        .dropdown-menu {
            display: none !important;
        }
    }
}
