@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import "api/all";
@import "~brand_core/mixins/swatch";
@import 'components/quantitySelector';
@import 'components/checkoutPaymentMethods';

.cart-title {
    font-size: fz(h2);
    font-weight: $font-weight-medium;
    line-height: $font-lh--2;
    margin-top: 1.5625rem;
    margin-bottom: 8.125rem;

    @include media-breakpoint-up(md) {
        font-size: fz(h1);
    }

    @include media-breakpoint-up(lg) {
        margin-top: 0;
    }

    @include media-breakpoint-only(xs) {
        margin-bottom: 3rem;
    }
}

.empty-bag-icon {
    i {
        &::before {
            font-size: fz(p20, true) * 4;
        }
    }
}

.empty-bag-message {
    text-align: center;
    font-size: fz(h4);
    font-weight: $font-weight-medium;
    margin-bottom: 2.8125rem;

    @include media-breakpoint-down(sm) {
        margin-bottom: 1.875rem;
    }

    .minicart-icon {
        top: 0.125rem;

        &::before {
            font-size: fz(h2);
        }
    }
}

.empty-bag-btn {
    a {
        @include media-breakpoint-up(xl) {
            width: 19.6875rem;
        }

        @include media-breakpoint-down(lg) {
            width: 16.875rem;
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }
}

.cart-header-row {
    font-size: fz(h3);
    font-weight: $font-weight-medium;
    line-height: $font-lh--2;
    margin-bottom: 1.25rem;
}

.cart-product-list {
    margin-bottom: 1.875rem;

    @include media-breakpoint-up(xl) {
        margin-bottom: 1.25rem;
    }
}

.cart-product-wrapper:last-child {
    .cart-product-devider {
        display: none;
    }
}

.cart-product-wrapper.invalid {
    .cart-product-name {
        &::after {
            content: '!';
            color: $tabasco;
            font-size: fz(p16);
            font-weight: $font-weight-medium;
            width: 1.125rem;
            height: 1.125rem;
            background-color: $carouselPink;
            border-radius: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        a {
            color: $tabasco !important;
        }
    }
}

.cart-product-image {
    padding-right: 0.9375rem;

    @include media-breakpoint-up(md) {
        padding-right: 1.25rem;
    }

    @include media-breakpoint-up(xl) {
        padding-right: 0.925rem;
    }

    img {
        width: 4.375rem;

        @include media-breakpoint-up(xl) {
            width: 5rem;
        }
    }
}

.cart-product-dismiss {
    z-index: 1;
    position: absolute;
    top: 0.375rem;
    right: 0.625rem;

    @include media-breakpoint-down(sm) {
        top: -0.5rem;
    }

    .remove-product-icon {
        &::before,
        &::after {
            background-color: $grey3;
            width: 1.1625rem;
        }
    }
}

.cart-product-details-container {
    width: 100%;

    .cart-product-price-col {
        @include media-breakpoint-down(sm) {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }
    }
}

.cart-product-brand {
    font-weight: $font-weight-bold;
    line-height: $font-lh--5;

    @include media-breakpoint-down(lg) {
        padding-right: 1.5625rem;
    }
}

.cart-product-name {
    line-height: $font-lh--3;
    margin-bottom: 0.75rem;
}

.cart-product-attribute-title {
    font-size: fz(body-sm);
    font-weight: $font-weight-bold;
}

.cart-product-price,
.cart-bonus-product-no-price {
    text-align: right;

    @include media-breakpoint-up(xl) {
        text-align: left;
    }
}

.cart-product-price {
    @include media-breakpoint-up(xl) {
        padding-top: 0.8125rem;
    }
}

.cart-product-devider {
    margin: 1.25rem 0;
}

.cart-menu-vertical {
    > div:first-child .cart-section-wrapper {
        border-top: 0.0625rem solid $gallery-gray;
    }
}

.cart-section-wrapper {
    border-bottom: 0.0625rem solid $gallery-gray;
    cursor: pointer;

    &.open {
        .cart-section-title {
            .plus {
                display: none;
            }

            .minus {
                display: block;
            }
        }

        .cart-section-content {
            height: auto;
        }
    }
}

.cart-section-title {
    font-size: fz(h4);
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.8125rem 1.5625rem 0.8125rem 0;
    margin-bottom: 0;
    user-select: none;

    .tab-icon {
        width: 2.5rem;
        height: 0.9375rem;

        &::before {
            font-size: fz(p16);
            font-weight: $font-weight-bold;
        }
    }

    .plus,
    .minus {
        position: absolute;
        right: 0;
        top: 50%;

        &::before,
        &::after {
            width: 0.9375rem;
            height: 0.125rem;
            background-color: $text-muted;
        }
    }

    .plus {
        margin-top: 0.1875rem;
        margin-right: 0.25rem;
    }

    .minus {
        display: none;
    }
}

.cart-section-content {
    overflow: hidden;
    height: 0;
    transition: height $animation-duration, padding-bottom $animation-duration;
}

.cart-gift-wrapping {
    display: flex;
    flex-direction: column;
    padding: 1.5625rem 0;

    p {
        &:first-child {
            margin: 0;
        }

        &:last-child {
            font-size: fz(h6);
            font-weight: $font-weight-light;
            font-style: italic;
        }
    }

    .gift-wrapping-check {
        max-width: 15.625rem;
    }

    .gift-wrapping-image {
        img {
            max-width: 5.625rem;

            @include media-breakpoint-up(xl) {
                max-width: 4.0625rem;
            }
        }
    }

    .gift-wrapping-details {
        display: flex;
    }

    .gift-wrapping-check {
        .gift-wrapping-check-text {
            font-size: fz(body);
            font-weight: $font-weight-normal;
            line-height: $font-lh--7;
            padding-left: 1.875rem;
        }
    }

    .gift-wrapping-text {
        font-size: fz(body);
        font-weight: $font-weight-medium;
        line-height: $font-lh--7;
    }

    .gift-wrapping-optional {
        font-size: fz(body-xs);
        font-style: italic;
        font-weight: $font-weight-light;
    }

    .gift-option {
        text-align: center;
        margin: 0.9375rem 0;

        &.selected {
            .gift-option-image {
                border: 0.125rem solid $secondary;
            }

            .gift-option-name {
                font-weight: $font-weight-bold;
            }
        }

        .gift-option-label {
            display: block;
            padding: 0;
            font-size: fz(body);
            font-weight: $font-weight-medium;
            line-height: $font-lh--7;

            &::before,
            &::after {
                display: none;
            }
        }
    }

    .gift-option-input {
        &:checked + label {
            font-weight: $font-weight-bold;

            .gift-option-image {
                border: 0.125rem solid $secondary;
                padding: 1.5rem;
            }
        }
    }

    .gift-option-image {
        border: 0.0625rem solid $tertiary;
        padding: 0.625rem;

        &:hover {
            border-color: $alto;
        }

        img {
            max-width: 100%;
            height: 6.25rem;
        }
    }

    .gift-option-name {
        font-weight: $font-weight-medium;
        text-transform: uppercase;
        text-align: center;
        margin-top: 15px;
    }

    .gift-wrapping-text {
        .form-group {
            margin-bottom: 0;
        }

        .form-control-label {
            display: none;
        }

        textarea {
            resize: none;

            &:focus {
                border-color: $white;
            }
        }

        .form-group span {
            display: inline-block;
            font-size: fz(body-sm);
            font-style: italic;
            line-height: $font-lh--5;
            color: $text-muted;
            padding: 0.3125rem 0;
        }
    }
}

.next-step-box {
    background-color: $light;
    padding: 0.9375rem 0.96875rem;
    margin-bottom: 1.875rem;

    @include media-breakpoint-up(xl) {
        margin-bottom: 1.25rem;
    }
}

.next-step-box-totals {
    display: flex;
    flex-direction: column;
}

.totals-line:not(.hide-order-discount) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.totals-line-value {
    text-align: right;
    font-size: fz(p20);
    font-weight: $font-weight-bold;
    color: $secondary;
    line-height: $font-lh--2;
}

.sub-total-label,
.discount-label {
    font-size: fz(h4);
    line-height: $font-lh--2;
    font-weight: $font-weight-medium;
}

.sub-total-label-text {
    display: block;
}

.totals-price-discounted {
    font-size: fz(h2);
    font-weight: $font-weight-bold;
    color: $secondary;
    line-height: $font-lh--2;

    &:not(.hide-order-discount) {
        display: block;
    }
}

.totals-price-main {
    &.strike-through,
    &.worth {
        font-size: fz(h3);
        font-weight: $font-weight-normal;
        line-height: $font-lh--4;
        color: $text-muted;
        margin: 0;
    }
}

.checkout-continue-btn {
    font-size: fz(body-sm);

    @include media-breakpoint-down(sm) {
        box-shadow: 0 0.5rem 0.375rem -0.3125rem $secondary;
    }

    .sc-icon::before {
        font-size: fz(p15);
    }
}

.cart-free-shipping-title {
    font-size: fz(h3);
    font-weight: $font-weight-normal;
    line-height: $font-lh--2;
    margin: 1.875rem 0;
    text-align: center;

    @include media-breakpoint-up(xl) {
        text-align: left;
        margin: 1.875rem 0 2.5rem;
    }

    b {
        font-weight: $font-weight-bold;
    }
}

.cart-promo-message {
    .sc-icon {
        &::before {
            font-size: 1.5625rem;
            font-weight: $font-weight-bold;
        }
    }

    .cart-promo-message-count {
        font-weight: $font-weight-extra-bold;
    }
}

.promo-wrapper {
    .btn-apply-promo-code {
        min-width: 5.9375rem;

        @include media-breakpoint-up(md) {
            min-width: 9.625rem;
        }

        @include media-breakpoint-up(xl) {
            min-width: 5.9375rem;
        }
    }
}

.promo-wrapper-label {
    padding: 0.3125rem 0;

    @include media-breakpoint-up(md) {
        padding: 0.625rem 0;
    }

    @include media-breakpoint-up(xl) {
        padding: 0.3125rem 0;
    }
}

.promo-applied-label {
    color: $japaneseLaurel;
    font-weight: $font-weight-medium;
    padding: 0.3125rem 0;

    @include media-breakpoint-up(md) {
        padding: 0.6875rem 0;
    }

    @include media-breakpoint-up(xl) {
        padding: 0.3125rem 0;
    }
}

.cart-bonus-product-no-price {
    font-size: fz(h3);
    font-weight: $font-weight-extra-bold;
    color: $secondary;
    line-height: $font-lh--2;
    text-transform: uppercase;
}

.cart-product-price-discounted {
    font-size: fz(h4);
    font-weight: $font-weight-extra-bold;
    color: $secondary;
    line-height: $font-lh--4;

    @include media-breakpoint-up(md) {
        font-size: fz(h3);
        line-height: $font-lh--2;
    }
}

.cart-product-price-main {
    &.strike-through,
    &.worth {
        font-size: fz(body);
        font-weight: $font-weight-normal;
        line-height: $font-lh--3;
        color: $text-muted;
        margin: 0;

        @include media-breakpoint-up(md) {
            font-size: fz(h4);
            line-height: $font-lh--4;
        }
    }
}

.free-sample-select {
    .sc-icon {
        display: none;
    }

    &.selected {
        .sc-icon {
            display: inline-block;

            &::before {
                font-size: fz(body-xs);
            }
        }
    }
}

.free-samples-carousel {
    padding: 1.25rem 0 1.625rem;

    .product-tile {
        .name-container {
            font-size: fz(body);
            font-weight: $font-weight-bold;
            line-height: $font-lh--2;
        }

        .description-container {
            font-size: fz(body);
            font-weight: $font-weight-normal;
            line-height: $font-lh--3;
            text-transform: none;
        }
    }

    .slick-arrow {
        [class^="sc-icon-"] {
            width: auto;
            height: auto;
        }

        [class^="sc-icon-"]::before,
        [class^="sc-icon-"]::after {
            background-color: $dove-gray;
            width: 1.075rem;
        }

        .sc-icon-arrow-next {
            float: right;
        }

        .sc-icon-arrow-prev {
            float: left;
        }

        &:focus {
            outline: none !important;
        }
    }

    &.slick-initialized {
        .product-tile {
            max-width: 11.875rem;
            text-align: center;
            margin: 0 auto;
        }

        .image-container {
            margin-bottom: 1.25rem;

            img {
                margin: 0 auto;
                max-width: 5rem;
            }
        }

        .name-container {
            height: 2 * $font-lh--2 * fz(body, true);
            overflow: hidden;
            margin: 0;
        }

        .description-container {
            height: 2 * $font-lh--3 * fz(body, true);
            overflow: hidden;
            margin-top: 0.625rem;
            margin-bottom: 1.25rem;
        }

        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                font-weight: $font-weight-extra-bold;

                &:focus {
                    box-shadow: none;
                }
            }
        }
    }

    &.slick-destroyed {
        .product-tile {
            display: flex;
            align-items: center;
            text-align: left;
            margin: 0 0 20px;
            max-width: 100%;
        }

        .image-container {
            padding-right: 1.25rem;

            img {
                max-width: 4.375rem;
            }
        }

        .product-content {
            width: 100%;

            @include media-breakpoint-up(md) {
                display: flex;
            }
        }

        .tile-body {
            width: 100%;

            @include media-breakpoint-up(md) {
                padding-right: 1.25rem;
            }
        }

        .button-container {
            padding-top: 0.9375rem;

            @include media-breakpoint-up(md) {
                min-width: 15rem;
                padding-top: 0.625rem;
            }

            .btn {
                @include media-breakpoint-down(sm) {
                    max-width: 9.8125rem;
                    float: right;
                }
            }
        }

        .name-container {
            margin: 0 0 0.5rem;
        }
    }
}

// Quantity Selector Styles - start
.cart-product-quantity {
    .quantity-form {
        width: 100%;

        @include media-breakpoint-up(md) {
            max-width: 15.9375rem;
        }

        .dropdown-toggle {
            border: none;
            border-bottom: 0.0625rem solid $gallery-gray;
            padding: 0.3125rem 2rem 0.3125rem 0;
        }

        .filter-option {
            text-align: center;
        }
    }

    .custom-select {
        width: 100%;
        padding: 0.3125rem 0;
        border-color: $gallery-gray;
        background-size: 12px;
        background-position: right center;
    }

    .quantity-selector {
        width: 100%;
        margin: 0;
    }
}

// Show Coupons
.coupon-price-adjustment {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    line-height: $font-lh--4;
    background-color: $tertiary;
    padding: 0.25rem 1.5625rem 0.25rem 0.33125rem;
    margin: 0.625rem 0.3125rem 0 0;
    font-size: fz(h4);
}

.coupon-error {
    margin-top: 0.3125rem;
}

.coupon-error-message,
.coupon-missing-error {
    color: $tabasco;
    font-weight: $font-weight-medium;
}

.coupon-missing-error {
    display: none;
}

.coupon-code-field.is-invalid {
    border-color: $grey3;

    &:focus {
        box-shadow: none;
        border-color: $grey3;
    }
}

.coupon-applied {
    color: $success;
    font-size: fz(body-sm);
}

.coupon-not-applied {
    color: $danger;
    font-size: fz(body-sm);
}

.remove-coupon {
    position: absolute;
    background: transparent;
    border: none;
    right: 0.3125rem;
    top: 0.2125rem;

    [class^="sc-icon-"] {
        &::before,
        &::after {
            background-color: $tamarillo;
            width: 0.8625rem;
        }
    }
}

.mobile-next-step {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: $white;
    padding: 1rem;

    @include media-breakpoint-down(sm) {
        background-color: transparent;
    }
}

[data-action="Cart-Show"] {
    footer {
        @include media-breakpoint-down(sm) {
            margin-bottom: 4rem;
        }
    }
}

// Coupon Modal
.modal {
    &.show {
        .modal-footer {
            justify-content: center;
        }
    }
}
