@import './variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import "api/all";

.header {
    width: 100vw;
    max-width: 100%;
    height: 4.375rem;
}

.logo {
    display: table;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 12.5rem;

    img {
        width: 100%;
    }
}

.invoice-body {
    max-width: 33.125rem !important;
    margin: 0 auto;
    padding-top: 1.5rem !important;
    min-height: calc(100vh - 12.0625rem);
    color: $black;

    .invoice-header {
        font-family: $font-family-base !important;
        font-weight: $font-weight-extra-bold !important;
        font-size: fz(p20) !important;
        margin-bottom: 0.75rem !important;
    }

    .sub-header {
        font-family: $font-family-base !important;
        font-weight: $font-weight-extra-bold !important;
        font-size: fz(body) !important;
        margin-bottom: 0.3125rem;
    }

    p {
        font-weight: $font-weight-normal;
        font-size: fz(body-sm);
        margin-bottom: 0 !important;
    }

    .tax-right {
        text-align: right;

        @include media-breakpoint-only(xs) {
            float: left;
            text-align: left;
            margin-top: 1.3rem;
        }

        .e-commerce {
            font-size: fz(body);
            font-weight: $font-weight-extra-bold;
        }

        .light {
            font-weight: $font-weight-normal;
            font-style: italic;
            font-size: fz(p8);
            max-width: 12.5rem;
            float: right;

            @include media-breakpoint-down(md) {
                max-width: 100%;
                width: 100%;
            }
        }

        p {
            font-size: fz(body-sm);
        }
    }

    .customer {
        font-weight: $font-weight-normal;
        font-size: fz(body-sm);
        line-height: $font-lh--11;
    }

    .table {
        position: relative;
        display: block;
        margin-top: 0.9rem;
    }

    .table > table {
        width: 100%;
        table-layout: fixed;
        border: 0.0625rem solid $grey3;
        border-top: 0.0625rem solid $grey3 !important;
    }

    .table th,
    .table td {
        padding: 0.65rem !important;
        min-width: 5rem !important;
    }

    .table th {
        font-weight: $font-weight-extra-bold;
        font-size: fz(body-xs);
        border-top: none !important;
        border-bottom: 0.0625rem solid $grey3 !important;
        background-color: $grey1;
        min-width: 4.375rem;
        text-align: center;
        vertical-align: middle !important;
        padding-top: 0.2rem !important;
        padding-bottom: 0.2rem !important;
        color: $black;
    }

    .table td {
        font-size: fz(body-xs);
        font-weight: $font-weight-normal;
        border-top: 0.0625rem solid $grey3 !important;
        text-align: center;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        min-height: auto;
    }

    .first-col {
        width: 7rem !important;
        text-align: left;

        @include media-breakpoint-down(md) {
            width: 25% !important;
            min-width: 5.625rem !important;
        }
    }

    .min-col {
        width: 2.5rem !important;
    }

    .table-footer {
        text-align: right;
        font-size: fz(p13) !important;
        font-weight: $font-weight-medium;
        margin-top: 0.25rem;
        padding-bottom: 2.0625rem;
    }

    .footer-policy {
        padding-bottom: 1.875rem;

        .footer-policy-header {
            font-size: fz(p13);
            font-weight: $font-weight-extra-bold;
        }

        .footer-msg {
            font-size: fz(body-xs);
            margin-top: 0.625rem;
        }
    }
}

.footer {
    text-align: center;

    p {
        font-weight: $font-weight-normal;
        font-size: fz(p9);
        line-height: $font-lh--9;
        color: $black;
        margin-bottom: 0;
    }

    .footer-logo {
        display: table;
        margin: 0 auto;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        max-width: 8.125rem;

        img {
            width: 100%;
        }
    }
}
