@import 'variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';
@import "api/all";
@import "~brand_core/mixins/swatch";
@import '~base/components/categoryTiles';
@import "./productlisting/brandPlp";

$product-grid-gutter--xl: 1.375rem;

.product-grid {
    @include media-breakpoint-up(xl) {
        margin: 0 -#{$product-grid-gutter--xl/2};
    }

    .tile-item {
        margin-bottom: 2.5rem;

        @include media-breakpoint-up(xl) {
            padding: 0 #{$product-grid-gutter--xl/2};
            margin-bottom: 3.75rem;
        }
    }
}

.plp-category-title-container {
    display: none;
}

.refinement {
    .radio-button-link {
        > i {
            margin-left: auto;
            margin-right: 0;
        }
    }
}

.refinement-bar {
    @include media-breakpoint-up(xl) {
        display: block;
        position: relative;
        height: calc(100% - 2.875rem);
    }

    @include media-breakpoint-up(xl) {
        .mobile-modal-body {
            padding-right: 0;
        }
    }
}

.grid-header,
.content-grid-header,
.refinement-header {
    margin-bottom: 1.1875rem;
    padding-bottom: 0.5rem;
    min-height: 2.625rem;
    align-items: center;

    @include media-breakpoint-up(xl) {
        border-bottom: 0.0625rem solid $grey3;
        margin-bottom: 0.5rem;
    }

    .col-form-label {
        font-size: fz(body-xs);
        font-weight: $font-weight-medium;
        margin-right: 0.875rem;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }

    .custom-select,
    .bootstrap-select.custom-select {
        font-size: fz(body-xs);
        font-weight: $font-weight-medium;
        height: 2.625rem;

        @include media-breakpoint-up(xl) {
            height: calc(2rem + 1px) !important;
            width: 11.25rem !important;
        }

        .custom-select {
            width: 0.5px !important;
        }

        .dropdown-toggle,
        .dropdown-item {
            font-size: fz(body-xs);
            font-weight: $font-weight-medium;
            padding-top: 0.375rem;
            padding-bottom: 0.375rem;
        }
    }
}

.custom-select.bootstrap-select {
    .dropdown-toggle {
        padding: 0.4375rem 2rem 0.4375rem 0.5rem;
    }
}

.search-results-container {
    .custom-select,
    .bootstrap-select.custom-select {
        @include media-breakpoint-up(xl) {
            max-width: 21.875rem;
        }

        > .dropdown-menu.show {
            border-top: none;
            padding: 0.25rem 0;
        }

        .dropdown-item {
            padding: 0.78125rem 0.75rem 0.78125rem 0.5625rem;

            &.active,
            &:active {
                background-color: $white;
            }
        }
    }

    .custom-select.sort-options-selectbox {
        .dropdown-item.selected {
            cursor: default;
            font-weight: $font-weight-medium;
        }
    }
}

.grid-footer {
    position: absolute;
    bottom: 0;

    @include media-breakpoint-up(xl) {
        bottom: 0.3125rem;
    }
}

.refinement-header {
    font-size: fz(body-xs);
    font-weight: $font-weight-medium;
    text-transform: uppercase;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.card-refinement-values {
    @include media-breakpoint-down(lg) {
        display: flex;
        flex-direction: column;

        .checkbox-list-item {
            order: 2;

            &.state-selected {
                order: 1;
            }
        }

        .btn-plp-action-more-fullscreen {
            order: 3;
        }
    }
}

.grid-header-row {
    display: flex;
    padding-left: 0;
    padding-right: 0;
}

.refinements {
    position: relative;

    .refinement:nth-child(2) {
        border-top: 0.0625rem solid $tertiary;
    }
}

.refinement {
    border: none;
    border-bottom: 0.0625rem solid $tertiary;
    border-radius: 0;
    padding-bottom: 0;
    margin-bottom: 0;

    &.full-screen {
        border-bottom: 0;

        .card-header {
            display: none;
        }

        .card-body {
            > .content {
                padding-left: 0;
            }
        }

        .value.content {
            padding-left: 0;
        }

        .checkbox-list-item {
            border-top: 0.0625rem solid $tertiary;
            margin-bottom: 0;
            padding: 1.3125rem 0;
        }
    }

    .btn-plp-action-more-fullscreen {
        @include media-breakpoint-up(xl) {
            display: none;
        }
    }

    .card-header {
        align-items: center;
        border-radius: 0;
        border-bottom: 0;
        color: $secondary;
        cursor: pointer;
        display: flex;
        font-size: fz(body);
        font-weight: normal;
        line-height: $font-lh--4;
        padding: 0.84375rem 0.625rem 0.84375rem 0;
        position: relative;
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
            font-size: fz(h4);
            padding: 1.28125rem 0;
        }

        @include media-breakpoint-up(xl) {
            padding: 0.9375rem 0.4375rem 1rem 0;
        }

        .card-header-icon-arrow {
            display: none;
        }

        > i {
            margin-left: auto;
            margin-right: 0;

            @include media-breakpoint-up(md) {
                margin-right: 0.5rem;
            }

            @include media-breakpoint-up(xl) {
                margin-right: 0.03125rem;
                top: auto;
            }

            &::before,
            &::after {
                margin: -0.0625rem 0 0 -0.4375rem;
                width: 0.9375rem;
                height: 0.125rem;
                background-color: $text-muted;
            }
        }

        > .sc-icon-minus {
            display: none;

            &::before {
                margin-top: 0.0375rem !important;
                margin-left: -0.5rem !important;
            }
        }
    }

    .card-body {
        font-size: fz(body);
        font-weight: normal;
        height: 0;
        line-height: $font-lh--3;
        padding: 0;
        padding-bottom: 0;
        opacity: 0;
        transition: height $animation-duration, padding-bottom $animation-duration;

        @include media-breakpoint-up(xl) {
            font-size: fz(body-xs);
        }

        ul {
            padding: 1rem 0 0 0.625rem;
            margin: 0;
            list-style: none;

            @include media-breakpoint-up(md) {
                padding-top: 0.75rem;
            }

            @include media-breakpoint-up(xl) {
                padding-top: 0.5rem;
            }
        }

        > ul {
            margin: 0;
            padding-left: 1.5rem;
            padding-top: 0.25rem;

            @include media-breakpoint-up(md) {
                padding-top: 0;
            }

            @include media-breakpoint-up(lg) {
                padding-top: 0.6875rem;
            }
        }

        .refinement-list {
            margin: 0;
        }

        .refinement-item {
            border-bottom: 0.0625rem solid $tertiary;
            border-top: 0.0625rem solid transparent;
            margin: 0;
            overflow: hidden;
            position: relative;

            &:first-child {
                border-top: 0.0625rem solid $tertiary;
            }

            &:last-child {
                border-bottom: 0.0625rem solid transparent;
            }

            .refinement-item-link {
                border: none;
                display: block;
                font-size: fz(body);
                font-weight: $font-weight-normal;
                padding: 0.8125rem 0;
                letter-spacing: normal;
                line-height: $font-lh--3;
                text-align: left;
                text-transform: uppercase;

                @include media-breakpoint-up(md) {
                    font-size: fz(h4);
                    padding: 1.25rem 0;
                }
            }
        }

        .plp-action-more-link {
            line-height: $font-lh;
            padding: 0;
            text-decoration: underline;

            @include media-breakpoint-up(md) {
                font-size: fz(h4);
            }
        }

        .categories-list {
            .categories-list-item {
                margin-bottom: 0.75rem;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            .radio-button-link {
                margin-bottom: 0.875rem;

                @include media-breakpoint-up(md) {
                    font-size: fz(h4);
                }

                @include media-breakpoint-down(sm) {
                    &.selected {
                        font-weight: $font-weight-bold;
                    }
                }

                + .categories-list {
                    padding-top: 0;
                }
            }
        }

        .refinement-price {
            .values {
                padding-left: 0;
            }
        }

        .checkbox-list-item {
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &.open {
        .card-header {
            > .sc-icon-plus {
                display: none;
            }

            > .sc-icon-minus {
                display: block;
            }
        }

        .card-body {
            padding-bottom: 1.625rem;
            height: auto;
            opacity: 1;
        }
    }

    &:not(.open) {
        .card-body {
            overflow: hidden;
        }
    }
}

.refinement-color {
    .card-body {
        > ul {
            display: flex;
            flex-wrap: wrap;
            margin-top: -0.1875rem;
        }
    }

    .color-attribute {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.25rem;
        height: 2rem;
        padding-left: 0;
    }

    &.open {
        .card-body {
            padding-bottom: 0.25rem;
        }
    }
}

.refinement-category {
    li {
        margin-left: 0;
        display: block;
        margin-bottom: 0.5rem;
        text-transform: uppercase;

        @include media-breakpoint-up(xl) {
            text-transform: none;
        }
    }

    > ul > li {
        margin-left: 0;
    }
}

.plp-slot-wrapper {
    position: relative;
}

.plp-slot-picture,
.plp-slot-image {
    width: 100%;
    display: block;
}

.plp-slot-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 0;

    &:focus {
        outline: none !important;
    }
}

.refinement-type-boolean {
    li {
        margin-left: 0;
        display: block;
        margin-bottom: 0.9375rem;
    }

    > ul > li {
        margin-left: 0;
    }

    .checkbox-name-field,
    .checkbox-count-field,
    .refinement-category {
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
            font-size: fz(h4);
        }

        @include media-breakpoint-up(xl) {
            font-size: fz(body);
            text-transform: none;
        }
    }

    .selected {
        .checkbox-name-field,
        .checkbox-count-field {
            font-weight: $font-weight-medium;
        }
    }
}

.category-item {
    margin-bottom: 0.938rem;
}

.search-nav {
    margin-bottom: 1em;
    border-bottom: 0.063em solid $grey3;

    .nav-tabs-wrapper {
        padding: 0;

        @include media-breakpoint-down(xs) {
            width: 100%;
        }

        .nav-tabs {
            border-bottom: 0 none;
        }
    }

    .nav-link:focus {
        background-color: $grey1;
    }
}

.product-options .quantity {
    position: absolute;
    bottom: 0;
    right: 0;
}

.grid-title {
    font-family: ff(secondary);
    font-size: fz(h3);
    font-weight: normal;
    margin-bottom: 1.5rem;
    align-self: center;
    text-align: center;
    width: 100%;

    @include media-breakpoint-up(xl) {
        font-family: ff(base);
        font-size: fz(h4);
        font-weight: $font-weight-medium;
        margin-bottom: 0;
        text-align: left;
    }
}

.search-results {
    &.srp-results {
        margin-top: 1rem;

        @include media-breakpoint-up(xl) {
            margin-top: 2rem;
        }

        .grid-title {
            font-size: fz(h4);
            font-weight: $font-weight-normal;
            margin: 0.3125rem 0 1.3125rem;
            text-align: left;

            @include media-breakpoint-up(md) {
                line-height: $font-lh--14;
                margin-bottom: 0.875rem;
            }

            @include media-breakpoint-up(xl) {
                line-height: $font-lh--4;
                margin: 0.5rem 0 0;
            }
        }
    }
}

.btn-refine-by,
.btn-sort-by {
    @include media-breakpoint-up(xl) {
        margin: 0 0.9375rem;
    }

    button.btn-overlay {
        color: $secondary;
        padding: 0 0.825rem;
        font-size: fz(body);
        font-weight: $font-weight-medium;
        text-align: left;
        width: calc(100% - #{$grid-gutter-width / 2});
    }
}

.btn-sort-by {
    button.btn-overlay {
        background: transparent;
        opacity: 1;
    }

    .filter-option-inner-inner {
        color: $secondary;
        font-weight: $font-weight-medium;

        @include media-breakpoint-down(lg) {
            opacity: 0;
        }
    }
}

.filter-option-inner-inner {
    font-weight: $font-weight-medium;
}

.btn-refine-by {
    button.btn-overlay {
        background: $white;
    }
}

.btn-refine-by {
    display: flex;
    position: relative;

    @include media-breakpoint-up(xl) {
        display: none;
    }
}

.btn-sort-by {
    display: flex;
    position: relative;
    justify-content: flex-end;

    button.btn-overlay {
        left: $grid-gutter-width / 2;
    }

    @include media-breakpoint-up(xl) {
        padding: 0;
    }
}

.plp-details {
    margin-bottom: 1.5rem;

    + .search-results {
        margin-top: 0;
    }
}

.search-results-prev {
    position: absolute;
    top: 1.5625rem;
    left: 2.5rem;
    display: none;

    @include media-breakpoint-only(md) {
        display: block;
    }

    .search-results-prev-icon {
        color: $text-muted;
        font-size: fz(body);
        font-weight: $font-weight-medium;
        text-transform: uppercase;

        .sc-icon-arrow-prev {
            &::before,
            &::after {
                width: 0.625rem;
                background-color: $grey3;
            }
        }
    }
}

.search-results-title {
    font-family: ff(base);
    font-weight: $font-weight-medium;
    font-size: fz(h2);
    margin: 1.5625rem auto;
    text-align: center;

    @include media-breakpoint-only(md) {
        max-width: 16.125rem;
    }

    @include media-breakpoint-down(sm) {
        max-width: 12.375rem;
        font-size: fz(h3);
    }
}

.search-results-suggestions {
    text-align: center;

    .search-results-suggestions-title {
        font-family: ff(base);
        font-weight: $font-weight-medium;
        font-size: fz(h4);
    }

    .search-results-suggestions-menu {
        text-align: center;
        margin: 0;

        .search-results-suggestions-item {
            position: relative;

            .search-results-suggestions-link {
                border-bottom: 0.0625rem solid $secondary;
                font-size: fz(body);

                &:hover {
                    text-decoration: none;
                }

                @include media-breakpoint-up(md) {
                    font-size: fz(h4);
                }
            }

            &:not(:last-child) .search-results-suggestions-link {
                &::after {
                    content: ',';
                    position: absolute;
                    right: -0.188rem;
                    top: 0;
                }
            }
        }
    }
}

.search-results-seperator {
    margin: 1.5625rem 0;

    @include media-breakpoint-only(md) {
        margin: 2.5rem 0;
    }
}

.product-carousel-items.no-srp-prods {
    display: flex;
    justify-content: flex-start;

    .slick-slide {
        > div {
            justify-content: center;
        }
    }

    .slick-arrow,
    .slick-prev {
        i {
            &::before,
            &::after {
                width: 0.875rem;
            }
        }

        &:focus {
            outline: none !important;
        }
    }
}

.search-results-recommendations {
    .product-carousel.container {
        margin-bottom: 0;

        &.recommendations-carousel {
            .recommendations-carousel-title {
                font-family: ff(base);
                font-size: fz(h2);
                font-weight: $font-weight-medium;
                margin-bottom: 1.25rem;
                text-align: center;

                @include media-breakpoint-down(sm) {
                    font-size: fz(h3);
                }
            }

            .product-carousel-items {
                &.product-carousel-mobile {
                    .slick-next {
                        @include media-breakpoint-down(sm) {
                            right: 0;
                        }
                    }

                    .slick-prev {
                        @include media-breakpoint-down(sm) {
                            left: 0;
                        }
                    }
                }
            }

            .view-all-btn {
                display: inline-block;
                font-size: fz(body);
                font-weight: $font-weight-medium;
                line-height: $font-lh--3;
                text-decoration: underline;
                text-transform: uppercase;
                margin-top: 1.5625rem;
            }

            &::after {
                content: '';
                display: inline-block;
                width: 100%;
                border-bottom: 0.0625rem solid $grey2;
                margin: 1.5625rem 0;
            }
        }
    }
}

.refinements {
    .refinement-price {
        @include media-breakpoint-up(xl) {
            border-bottom: none;
        }

        &.open {
            .card-body {
                padding-bottom: 1.25rem;

                .values {
                    padding-left: 0;

                    @include media-breakpoint-up(xl) {
                        margin-top: -0.9375rem;
                    }
                }
            }
        }

        .card-header {
            @include media-breakpoint-up(xl) {
                font-size: fz(body);
            }

            .sc-icon-plus,
            .sc-icon-minus {
                display: none;
            }
        }
    }
}

.refinement-refinementcolor {
    .card-body {
        .values {
            margin: 0;
            padding: 0;
            padding-top: 0.5rem;

            @include media-breakpoint-up(xl) {
                margin: 0 -0.3125rem;
            }
        }
    }

    .color-attribute {
        display: inline-block;
        margin: 0 0.46875rem 1.25rem;

        @include media-breakpoint-up(md) {
            margin: 0 0.59375rem 0.9375rem;
        }

        @include media-breakpoint-up(xl) {
            margin: 0 0.59375rem 1.25rem;
        }
    }

    .swatch-circle {
        @include swatch($size: 1.9375rem);
    }
}

.refinement.sort-by {
    .card-body {
        padding-bottom: 0;

        .refinement-list {
            padding-left: 0;

            .refinement-item {
                .refinement-item-link {
                    &.selected {
                        font-weight: $font-weight-bold;
                    }
                }
            }
        }
    }
}

.price-refinement-value {
    color: $secondary;
    font-size: fz(body);
    font-weight: $font-weight-light;
    line-height: $font-lh--13;
    margin-bottom: 1.3125rem;
}

.show-more {
    .btn-link {
        font-size: fz(body);
        font-weight: $font-weight-medium;
        text-decoration: underline;
    }
}

.search-header {
    display: none;

    .search-tile {
        @include media-breakpoint-up(md) {
            margin-bottom: 0.625rem;
            margin-top: 1.6875rem;
        }
    }

    @include media-breakpoint-up(md) {
        display: block;
    }
}

.search-results-filter {
    margin-bottom: 1.5625rem;
}
