@import '../variables';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/mixins/breakpoints';

.order-detail-section {
    padding: 1.5rem 0;
    border-bottom: 0.0625rem solid $grey3;

    @include media-breakpoint-only(xs) {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        &:last-of-type {
            border-bottom: none;
        }
    }
}

.track-order-button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .btn-primary {
        font-size: $font-size-base;
        padding: 0.713rem 2.67rem 0.6rem;

        @include media-breakpoint-only(xs) {
            color: $secondary;
            border-color: $secondary;
            background-color: transparent;

            &:active {
                color: $white !important;
                background-color: $secondary !important;
                border-color: $secondary !important;
            }

            &:focus {
                box-shadow: 0 0 0 0.2rem rgba($secondary, 0.5) !important;
            }
        }

        @include media-breakpoint-down(xl) {
            width: 100%;
            margin-top: 1rem;
        }
    }
}

.payment-shipping-details,
.shipping-billing-address {
    @include media-breakpoint-only(xs) {
        margin-left: -1.5rem;
        margin-right: -1.5rem;

        [class^='col-'] {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
}

.seperator-mobile {
    width: 100%;
    height: 0.0625rem;
    border-bottom: 0.0625rem solid $grey3;
    margin: 1.5rem 0;
}

.order-detail-item {
    display: flex;
    padding-bottom: 0.125rem;

    span {
        &:first-child {
            font-weight: $font-weight-semi-bold;
            padding-right: 0.3125rem;
            min-width: 50%;
            position: relative;

            @include media-breakpoint-down(lg) {
                min-width: 38%;
            }

            @include media-breakpoint-only(xs) {
                min-width: 50%;
            }
        }
    }
}

.payment-shipping-details {
    .order-detail-item {
        span {
            &:first-child {
                @include media-breakpoint-down(lg) {
                    min-width: 68%;
                }

                @include media-breakpoint-only(xs) {
                    min-width: 50%;
                }
            }
        }
    }
}

.order-detail-section-header {
    font-size: $font-size-4;
    font-weight: $font-weight-semi-bold;
    padding-bottom: 0.875rem;
}

.is-discount {
    color: $japaneseLaurel;
}

.vat-label {
    position: absolute !important;
    font-size: $font-size--3;
    font-weight: $font-weight-normal !important;
    left: 0;
    bottom: -0.85rem;
}

.order-payment-info {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.confirmation-items-header {
    font-size: $font-size-3;
    font-weight: $font-weight-medium;
    padding-bottom: 0.875rem;
    padding-top: 1.5rem;
}

.confirmation-items {
    margin-left: -($grid-gutter-width / 2);
    margin-right: -($grid-gutter-width / 2);

    .confirmation-item {
        display: flex;
        padding: 0 $grid-gutter-width / 2;
        position: relative;
        margin-left: 0;
        margin-right: 0;

        .confirmation-item-image {
            display: flex;
            position: relative;

            img {
                max-width: 5rem;
                width: 100%;
                height: auto;
                padding: 0.2rem;
            }
        }

        .confirmation-item-description {
            width: calc(100% - 5rem);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            @include media-breakpoint-only(xs) {
                padding-left: 0.5rem;
            }

            .confirmation-item-name {
                width: 60%;
                position: relative;
                margin-left: 0.9rem;
                font-size: $font-size--1;
                text-transform: uppercase;

                @include media-breakpoint-up(xl) {
                    width: 13.875rem;
                }
                @include media-breakpoint-down(lg) {
                    margin-left: 0.1rem;
                }

                p {
                    margin-bottom: 0;
                }

                @include media-breakpoint-only(xs) {
                    width: 90%;
                    align-self: flex-end;
                }
            }

            .confirmation-item-quantity {
                flex: 1;
                display: flex;
                justify-content: left;
                align-items: left;
                font-size: $font-size--1;
                line-height: 0;
                margin-left: 3%;

                @include media-breakpoint-up(xl) {
                    margin-left: 4vw;
                }
                @include media-breakpoint-down(lg) {
                    margin-left: 1rem;
                }
            }

            .confirmation-item-price {
                font-size: $font-size--1;
                text-align: right;
                text-transform: uppercase;

                .strike-through {
                    font-family: $font-family-secondary;
                    font-size: $font-size--3;
                }
            }

            .confirmation-item-details-mobile {
                display: flex;
                width: 100%;
                align-self: flex-start;
                align-items: center;
                justify-content: space-between;

                .confirmation-item-volume-mobile {
                    display: flex;

                    .confirmation-item-attributes-mobile {
                        padding-right: 0.3125rem;
                    }

                    .confirmation-item-quantity-mobile {
                        display: flex;

                        span:first-child {
                            padding-right: 0.3125rem;
                        }
                    }
                }
            }
        }
    }
}

.confirmation-gift-items {
    padding: 0 0.1rem;

    .confirmation-gift-row {
        display: flex;
        position: relative;

        .confirmation-gift-description {
            width: calc(100% - 5rem);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            .confirmation-gift-name {
                width: 60%;
                position: relative;
                margin-left: 0.1rem;
                font-size: $font-size--1;
                text-transform: uppercase;

                @include media-breakpoint-up(xl) {
                    width: 13.875rem;
                }

                p {
                    margin-bottom: 0;
                }
            }

            .confirmation-gift-price {
                font-size: $font-size--1;
                text-align: center;

                .confirmation-gift-span {
                    text-transform: uppercase;
                }
            }
        }
    }

    .confirmation-gift-personal {
        margin-top: 2rem;

        .confirmation-gift-header {
            font-weight: $font-weight-medium;
            font-size: $font-size-base;
            margin-bottom: 0.6rem;
        }

        .confirmation-gift-message {
            padding: 0.6rem;
            border: 0.0625rem solid $grey3;
            font-size: $font-size--2;
            font-weight: $font-weight-light;
            word-break: break-word;
        }
    }

    img {
        max-width: 5rem;
        width: 100%;
        height: auto;
        padding: 0.2rem;
    }
}

.confirmation-gift-bonus {
    .strike-through {
        display: none;
    }
}

.shipping-method-wrapper {
    display: flex;
}
