@import "../variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "../account";

.faq-menu-wrapper {
    text-align: center;
    font-family: $font-family-tertiary;
    letter-spacing: $font-ls-16;
    color: $primary;
    text-transform: uppercase;
    font-size: $font-size-base;
    line-height: $font-lh--6;

    @include media-breakpoint-up(lg) {
        font-size: $font-size--1;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-1;
    }

    .faq-header {
        text-align: center;
        letter-spacing: $font-ls--1;
        text-transform: uppercase;
        font-size: $font-size-18;
        font-family: $font-family-base;
        margin-bottom: 2rem;

        @include media-breakpoint-up(md) {
            font-size: $font-size-24;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-36;
        }
    }

    .faq-menu-items {
        .faq-menu-item {
            padding-top: 1.25rem;
            padding-bottom: 0.625rem;
            cursor: pointer;

            @include media-breakpoint-up(lg) {
                padding-bottom: 0.9375rem;
            }

            @include media-breakpoint-up(lg) {
                padding-bottom: 1.25rem;
            }
        }
    }

    a {
        text-decoration: none;
    }
}

.faq-section-wrapper {
    .nav-tabs {
        display: block;
        border-bottom: none;

        .active {
            color: $primary;
            font-family: $font-family-secondary;
        }

        .nav-item {
            @include media-breakpoint-down(md) {
                padding: 0.625rem 0;
            }
        }
    }

    padding: 2rem 0 1.25rem;

    @include media-breakpoint-up(lg) {
        padding-right: 2.5rem;
        padding-bottom: 0;
        padding-left: 2.5rem;
    }
}

.faq-section {
    margin: 0.9375rem 0;
    text-align: center;
    font-size: $font-size-1;
    color: $grey14;

    p {
        margin: 0 0 1.215rem;
    }

    table {
        margin-bottom: 1.71875rem;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;

        td,
        th {
            text-align: left;
            border: 0.1rem solid $grey15;
            padding: 0.625rem 0.875rem;
        }
    }

    ul,
    ol {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }
    }

    a {
        color: $grey14;
    }

    @include media-breakpoint-up(md) {
        margin: 1.5625rem 0;
        font-size: 1rem;
    }

    @include media-breakpoint-up(lg) {
        margin: 2.1875rem 0;
    }

    @include media-breakpoint-up(xl) {
        margin: 2.5rem 0;
    }

    .faq-section-title {
        font-size: $font-size-4;
        font-family: $font-family-secondary;
        letter-spacing: $font-ls-9;
        text-transform: uppercase;
        color: $primary;
        margin: 0 0 1.875rem;

        @include media-breakpoint-up(md) {
            font-size: $font-size-2;
            margin: 0 0 1.25rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-4;
            margin: 0 0 1.5625rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-6;
            margin: 0 0 2.1875rem;
        }
    }

    .faq-section-subtitle {
        font-family: $font-family-tertiary;
        letter-spacing: $font-ls-3;
        color: $primary;
        text-transform: uppercase;
        font-size: $font-size-base;
        line-height: $font-lh--6;
        padding: 0.3125rem 0;

        @include media-breakpoint-up(md) {
            font-size: $font-size--1;
            padding: 0.5rem 0;
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size--1;
            padding: 0.625rem 0;
        }

        @include media-breakpoint-up(xl) {
            font-size: $font-size-1;
            padding: 0.8125rem 0;
        }
    }
}
