.form-auth {
    &.modal-content .page-reset-password-btn,
    &.container .modal-reset-password-btn {
        display: none;
    }

    .modal-body {
        padding-top: 1.5rem;
    }

    .form-control-label {
        display: block;
    }
}

.separator > h6 {
    margin-top: 2.25rem;
}

.login-option-menu {
    font-size: $font-size--1;
    font-weight: $font-weight-medium;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5625rem;
    text-align: center;

    a {
        text-decoration: underline;
    }

    .forgot-password {
        text-align: right;
    }
}

.login-form-left {
    padding-bottom: 2rem;

    @include media-breakpoint-up(xl) {
        padding-right: 6rem;

        &::after {
            content: '';
            border-right: 0.0625rem solid $hr-border-color;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
        }
    }

    @include media-breakpoint-only(md) {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    .btn {
        font-size: $font-size-base !important;
    }
}

.login-sign-in {
    font-family: $font-family-base;
    font-size: $font-size-10;
    text-transform: uppercase;
    font-weight: $font-weight-light !important;
    padding-bottom: 1.3rem;
}

.separator {
    h6 {
        margin-top: 1rem !important;
        font-family: $font-family-base !important;
        font-weight: $font-weight-bold !important;
    }
}

.oauth-facebook {
    margin-right: 2.2rem !important;
}

.track-form-right {
    @include media-breakpoint-up(xl) {
        padding-left: 6rem;
    }

    @include media-breakpoint-only(md) {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    .track-order-header {
        font-family: $font-family-base;
        font-size: $font-size-10;
        text-transform: uppercase;
        font-weight: $font-weight-light !important;
        padding-bottom: 1.3rem;
    }

    .track-order-header-text {
        font-size: $font-size-base;
        padding-bottom: 2.2rem;
    }

    .btn {
        font-size: $font-size-base !important;
    }
}

.seperator {
    display: none !important;

    @include media-breakpoint-only(md) {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    @include media-breakpoint-down(md) {
        display: block !important;
    }
}

.register-container {
    .container-title {
        font-family: $font-family-base;
    }
}
