.page {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.storepage {
    width: 100%;
    padding-top: 3rem;

    .container {
        margin-bottom: 0 !important;
    }

    .experience-commerce_assets-editorialRichText {
        font-size: 16px;
    }

    .experience-commerce_layouts-mobileGrid1r1c,
    .experience-commerce_layouts-mobileGrid2r1c {
        margin-bottom: 3rem;
    }

    &#the-world-of-tanagra {
        h2 {
            font-size: $font-size-10;
        }

        p {
            font-size: $font-size-base;
            line-height: 18px;
            @include media-breakpoint-up(sm) {
                padding: 0 201px !important;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &#services {
            .experience-commerce_layouts-mobileGrid2r1c:nth-child(odd) .row.mx-n2 {
                flex-direction: column-reverse;
            }
        }
    }
}

#gift-Landing-page {
    .gift-product-container {
        .btn-action {
            display: none;
        }
    }
}
