.product-image-carousel {
    position: relative;
    margin: 0 0 0.625rem;

    @include media-breakpoint-up(lg) {
        display: flex;
        flex-wrap: wrap;
    }

    .product-images {
        @include media-breakpoint-up(lg) {
            width: 85%;
            flex: 1 0 85%;
            padding: 0 4.6875rem;
        }

        .slick-list {
            @include media-breakpoint-up(xl) {
                margin: 0 auto;
                max-width: 100%;
                min-width: 29.425rem;
            }

            /* rtl:raw:
                direction: ltr;
            */
        }

        .slick-arrow {
            color: $primary;
            padding: 0.625rem;
            width: 2.75rem;
            height: 2.75rem;
            z-index: 1;
            visibility: hidden;

            @include media-breakpoint-up(lg) {
                visibility: visible;
            }

            .slick-arrow-icon {
                &::before,
                &::after {
                    width: 0.75rem;
                }
            }

            &::before {
                display: none;
            }

            &.slick-disabled {
                color: $grey4;
            }
        }

        .slick-prev {
            left: -0.625rem;

            @include media-breakpoint-up(xl) {
                left: 2.0625rem;
            }

            /* rtl:raw:
                left: auto;
            */
        }

        .slick-next {
            right: -0.625rem;

            @include media-breakpoint-up(xl) {
                right: 2.0625rem;
            }

            /* rtl:raw:
                right: auto;
            */
        }

        .slick-slide {
            position: relative;
            text-align: center;
            max-height: 26.5625rem;

            @include media-breakpoint-up(md) {
                max-height: 44.25rem;
            }

            @include media-breakpoint-up(xl) {
                max-height: initial;
            }

            .modal-open & {
                max-height: initial;
            }
        }

        .slick-dots {
            bottom: 0.5rem;
            text-align: right;
            padding-right: 1.5rem;

            @include media-breakpoint-up(lg) {
                display: none;
                visibility: hidden;
            }

            li {
                height: 0.375rem;
                width: 0.375rem;
                margin: 0 0.3125rem;

                button {
                    height: 0.375rem;
                    width: 0.375rem;
                    padding: 0;
                    margin: 0 auto;
                    cursor: pointer;

                    &::before {
                        border: 0.0625rem solid $grey10;
                        background: $grey10;
                        overflow: hidden;
                        margin: 0 auto;
                        width: 0.375rem;
                        height: 0.375rem;
                        border-radius: 100%;
                        position: relative;
                        font-size: 0;
                        display: block;
                        opacity: 1;
                    }
                }

                &.slick-active {
                    button {
                        &::before {
                            background: $grey11;
                            border-color: $grey11;
                        }
                    }
                }
            }
        }
    }

    .product-thumbnails-wrapper {
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
            order: -1;
            max-width: 7.5rem;
            flex: 0 1 15%;
        }
    }

    .product-thumbnails {
        padding: 1rem 0;
        text-align: center;

        .img-fluid {
            @include media-breakpoint-down(xl) {
                width: 3.75rem;
                height: 4.25rem;
                margin: 0.3125rem 0;
            }
        }

        &.slick-vertical {
            .slick-arrow {
                top: auto;
                left: 50%;
                transform: translate(-50%, 0);
            }

            .slick-prev {
                top: 0;
            }

            .slick-next {
                bottom: 0;
            }

            .slick-list {
                width: 3.75rem;
                margin: 0 auto;
            }

            .slick-slide {
                margin: 0.3125rem 0;
            }
        }

        .slick-arrow {
            color: $primary;
            padding: 0;
            width: 1.25rem;
            height: 1.25rem;

            &::before {
                display: none;
            }

            &.slick-disabled {
                color: $grey4;
            }
        }

        .slick-arrow-icon {
            &::before {
                font-size: $font-size--4;
            }
        }

        .slick-slide {
            border: 0.0625rem solid $grey3;
            margin: 0 0.3125rem;
            height: 4.25rem;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            transition: border-color 0.2s ease-in-out;

            &.slick-current,
            &:hover {
                border-color: $primary;
            }

            .img-fluid {
                width: auto !important; // js inline
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                @include media-breakpoint-down(xl) {
                    min-width: 3.75rem;
                    min-height: 4.25rem;
                    margin: 0;
                    width: auto;
                    height: auto;
                }
            }
        }
    }
}

.product-main-image {
    margin-bottom: 0.625rem;

    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
    }
}
