.banner-carousel {
    position: relative;
    padding: 0;
    margin: 0 auto 2.5rem;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;

    @include media-breakpoint-up(xl) {
        min-height: 23.5rem;
    }

    img {
        width: 100%;
    }

    .slick-next,
    .slick-prev {
        top: 60%;
        width: 3.5rem;

        @include media-breakpoint-up(sm) {
            width: 6rem;
        }

        @include media-breakpoint-up(md) {
            width: 8rem;
            top: 70%;
        }

        @include media-breakpoint-up(lg) {
            top: 0;
            width: 4rem;
        }

        i::before {
            font-size: $font-size-16;

            @include media-breakpoint-up(lg) {
                font-size: $font-size-12;
            }
        }
    }
}

.banner-carousel-item,
.experience-commerce_assets-sliderBanner {
    display: inline-block;
    position: relative;
    width: 100%;
}

.banner-carousel-cta {
    text-align: center;

    @include media-breakpoint-up(lg) {
        position: absolute;
        width: 26%;
        top: 50%;
        transform: translateY(-50%);
        text-align: left;
    }

    &.right {
        /* rtl:ignore */
        right: 6%;
    }

    &.left {
        /* rtl:ignore */
        left: 6%;
    }

    &.center {
        /* rtl:ignore */
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.no-background {
        .cta-header,
        .cta-preheader,
        .cta-description,
        .btn-link-white {
            @include media-breakpoint-down(md) {
                color: $primary !important;
            }
        }
    }
}

.banner-carousel-cta-content {
    cursor: pointer;
    padding: 1.5rem 4.25rem;
    position: relative;
    visibility: hidden;
    white-space: normal;

    @include media-breakpoint-up(sm) {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    @include media-breakpoint-up(md) {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 12% 10%;
    }

    .btn-primary {
        font-size: $font-size--1;
    }

    &:hover {
        .btn-primary {
            background-color: $primary-hover;
            border-color: $primary-hover;
        }
    }
}

.slick-initialized {
    &.banner-carousel {
        overflow: initial;
    }

    .banner-carousel-cta-content {
        visibility: visible;
    }
}
