input[type="checkbox"],
input[type="radio"] {

    // Check / Uncheck
    &:not(:checked),
    &:checked {
        opacity: 0;
        position: fixed;
        top: -999px;
        z-index: -1;

        + label {
            cursor: pointer;
            position: relative;
            padding-left: 1.5rem;
            margin-bottom: 0;
            font-size: $font-size--1;

            + .content-asset {
                font-size: $font-size--1;
                padding: 0.7rem 0;

                @include media-breakpoint-up(xl) {
                    padding: 0.3rem 1.5rem;
                }
            }

            &::before,
            &::after {
                content: '' !important;
                color: $white;
                border-radius: 0;
                border: 0.0625rem solid transparent;
                position: absolute;
                left: 0;
                top: -0.0125rem;
                width: 1.0625rem;
                height: 1.0625rem;
                transition: all 0.2s;
            }

            &::before {
                background: $white;
                border-color: $primary;
            }

            &::after {
                box-shadow: 0 0 0 0.125rem  $white inset;
                background: $primary;
                border-color: $primary;
            }
        }
    }

    &:not(:checked) + label::after {
        opacity: 0;
        transform: scale(0);
    }

    &:checked + label::after {
        opacity: 1;
        transform: scale(1);
    }

    &:focus + label::before,
    &:focus + label::after {
        outline: 0.0625rem dotted $secondary !important;
    }

    // Disable / Enable
    &:disabled:not(:checked) + label::before,
    &:disabled:checked + label::before,
    &:disabled:checked + label::after,
    &:disabled + label {
        opacity: $btn-disabled-opacity;
    }
}

input[type="radio"] {
    &:not(:checked),
    &:checked {
        + label {
            &::before,
            &::after {
                border-radius: 100%;
            }
        }
    }
}
