.cookie-warning-container {
    align-items: baseline;
    background-color: $grey9;
    color: $white;
    display: flex;
    font-size: $font-size-2;
    justify-content: flex-start;
    line-height: 1.5;
    overflow: hidden;
    padding: 0.3rem 0.5rem 0.4rem 0.725rem;

    .btn-cancel {
        margin-left: auto;

        .icon-close {
            color: $white;

            &::before {
                font-size: $font-size-1;
            }
        }
        @include ipad() {
            position: absolute;
            right: 0.313rem;
            top: 0;
        }
    }

    .content-asset {
        a {
            color: $white;
            text-decoration: underline;
        }
    }
}

@include media-breakpoint-up(xl) {
    .sticked {
        .cookie-warning-container {
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
