.product-summary-list-header {
    background-color: $primary;
    color: $white;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    padding: 0.3125rem 1.5625rem;
    text-transform: uppercase;
}

.product-summary-items {
    .product-summary-item + .product-summary-item::before {
        border-bottom: 0.0625rem solid $tertiary;
        content: '';
        display: block;
        margin-bottom: 1.0125rem;
    }
}

.product-summary-item {
    font-size: $font-size-base;
    padding: 0 1.5625rem 0.8125rem;
}

.product-summary-item-remove {
    button,
    a {
        background: none;
        border: none;
        color: $primary;
        margin: 0;
        padding: 0;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: $font-weight-medium;
    }
}

.product-summary-item-image {
    padding-right: 0.5rem;

    a {
        display: block;

        img {
            width: 5rem;
        }
    }
}

.product-summary-item-name {
    font-weight: $font-weight-demi-bold;
    text-transform: uppercase;
}

.product-summary-item-quantity {
    color: $grey4;
    font-weight: $font-weight-demi-bold;
}

.product-summary-item-price {
    font-weight: $font-weight-demi-bold;
    color: $primary !important;
    font-size: $font-size-base !important;
}
