@import '~brand_core/mixins/swatch';

.product-tile-link {
    position: absolute;
    top: 0.0625rem;
    right: 0;
    left: 0;
    bottom: 0.0625rem;
    z-index: 2;
}

.product {
    overflow: hidden;
    max-width: 10rem;
    margin: 0 auto;
}

.product-tile {
    border: 0;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    position: relative;

    .tile-body {
        padding: 0 0 1.875em;

        .attributes {
            height: 1.5rem;
        }

        .attribute {
            font-size: $font-size--1;
            height: 1.25rem;
            line-height: 1.25rem;
            margin-top: 0.125rem;
            margin-bottom: 0.125rem;
            padding: 0 0.125rem;
            width: 2.625rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-transform: none;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover,
            &.selected {
                border-color: $primary !important;
            }
        }

        .price {
            margin-bottom: 0;

            .range {
                display: flex;
                justify-content: center;

                @include media-breakpoint-up(lg) {
                    font-size: $font-size--2;
                }

                .value {
                    @include media-breakpoint-up(lg) {
                        font-size: $font-size--2;
                    }
                }
            }

            .tiered {
                font-size: $font-size-base;

                .value {
                    font-weight: $font-weight-bold;
                }
            }

            .strike-through,
            .worth {
                color: $secondary;
                display: block;
                font-size: $font-size-base;
                margin-right: 0;
                margin-top: 0.25rem;
            }

            .sales {
                font-size: $font-size-2;
                display: flex;
                justify-content: center;

                span {
                    max-width: 6.25rem;
                }
            }
        }

        .coming-soon-tile {
            text-align: center;
        }

        .pdp-link {
            a {
                font-weight: $font-weight-demi-bold;
                text-decoration: none;
            }
        }

        > .btn {
            position: relative;
            z-index: 3;
            width: 100%;
            margin-top: 1.25rem;

            @include media-breakpoint-down(md) {
                min-width: 6.35rem;
            }
        }
    }

    .swatches-container {
        margin-bottom: 1rem;
        padding: 0 1.125rem;

        .slick-next,
        .slick-prev {
            width: 1rem;
            display: flex;
            justify-content: center;
            top: 50%;
            transform: translateY(-50%);
            bottom: auto;

            &.slick-disabled {
                visibility: hidden;
            }

            i {
                transform: none rtl(scale(-1));

                &::before {
                    background-color: transparent;
                    font-size: 0.75rem;
                    padding: 0.3rem 0;
                }
            }
        }

        .slick-prev {
            left: -1rem;
            right: auto;
        }

        .slick-next {
            right: -1rem;
            left: auto;
        }
    }

    .name-container {
        margin-bottom: 0.75rem;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .short-description {
            font-size: $font-size--1;
        }
    }

    .ratings-price-container {
        justify-content: center;
        align-items: center;

        @include media-breakpoint-up(lg) {
            display: flex;
        }
    }

    .price-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 2.75rem;
    }

    .image-container {
        position: relative;

        .quickview {
            position: absolute;
            bottom: 1rem;
            right: 1rem;

            i {
                &.fa-expand {
                    color: rgba(0, 0, 0, 0.7);
                }

                &.fa-circle {
                    color: rgba(255, 255, 255, 0.7);
                    text-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.2);
                }
            }
        }

        a {
            display: block;

            .tile-image {
                width: 100%;
            }
        }
    }

    .ratings-container {
        .rating-text {
            display: none;
        }

        .separator {
            background-color: $tertiary;
            width: 0.0625rem;
            height: 1.25rem;
            margin: 0 0.85rem;
        }
    }

    .swatches {
        margin-top: 0.5rem;
        overflow: hidden;
        white-space: nowrap;

        &.slick-initialized {
            overflow: initial;
        }

        a {
            margin: 0 0.25rem;
            text-decoration: none;
            display: inline-block;
            outline: 0 !important;
        }
    }

    .swatch-circle {
        @include swatch($size: 1.25rem, $selected-border-gap: 0.125rem);

        display: block;
        margin-top: 0.125rem;
        margin-bottom: 0.125rem;

        &:hover::after,
        &.selected::after {
            border-color: $primary !important;
        }
    }

    .btn-action {
        font-size: $font-size--1;
    }

    &.is-outofstock {
        .btn-action {
            @extend .btn.disabled;
        }
    }
}

.hide-product-image {
    .image-container {
        display: none;
    }
}

.hide-product-name {
    .name-container {
        display: none;
    }
}

.hide-product-badges {
    .badges-container {
        display: none;
    }
}

.hide-product-review {
    .review-container {
        display: none;
    }
}

.hide-product-price {
    .price-container {
        display: none;
    }
}

#chooseBonusProductModal {
    .modal-footer {
        .container {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
    }

    .select-cbp-container {
        margin-top: auto;
        margin-bottom: auto;
    }

    .product-name-wrapper {
        width: 100%;
    }

    .bonus-quantity,
    .bonus-option {
        margin-top: 0.938em;
    }

    .bonus-quantity-select {
        min-width: 5em;
    }

    .select-bonus-product {
        margin-top: 1em;
    }

    .selected-pid {
        border: 0.0625rem solid $grey3;

        .bonus-product-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .bonus-product-price {
        text-align: center;
        margin-top: 1em;
    }
}
