.ratings-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
    }
}

.rating-stars {
    display: flex;
    padding: 0.25rem 0;
    position: relative;

    i {
        display: inline-block;
        line-height: 0;
        margin: 0 0.0625rem;

        @include media-breakpoint-up(lg) {
            margin: 0;
        }
    }

    i::before,
    i::after {
        font-size: $font-size-base;
    }

    i.icon-star-fill-half::before {
        width: $font-size-base / 2;
    }
}

.review-count,
.rating-summary {
    color: $tertiary;
    font-size: $font-size--1;
}
