.refinements {
    max-width: 44.625rem;
    margin: 0 auto;
}

.refinement-bar {
    ul {
        padding-left: 0;
    }

    @include media-breakpoint-up(lg) {
        display: block;
        position: relative;
    }
}

.grid-header,
.content-grid-header,
.refinement-header {
    margin-bottom: 1.1875rem;
    padding-bottom: 0.5rem;
    min-height: 3.5rem;
    align-items: center;

    @include media-breakpoint-up(lg) {
        border-bottom: 0.0625rem solid $alto;
        margin-bottom: 2.25rem;
    }

    .custom-select {
        border: 0;
        border-bottom: 0.0625rem solid $alto;
        font-size: $font-size--1;
        height: 2.625rem;
        background-position: 97% #{"/*rtl:0*/"};

        @include media-breakpoint-up(lg) {
            height: auto !important;
            width: 11.25rem !important;
            padding-bottom: 0.25rem;
            padding-left: 0.125rem;
            padding-top: 0;
        }

        option {
            padding-left: 0.5rem;
        }
    }
}

.grid-header {
    @include media-breakpoint-up(lg) {
        margin-bottom: 1rem;
    }
}

.refinement-header {
    font-size: $font-size--2;
    font-weight: $font-weight-medium;
    text-transform: uppercase;

    @include media-breakpoint-down(md) {
        display: none;
    }
}

.refinement-title {
    border-bottom: 0.0625rem solid $alto;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

.grid-header-row {
    display: flex;
    padding-left: 0;
    padding-right: 0;
}

.refinement {
    border: 0;
    border-bottom: 0.0625rem solid $grey3;
    border-radius: 0;
    padding-bottom: 0;
    margin-bottom: 0;

    .card-header {
        cursor: pointer;
        font-weight: $font-weight-demi-bold;
        border-radius: 0;
        border-bottom: 0;
        padding: 1rem 0;
        display: flex;
        align-items: center;
        position: relative;
        text-transform: uppercase;

        > i {
            margin-left: auto;

            @include media-breakpoint-up(lg) {
                top: auto;
            }

            &::before {
                font-size: $font-size-base;
            }
        }

        > .icon-minus {
            display: none;

            &::before {
                margin-top: 0.0375rem !important;
                margin-left: -0.5rem !important;
            }
        }
    }

    .card-body {
        font-weight: $font-weight-light;
        padding: 0;
        height: 0;
        padding-bottom: 0;
        opacity: 0;
        transition: height $animation-duration, padding-bottom $animation-duration;

        ul {
            padding: 1rem 0 0 0.625rem;
            margin: 0;
            list-style: none;

            @include media-breakpoint-up(md) {
                padding-top: 0.75rem;
            }

            @include media-breakpoint-up(lg) {
                padding-top: 0.5rem;
            }
        }

        > ul {
            padding: 0;
        }

        li {
            &:not(.color-attribute) {
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 0.75rem;
                width: 100%;

                &:not(:last-child) {
                    border-bottom: 0.0625rem solid $alto;
                    padding-bottom: 0.75rem;

                    @include media-breakpoint-up(lg) {
                        border-bottom: 0;
                        padding-bottom: 0;
                    }
                }

                @include media-breakpoint-up(lg) {
                    margin-bottom: 0.5rem;
                }
            }

            &.disabled {
                opacity: 0.5;
            }
        }
    }

    &.open {
        .card-header {
            > .icon-plus {
                display: none;
            }

            > .icon-minus {
                display: block;
            }
        }

        .card-body {
            padding: 1rem 1rem 0;
            height: auto;
            opacity: 1;
            background-color: $grey1;
            border-top: 0.0625rem solid $alto;

            @include media-breakpoint-up(lg) {
                padding: 0 0.125rem 0.5rem;
                background-color: transparent;
                border-top: 0;
            }
        }
    }

    &:not(.open) {
        .card-body {
            overflow: hidden;
        }
    }
}

.refinement-count {
    background-color: $primary;
    border-radius: 100%;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size--2;
    line-height: 1;
    width: 1.125rem;
    height: 1.125rem;
    margin-left: 0.25rem;
}

.refinement-price {
    &.open {
        .card-body {
            padding-bottom: 1.5rem !important;
            padding-top: 1.5rem;

            @include media-breakpoint-up(lg) {
                padding-top: 0;
                padding-left: 0.25rem;
            }
        }
    }

    .noUi-horizontal {
        padding-left: 1rem;

        @include media-breakpoint-up(lg) {
            padding-right: 0.4rem;
        }
    }
}

.refinement-color {
    .card-body {
        > ul {
            display: flex;
            flex-wrap: wrap;
            margin-top: -0.1875rem;
        }
    }

    .color-attribute {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        padding-left: 0;
    }

    .swatch-circle {
        @include swatch($size: 1.25rem, $selected-border-gap: 0.125rem);
    }

    &.open {
        .card-body {
            padding-bottom: 1rem !important;
            padding-top: 1rem;

            @include media-breakpoint-up(lg) {
                padding-top: 0;
            }
        }
    }
}

.refinement.refinement-category {
    display: none;
    margin-bottom: 3.5rem;
    border-bottom: 0;

    @include media-breakpoint-up(lg) {
        display: flex;
    }

    .card-header {
        display: none;
    }

    .card-body {
        text-transform: uppercase;

        > ul > li:not(:last-child) {
            margin-bottom: 1.25rem;
        }
    }

    li {
        display: block;
        margin-left: 0;
    }

    .values {
        font-weight: $font-weight-medium;

        &:not(:last-child) {
            margin-bottom: 1.5rem !important;
        }
    }

    a > i::before {
        font-size: $font-size--2;
    }
}

.category-item {
    margin-bottom: 0.938rem;
}

.search-nav {
    margin-bottom: 1em;
    border-bottom: 0.063em solid $grey3;

    .nav-tabs-wrapper {
        padding: 0;

        @include media-breakpoint-down(xs) {
            width: 100%;
        }

        .nav-tabs {
            border-bottom: 0 none;
        }
    }

    .nav-link:focus {
        background-color: $grey1;
    }
}

.product-options .quantity {
    position: absolute;
    bottom: 0;
    right: 0;
}

.grid-title {
    font-size: $font-size-6;
    font-weight: normal;
    margin-bottom: 1.5rem;
    align-self: center;
    text-align: center;
    width: 100%;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-2;
        font-weight: $font-weight-medium;
        margin-bottom: 0;
        text-align: left;
    }
}

.search-results {
    margin-top: 2rem;

    &.srp-results {
        @include media-breakpoint-down(md) {
            margin-top: 1rem;
        }

        .grid-title {
            @include media-breakpoint-down(md) {
                text-align: left;
                font-size: $font-size-base;
            }
        }

        .btn-select {
            display: none;
        }
    }

    .breadcrumb {
        padding: 0;
    }

    .product-tile {
        .tile-body {
            padding-bottom: 2rem;
        }
    }
}

.refinement-top-bar {
    border-top: 0.0625rem solid $alto;
    border-bottom: 0.0625rem solid $alto;
    display: flex;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    @include media-breakpoint-up(lg) {
        border: 0;
        width: 100%;
        position: static;
        margin-left: 0;
        margin-right: 0;
    }
}

.btn-refine-by,
.btn-sort-by {
    display: flex;
    justify-content: center;

    button.btn-overlay {
        color: $primary;
        background-color: $white;
        border: 0;
        text-align: center;
        text-transform: uppercase;
        padding: 0 0.825rem;
        font-size: $font-size-2;
        font-weight: $font-weight-medium;
    }

    i::before {
        font-size: $font-size-base;
    }
}

.btn-refine-by {
    border-left: 0.0625rem solid $alto;
    border-right: 0.0625rem solid $alto;
    position: relative;

    @include media-breakpoint-up(lg) {
        display: none;
    }

    i {
        position: relative;
        top: -0.125rem;
        left: 0.125rem;

        &::before {
            font-size: 0.5625rem;
            font-weight: $font-weight-demi-bold;
        }
    }
}

.btn-sort-by {
    position: relative;

    @include media-breakpoint-up(lg) {
        justify-content: flex-end;
        padding: 0;
    }

    button.btn-overlay {
        pointer-events: none;

        i {
            position: relative;
            top: -0.0625rem;
            left: 0.125rem;
        }
    }

    .custom-select {
        @include media-breakpoint-down(md) {
            font-size: $font-size-2;
        }
    }

    .filter-option-inner-inner {
        @include media-breakpoint-down(md) {
            opacity: 0;
        }
    }
}

.btn-grid-layout {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(lg) {
        display: none;
    }

    .separator {
        background-color: $alto;
        height: 1.5625rem;
        width: 0.125rem;
    }
}

.btn-grid-layout-single,
.btn-grid-layout-multiple {
    background-color: $alto;
    width: 0.875rem;
    height: 0.875rem;
    margin: 0 0.75rem;
    position: relative;
    padding: 0;

    &.active {
        background-color: $primary;
    }
}

.btn-grid-layout-multiple {
    &::after,
    &::before {
        content: '';
        background-color: $white;
        position: absolute;
    }

    &::before {
        width: 0.125rem;
        top: -0.0625rem;
        bottom: -0.0625rem;
        left: 50%;
        transform: translateX(-50%);
    }

    &::after {
        height: 0.125rem;
        left: -0.0625rem;
        right: -0.0625rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

.plp-details {
    margin-bottom: 1.5rem;

    + .search-results {
        margin-top: 0;
    }
}

.plp-title {
    font-size: $font-size-11;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    position: relative;

    @include media-breakpoint-up(lg) {
        border-bottom: 0.0625rem solid $alto;
        font-size: $font-size-18;
        margin-bottom: 2.25rem;
        padding-bottom: 1.2rem;
    }

    small {
        display: block;

        @include media-breakpoint-up(lg) {
            position: absolute;
            bottom: 0.375rem;
            left: 0.125rem;
        }
    }
}

.show-more {
    @include media-breakpoint-down(md) {
        margin-bottom: 1.875rem;
    }

    .btn {
        font-size: $font-size-2;
    }
}

.product-grid.single-column {
    > div {
        @include media-breakpoint-down(md) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.link-reset-filter {
    color: $grey5;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    i {
        margin-right: 0.4rem;
        line-height: 0;

        &::before {
            font-size: 0.375rem;
        }
    }
}

.link-remove-selected-filter {
    background: $grey2;
    color: $grey5;
    font-size: $font-size--1;
    display: flex;
    align-items: center;
    padding: 0.3125rem 0.4rem;
    margin-right: 0.625rem;
    margin-bottom: 0.625rem;
    text-transform: uppercase;

    i {
        margin-left: 0.4rem;
        line-height: 0;

        &::before {
            font-size: 0.375rem;
        }
    }
}

.border-y {
    border-top: solid 0.0625rem $alto;
    border-bottom: solid 0.0625rem $alto;
}

.icon-arrow-left::before {
    color: $grey3 !important;
    font-size: 0.8rem !important;
}
