@import "../../../variables";
@import "bootstrap/scss/mixins/breakpoints";

.banner-side-text {
    margin-bottom: 0.625rem;

    @include media-breakpoint-down(sm) {
        padding-left: 0;
        padding-right: 0;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 1.25rem;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 1.875rem;
    }
}

.banner-side-text-inner {
    display: flex;
    flex-direction: column;
    position: relative;

    @include media-breakpoint-up(lg) {
        flex-direction: row-reverse;

        &.m-flip {
            flex-direction: row;
        }
    }
}

.banner-side-text-content {
    width: 100%;
    background-color: $mosaic-bg;
    color: $black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-up(lg) {
        width: percentage(1/3);
    }
}

.banner-side-text-content-inner {
    padding: 1.0625rem 1.25rem;
}

.banner-side-text-image {
    &,
    img {
        width: 100%;
    }

    @include media-breakpoint-up(lg) {
        width: percentage(2/3);
    }
}

.banner-side-text-image-picture {
    display: block;
}

.banner-side-text-title {
    font-size: $font-size-2;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-4;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-6;
    }
}

.banner-side-text-caption {
    font-size: $font-size--3;
    text-transform: uppercase;
    margin-top: 1.25rem;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-4;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-1;
    }
}

.banner-side-text-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 0;
}
