.refinements-container {
    display: flex;
    align-items: center;

    .btn-select {
        letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};

        /* rtl:raw:
            font-family: "NHaasGroteskTXPro", Arial, Sans-serif;
            font-weight: 400;
        */
    }
}

.btn-sort-by {
    .select + .select2-container--default {
        letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};

        /* rtl:raw:
            font-family: "GESSTwoLight-Light", Arial, Sans-serif;
        */

        &.select2-container--open .select2-selection__arrow {
            transform: none;
        }
    }
}

.filter-bar {
    display: flex;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.applied-filters {
    display: flex;
}

.applied-filter {
    margin-left: 0.9375rem;
}

.applied-filter-button {
    display: flex;
    align-items: center;
    padding: 0 20px 0 0;
    text-transform: capitalize;
    font-size: $font-size--5;
    letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
}

.applied-filter-icon {
    margin: 0 0 0 0.875rem;
    transform: scale(0.45) rotate(90deg);
}

.refinement-bar {
    margin: 0;
    z-index: map-get($zindex, zindex-4);

    &.show {
        display: block !important;
    }

    @include media-breakpoint-up(md) {
        max-width: 41.25rem;
        min-width: auto;
        width: max-content;
        padding: 1.875rem 2.5rem;
    }

    @include media-breakpoint-down(lg) {
        z-index: 1030; // todo: Add vaariable after header implementation
        position: fixed !important;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        transform: none !important;
        padding: 0;
        flex-direction: column;
        height: 100%;
        overflow: auto;

        &.show {
            display: flex !important;
        }
    }
}

.refinement-bar-header {
    padding: 0.6875rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.0625rem solid $athens-gray;
    font-family: ff(secondary);
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
}

.refinement-bar-body {
    flex: 1 1 auto;
}

.refinement-bar-footer {
    @include media-breakpoint-down(lg) {
        padding: 1.25rem;
        border-top: 0.0625rem solid $athens-gray;
    }
}

.refinement-bar-title {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
}

.refinement-bar-close {
    padding: 0;
    margin-top: -0.125rem;

    .sc-icon-cross {
        transform: scale(0.8);

        &::before,
        &::after {
            width: 1rem;
            background-color: $primary;
        }
    }
}

.refinement-bar-clear {
    text-decoration: underline;
    font-size: $font-size--5;
    color: rgb(108, 113, 122); // todo
    text-transform: none;
    line-height: $line-height-3;
    margin: 0.0625rem 0 0 1.25rem;
    letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
    font-family: ff(tertiary);

    &.disabled {
        background-color: transparent;
    }

    @include media-breakpoint-down(lg) {
        margin: 0;
    }
}

.refinement-bar-clear-col,
.refinement-bar-close-col {
    width: 6.25rem;
}

.refinement-bar-close-col {
    text-align: right;
}

.refinements {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    margin-bottom: 0.9375rem;

    @include media-breakpoint-down(lg) {
        padding: 0 0 1.25rem;
        margin-bottom: 0;
        flex-flow: column;
    }
}

.refinement {
    border-bottom: 0;
    margin-left: 0;
    margin-right: 3.75rem;
    margin-bottom: 0.9375rem;
    padding: 0.625rem 0;

    @include media-breakpoint-down(lg) {
        padding: 0.9375rem 1.25rem 0 1.5625rem;
        margin-right: 0;
        border-top: 0.0625rem solid  $athens-gray;

        &:first-child {
            border-top: 0;
        }
    }
}

.refinement-name {
    font-family: ff(secondary);
    text-transform: uppercase;
    letter-spacing: $font-ls-4 #{"/*rtl:normal*/"};
    font-weight: $font-weight-normal;
    font-size: $font-size--6;
    margin-bottom: 0.3125rem;

    /* rtl:raw:
        font-family: "GESSTwoBold-Bold", Arial, Sans-serif;
    */
}

.refinement-item-value {
    @include check-icon;

    position: relative;
    font-size: $font-size--5;
    letter-spacing: $font-ls-5 #{"/*rtl:normal*/"};
    color: $primary-hover;
    text-transform: none;
    margin-top: 0.9375rem;

    &:hover {
        text-decoration: underline;

        > span {
            text-decoration: underline;
        }
    }

    &::after {
        opacity: 0;
    }

    &.selected::after {
        opacity: 1;
    }

    .color-attribute-text {
        margin-top: 0;
    }
}

.color-attribute {
    .color-value {
        display: none;
    }
}

.refinement-item-swatch {
    width: 1.5625rem;
    height: 1.5625rem;

    &.selected {
        + .refinement-item-value {
            &::after {
                opacity: 1;
                margin-right: 0.5rem;
            }
        }
    }
}

.color-attribute-link {
    display: flex;
    align-items: center;
}

.color-attribute-text {
    padding-left: 0;
}

.refinement-bar-apply-button {
    width: 100%;
}
