.breadcrumb {
    display: none;
    margin-bottom: 0;
    padding: 0.5625rem 0.9375rem 0;

    @include media-breakpoint-up(lg) {
        display: flex;
    }
}

.breadcrumb-item {
    color: $grey4;

    &::before {
        font-family: 'scicons' !important;
        font-style: normal;
        text-decoration: inherit;
        transform: rotateY(0);
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        /* rtl:raw:
            transform: rotateY(180deg);
        */
    }

    .breadcrumb-item-link {
        color: $grey4;
    }
}
