.checkout-steps-background {
    background-color: $alabaster;

    @include media-breakpoint-down(sm) {
        margin-top: 1rem;
    }
}

.checkout-steps-item {
    position: relative;
    display: block;
    font-size: fz(body);
    line-height: $font-lh--7;
    color: $text-muted;
    white-space: nowrap;
    padding: 0.4375rem 0.5rem;
    text-align: center;
    flex: 1;

    @include media-breakpoint-up(md) {
        padding: 0.4375rem 2rem;
        flex: none;
    }

    &.checkout-step-shipping-title {
        padding: 0.4375rem 1rem;

        @include media-breakpoint-up(md) {
            padding: 0.4375rem 3rem;
        }
    }

    &.checkout-steps-active {
        color: $secondary;
        font-weight: $font-weight-bold;
    }
}

.checkout-steps-seperator {
    border-right: 0.0625rem solid $tertiary;
    width: 0.0625rem;
    height: 1rem;
}
