footer {
    @include ipad(portrait) {
        max-width: 100%;
    }

    @include media-breakpoint-up(xl) {
        margin-top: 5.625rem;
    }

    @include media-breakpoint-down(lg) {
        margin-top: 5rem;
    }

    @include media-breakpoint-down(sm) {
        margin-top: 3.75rem;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    a {
        color: $secondary;
        text-decoration: none;
    }

    h3 {
        font-size: fz(body);
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        position: relative;
    }

    .sc-icon-email {
        &::before {
            position: relative;
            top: 0.125rem;
        }
    }
}

.footer-newsletter {
    color: $secondary;
    margin-bottom: $spacer-container;

    > .container {
        > form {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include media-breakpoint-up(xl) {
                width: 46%;
                align-items: center;
                margin: 0 auto;
            }

            input {
                padding-left: 0.25rem;
            }
        }
    }

    .form-control {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        margin-right: 1.875rem;
        padding: 0.625rem 0;

        @include media-breakpoint-down(sm) {
            margin-right: 0;
            width: calc(100% - 1.875rem);
        }

        &::placeholder {
            color: $grey5;
            font-style: $font-weight-normal;
        }
    }

    .footer-newsletter-btn {
        @include media-breakpoint-down(sm) {
            padding: 0.75rem 3.25rem;
            margin: 1.5625rem auto 0;
        }
    }
}

.footer-newsletter-title {
    font-size: fz(h4);
    font-weight: $font-weight-bold;
    margin-bottom: 0.625rem;
    text-align: center;
    text-transform: uppercase;
}

.footer-newsletter-description {
    margin-bottom: 0.625rem;
    text-align: center;
}

.footer-newsletter-icon {
    @include media-breakpoint-down(sm) {
        width: 1.375rem;
    }
}

.footer-usp {
    .bg-light {
        .row {
            > div {
                @include media-breakpoint-down(sm) {
                    align-items: flex-start !important;
                }
            }
        }
    }
}

.footer-menu {
    @include media-breakpoint-up(xl) {
        margin-bottom: $spacer-container;
    }

    > .content-asset {
        .container {
            > .row > div:not(:last-child) {
                @include media-breakpoint-down(lg) {
                    border-bottom: 0.0625rem solid $grey2;
                }
            }

            > .row > div:first-child {
                @include media-breakpoint-down(lg) {
                    border-top: 0.0625rem solid $grey2;
                }
            }
        }

        h3 {
            cursor: pointer;

            @include media-breakpoint-down(lg) {
                padding-top: 0.9375rem;
                padding-bottom: 0.9375rem;
                margin-bottom: 0;
            }

            > i {
                color: $text-muted;
                margin-left: auto;
                position: absolute;
                right: 0;

                @include media-breakpoint-up(xl) {
                    display: none;
                }
            }

            > .sc-icon-arrow {
                right: -0.625rem;
                transition: transform $animation-duration;

                /* rtl:raw:
                    transform: rotate(180deg);
                */

                @include media-breakpoint-up(xl) {
                    display: none;
                }
            }
        }

        ul {
            font-size: fz(body-sm);
            line-height: 2.27;
            overflow: hidden;
            height: 0;
            transition: height $animation-duration, padding-bottom $animation-duration;

            @include media-breakpoint-up(xl) {
                height: auto;
                overflow: initial;
            }
        }

        .open {
            @include media-breakpoint-down(lg) {
                h3 {
                    > .sc-icon-arrow {
                        transform: rotate(90deg);
                    }
                }
            }

            ul {
                height: auto;
                padding-bottom: 0.5rem;
                margin-top: -0.5rem;

                @include media-breakpoint-up(md) {
                    padding-bottom: 0.75rem;
                }

                @include media-breakpoint-up(xl) {
                    margin-top: 0;
                }
            }
        }
    }

    .footer-store-area {
        margin: 1.25rem 0;

        > a:not(:last-child) {
            margin-right: 1.25rem;
        }
    }
}

.footer-social-media {
    text-align: center;

    @include media-breakpoint-up(xl) {
        padding-left: 8rem;
        text-align: left;
    }

    ul {
        display: flex;
        justify-content: center;
        height: auto !important;
        padding-top: 1.25rem;

        @include media-breakpoint-up(xl) {
            display: block;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    li {
        display: inline-block;

        &::before {
            display: none;
        }

        &:not(:last-child) {
            margin-right: 2.5rem;

            @include media-breakpoint-up(md) {
                margin-right: 4.25rem;
            }
        }

        @include media-breakpoint-up(xl) {
            display: block;
            margin-right: 0;
            margin-bottom: 0.45rem;
        }
    }

    a {
        display: flex;

        > i {
            text-align: center;

            @include media-breakpoint-up(xl) {
                margin-right: 0.75rem;
            }
        }

        > i::before {
            @include media-breakpoint-up(xl) {
                font-size: fz(p20, true);
                width: 1rem;
                text-align: center;
                vertical-align: middle;
            }
        }

        > span {
            display: none;

            @include media-breakpoint-up(xl) {
                display: inline;
                position: relative;
                top: 0.0625rem;
            }
        }
    }
}

.footer-copyright {
    font-size: fz(body-xs);
}

.footer-copyright-container {
    background-color: $light;
    text-align: center;

    @include media-breakpoint-up(xl) {
        text-align: left;
    }
}

.footer-logo-only {
    display: none;

    @include media-breakpoint-up(md) {
        display: block;
    }

    .footer-copyright {
        display: block;
        font-size: fz(body);
        text-align: center;
        border-top: 0.0625rem solid $alabaster;
        padding: 0.875rem 0;
    }

    .footer-copyright-logo {
        display: inline-block;
    }

    .footer-copyright-logo-image {
        width: 6.25rem;
    }

    .footer-copyright-container {
        background: none;
        text-align: center;
    }
}
