.mobile-navbar-open {
    @include media-breakpoint-down(lg) {
        overflow: hidden !important;
        position: fixed;
        width: 100%;
    }
}

.header {
    background-color: $white;
    border-bottom: 0.0625rem solid transparent;

    &.mobile-search-sliding {
        border-bottom: 0.1875rem solid $secondary !important;
    }

    &.navbar-visible {
        @include media-breakpoint-down(lg) {
            .navbar-toggle-search-btn,
            .navbar-header-menu-item,
            .navbar-toggler .sc-icon-menu,
            .minicart {
                opacity: 0;
            }

            .navbar-toggler {
                position: fixed;
                right: 0;
                bottom: 0;
                left: auto;
                background-color: $silver;
                width: 2.8125rem;
                z-index: 99;

                .sc-icon-cross {
                    opacity: 1;
                    position: absolute;
                    top: 1.5625rem;
                    left: 1.375rem;

                    &::before,
                    &::after {
                        background-color: $white;
                    }
                }
            }
        }
    }

    > .container {
        @include media-breakpoint-down(lg) {
            max-width: 100%;
        }
    }
}

.header-top {
    position: relative;
    margin: 0 auto;
    padding: 0 0 0.8rem;

    @include media-breakpoint-up(md) {
        padding-bottom: 0.95rem;
    }

    @include media-breakpoint-up(xl) {
        padding-bottom: 0;
    }

    .navbar-toggler,
    .navbar-toggle-search-btn,
    .navbar-header-contact-us,
    .minicart {
        @include ipad() {
            display: block !important;
        }
    }

    i {
        &::before {
            @include media-breakpoint-up(xl) {
                opacity: 0.8;
                font-weight: $font-weight-semi-bold;
            }
        }
    }
}

.language-selector {
    .btn-link {
        text-transform: none;
    }
}

.navbar-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;

    .user,
    .minicart,
    .navbar-header-menu-item {
        display: inline-block;
        position: relative;
        max-width: 5.5rem;
        margin-top: 0.9rem;
        padding: 0;
        width: 46.5%;
        text-align: center;

        @include media-breakpoint-up(xl) {
            padding: 0;
            margin-top: 1rem;
            margin-left: 2.5rem;
            text-align: left;
            width: auto;
        }

        i::before {
            font-size: fz(p33);

            @include media-breakpoint-up(xl) {
                font-size: fz(h2);
            }
        }
    }

    .user,
    .minicart,
    .navbar-toggler,
    .navbar-header-menu-item {
        @include media-breakpoint-up(xl) {
            line-height: 2.25em;
            height: auto;
        }
    }

    .navbar-toggler,
    .navbar-toggle-search-btn {
        padding: 0;
        width: 46.5%;
        max-width: 5.5rem;
    }

    .navbar-toggler {
        font-size: fz(p16);
        font-weight: $font-weight-bold;
        position: relative;
        top: -0.1rem;
        left: 0.4rem;

        .sc-icon-cross {
            opacity: 0;
        }

        .sc-icon-menu {
            position: relative;
            top: 0.125rem;

            &::before {
                font-size: fz(p33);
            }
        }
    }

    .navbar-toggle-search-btn {
        i::before {
            font-size: fz(p33);

            @include media-breakpoint-up(xl) {
                font-size: fz(p22);
            }
        }
    }

    .navbar-toggle-search-btn,
    .navbar-header-menu-item,
    .navbar-toggler > span,
    .minicart {
        transition: opacity $animation-duration;
    }

    .user {
        .popover {
            position: absolute;
            display: none;
            padding: 1em;
            top: 85%;
            left: 0;

            a {
                white-space: nowrap;
                margin-bottom: 0.5em;
            }

            &::before {
                left: 1.5rem;
            }

            &::after {
                left: 1.5rem;
            }

            &.show {
                display: block;
            }
        }
    }
}

.brand {
    position: absolute;
    left: 50%;
    display: block;
    text-align: center;

    img {
        width: 100%;
    }

    @include media-breakpoint-up(lg) {
        width: 14.125em; /* 226/16 */
        margin-left: -7.0625em; /* 113/16 */
        padding-top: 0.5em;
    }

    @include media-breakpoint-down(md) {
        width: 4em; /* 64/16 */
        margin-left: -2em;
        padding-top: 0.8em;
    }
}

[data-action='Login-Show'] {
    .navbar-header {
        .guest {
            display: none;
        }
    }
}

.account-dropdown {
    position: relative;
    cursor: pointer;

    .dropdown-menu-center {
        left: 50%;
        transform: translate(-50%, 0);
        right: auto;
        border: 0.0625rem solid $text-muted;
        border-radius: 0;
    }

    .arrow {
        top: -0.375rem;
        left: 50%;
        position: absolute;
        display: block;
        width: 0.8rem;
        height: 0.4rem;
        transform: translateX(-50%);

        &::before {
            z-index: 1;
            position: absolute;
            content: "";
            border-color: transparent;
            border-style: solid;
            bottom: 0;
            border-width: 0 0.4rem 0.4rem;
            border-bottom-color: $white;
        }

        &::after {
            content: "";
            border-width: 0 0.4rem 0.4rem;
            border-color: transparent;
            border-bottom-color: $text-muted;
            border-style: solid;
            position: absolute;
            top: -0.0625rem;
        }
    }

    .account-links {
        list-style: none;
        margin-bottom: 0;
        padding: 0;

        .account-link-item {
            position: relative;

            &:not(:last-child)::after {
                content: '';
                position: absolute;
                left: 0.625rem;
                right: 0;
                width: 88%;
                bottom: 0;
                border-bottom: 0.0625rem solid $grey2;
            }

            &:hover {
                font-weight: $font-weight-bold;
            }

            a {
                display: block;
                color: $secondary;
                font-size: fz(body-xs);
                line-height: $font-lh--4;
                padding: 0.625rem;

                &:hover {
                    text-decoration: none;
                }

                &:focus {
                    outline: none !important;
                }
            }

            &.account-link-header {
                text-transform: uppercase;
                font-weight: $font-weight-extra-bold;

                &:hover {
                    text-shadow: none;
                }
            }
        }
    }
}

.header-top-left,
.header-top-right {
    display: flex;
    align-items: top;
    flex: 0.3 0 0;
}

.header-top-left {
    justify-content: space-between;
    margin-top: 0.9rem;

    @include media-breakpoint-up(xl) {
        justify-content: flex-start;
    }

    .country-selector {
        .dropdown-toggle {
            &::after {
                position: relative;

                /* rtl:raw:
                    top: 0.25rem;
                */
            }
        }

        .rounded-flag-icon {
            -webkit-mask-image: -webkit-radial-gradient($white, $black);
            line-height: 0;
            border-radius: 100%;
            display: inline-block;
            overflow: hidden;
            margin-right: 0.7rem;
            height: 1rem;
            width: 1rem;
        }

        .flag-icon {
            font-size: fz(h4);
            margin-left: -0.15rem;
        }

        .country-code {
            font-size: fz(body);
            font-weight: $font-weight-normal;
            position: relative;
            top: 0.0625rem;
        }

        > .btn {
            border-radius: 0;
            display: flex;
            align-items: center;
            padding: 0.375rem 0;
            margin-right: 1.875rem;
            position: relative;
            cursor: pointer;
        }

        .dropdown-item {
            display: flex;
            align-content: center;
            justify-content: center;
            padding: 0.5rem 1.15rem 0.5rem 1.275rem;

            .country-code {
                top: 0.125rem;

                /* rtl:raw:
                    top: -0.125rem;
                */
            }

            &:hover {
                background: none;

                span {
                    font-weight: $font-weight-semi-bold;
                }
            }

            &:active {
                background: none;
                color: $secondary;
            }
        }

        .dropdown-menu {
            position: absolute;
            left: -3.75rem;
            border: 0.0625rem solid $text-muted;
            border-radius: 0;
            margin: 0;
            padding: 0;

            .arrow {
                top: -0.375rem;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                display: block;
                width: 0.4rem;
                height: 0.4rem;

                &::before {
                    z-index: 1;
                    position: absolute;
                    content: "";
                    border-color: transparent;
                    border-style: solid;
                    bottom: 0;
                    border-width: 0 0.4rem 0.4rem;
                    border-bottom-color: $white;
                }

                &::after {
                    content: "";
                    border-width: 0 0.4rem 0.4rem;
                    border-color: transparent;
                    border-bottom-color: $text-muted;
                    border-style: solid;
                    position: absolute;
                    top: -0.0625rem;
                }
            }
        }
    }

    .language-selector {
        > .btn {
            font-size: fz(body);
            border-radius: 0;
            padding: 0.45rem 0;
            position: relative;
            margin-right: 1.875rem;
        }

        .dropdown-item {
            padding: 0.5rem 1.25rem;
        }

        .dropdown-menu {
            border-color: $secondary;
            border-radius: 0;
            margin: 0;
            padding: 0;
            min-width: 2rem;
        }
    }

    .search {
        max-width: 8.6rem;
    }
}

.header-top-right {
    justify-content: space-between;
    align-items: flex-end;

    @include media-breakpoint-up(xl) {
        justify-content: flex-end;
    }
}

.header-top-center {
    text-align: center;
    transition: margin-top $animation-duration;
    flex: 0.4 0 0;
    margin: 0.75rem auto 0;

    @include media-breakpoint-up(xl) {
        margin-top: 1rem;
    }

    &:first-child {
        margin-top: 0.8rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 0.95rem;
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: 1rem;
        }
    }

    img {
        width: 100%;
        height: auto;
        max-width: 7rem;

        @include media-breakpoint-up(md) {
            width: 10rem;
            max-width: 10rem;
            min-height: 2.875rem;
            transition: width $animation-duration;
        }
    }
}

.header-banner {
    background-color: $black;
    color: $white;
    padding: 0.55rem 0 0.4rem;
    line-height: 1.25;
    text-align: center;

    @include media-breakpoint-down(lg) {
        padding: 0.725rem 0 0.525rem;
    }

    strong {
        font-weight: $font-weight-medium;
    }

    .close-button {
        display: none;
    }

    &.header-banner-error {
        background-color: $white;
    }
}

.minicart {
    margin-top: 0.1875em; /* 3/16 */
    vertical-align: top;
    position: relative;

    .minicart-icon {
        @include media-breakpoint-up(xl) {
            font-size: fz(p22);
        }
    }

    a.minicart-link {
        &:hover {
            text-decoration: none;
        }
    }

    .minicart-quantity {
        background-color: $primary;
        border: 0.0625rem solid $tertiary;
        border-radius: 50%;
        color: $tertiary;
        font-size: fz(body-sm, true);
        line-height: 1.2;
        text-align: center;
        position: absolute;
        width: 1.125rem;
        height: 1.125rem;
        top: 0;
        left: calc(50%);
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-up(xl) {
            top: -0.125rem;
        }
    }

    .popover {
        font-family: ff(base);

        &.popover-bottom {
            right: -1rem;
            border-radius: 0;
            min-width: 18.563rem;
            width: 18.563rem;
            top: 100%;
            left: auto;
            border: none;
        }

        &.show {
            min-height: 10rem;
            border: 0.0625rem solid $text-muted;
        }

        .arrow {
            top: -0.375rem;
            right: 1.125rem;
            position: absolute;
            display: block;
            width: 0.8rem;
            height: 0.4rem;

            &::before {
                z-index: 1;
                position: absolute;
                content: "";
                border-color: transparent;
                border-style: solid;
                bottom: 0;
                border-width: 0 0.4rem 0.4rem;
                border-bottom-color: $white;
            }

            &::after {
                content: "";
                border-width: 0 0.4rem 0.4rem;
                border-color: transparent;
                border-bottom-color: $text-muted;
                border-style: solid;
                position: absolute;
                top: -0.0625rem;
            }
        }
    }
}

.miniCart-dropdown {
    padding: 0.625rem 0.75rem 1.25rem !important;
    margin: 0;
    max-height: 31.25rem;

    .miniCart-items {
        max-height: 17.875rem;
        overflow-y: auto;

        .card-body {
            padding: 0.55rem;
        }

        .line-item-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5rem;
        }

        .line-item-name {
            font-size: fz(p8);
        }

        .remove-line-item button {
            border: none;
            background: none;
            padding: 0 0.75rem;
            line-height: 1;
            margin-top: -0.5rem;
            margin-right: -0.5rem;
        }

        .item-image img {
            width: 3.5rem;
            margin-right: 0.5rem;
        }

        .item-attributes {
            font-size: fz(p7);

            .line-item-attributes {
                margin: 0;
            }
        }

        .line-item-unit-price .price,
        .line-item-total-price .price {
            font-size: fz(p7);
        }
    }

    .miniCart-subTotal,
    .miniCart-checkout {
        padding: 0 0.75rem;
    }

    .miniCart-subTotal {
        background: $white;
        margin-top: -0.0625rem;
        padding-top: 1.25rem;
        padding-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        font-size: fz(body);
        font-weight: $font-weight-medium;
        text-transform: uppercase;
    }

    .miniCart-subTotal-label {
        display: flex;
        flex-direction: column;

        span:last-child {
            font-size: fz(p8);
            font-weight: $font-weight-normal;
        }
    }

    .miniCart-subTotal-amount {
        font-weight: $font-weight-medium !important;
    }
}

.miniCart-item {
    display: flex;
    align-items: flex-start;
    padding: 0.75rem 0;
    position: relative;
    border-bottom: 0.0625rem solid $grey2;

    .miniCart-item-image {
        img {
            width: 4.375rem;
        }
    }

    h2,
    .line-item-name {
        font-size: fz(body-xs);
        font-weight: $font-weight-medium;
        line-height: 1.6;
        margin: 0;
        padding-right: 0.5rem;

        a:hover {
            text-decoration: none;
        }
    }

    .miniCart-item-description {
        padding: 0 0.75rem 0 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;

        p {
            margin: 0;
        }
    }

    .miniCart-item-remove {
        background-color: transparent;
        border-color: transparent;
        position: absolute;
        right: 0;
        top: 0.5rem;
        opacity: 0.4;
        transform: scale(0.5);
    }

    .miniCart-item-details {
        font-size: fz(body-xs);
        padding-bottom: 0.525rem;

        span {
            position: relative;
            display: block;
        }
    }

    .miniCart-item-price {
        font-size: fz(body);
        font-weight: $font-weight-medium;
        margin-bottom: -0.2rem;
        text-align: right;

        .cart-product-price-discounted {
            padding-top: 0 !important;
        }

        .cart-product-price-main {
            font-size: fz(body-xs);
        }
    }

    .line-item-attributes {
        font-size: fz(p9);
        font-weight: $font-weight-medium;
    }
}

.miniCart-title {
    font-size: fz(body-xs);
    font-weight: $font-weight-bold;
}

.miniCart-cart-link {
    font-size: fz(p7);
}

.minicart-footer .estimated-total {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    p {
        margin: 0;
    }
}

.added-product-notification {
    background-color: $white;
    border-top: 0.0625rem solid $grey3;
    border-bottom: 0.0625rem solid $grey3;
    display: none;
    padding: 0.8125rem 0.25rem;
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    width: 100%;
    z-index: 1;

    .miniCart-item-multiple-product-images {
        img {
            max-width: 7.5rem;
        }
    }

    .miniCart-item-details {
        padding-bottom: 0.6875rem;

        span {
            display: inline-block;
            font-size: fz(body);
            margin: 0 1rem;
            padding-left: 0.8125rem;

            @include media-breakpoint-up(lg) {
                font-size: fz(h4);
            }

            &:nth-child(n+2) {
                &::before {
                    background-color: $secondary;
                    content: '';
                    display: block;
                    height: 0.75rem;
                    left: 0;
                    position: absolute;
                    top: 0;
                    transform: translateY(26%);
                    width: 0.0625rem;
                }
            }

            &:last-child {
                margin-right: 0;
            }

            &:first-child {
                margin: 0;
                padding-left: 0;
            }
        }
    }

    @include media-breakpoint-down(lg) {
        &.miniCart-multiple-products {
            .miniCart-item {
                width: 52%;

                .miniCart-item-multiple-products-text {
                    display: none;
                }
            }

            .miniCart-item-multiple-product-images {
                img {
                    width: 23%;
                }

                .icon-plus {
                    &::before,
                    &::after {
                        width: 0.875rem;
                    }
                }
            }

            .miniCart-item-total {
                display: flex;
                justify-content: center;

                .miniCart-checkout {
                    display: none;
                }

                .miniCart-item-multiple-products-text {
                    font-size: fz(h3);
                    font-weight: $font-weight-medium;
                    display: block;
                    margin-bottom: 1rem;
                    padding-left: 2rem;
                    text-align: left;
                    text-transform: uppercase;
                }
            }

            .miniCart-item-subtotal-label {
                font-size: fz(p17);
                font-weight: $font-weight-medium;

                .miniCart-item-vat {
                    font-size: fz(p8);
                    font-weight: $font-weight-normal;
                }
            }

            .miniCart-item-subtotal-value {
                font-size: fz(p19);
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &.miniCart-multiple-products {
            .miniCart-item-container {
                flex-direction: column;
            }

            .miniCart-item {
                width: 100%;
            }

            .miniCart-item-multiple-products {
                width: 100%;
                text-align: center;
            }

            .miniCart-item-total {
                width: 100%;
                flex-direction: row;

                .miniCart-item-multiple-products-text {
                    width: 50%;
                    font-size: fz(body-sm);
                    margin-bottom: 0;
                    padding-left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .miniCart-item-subtotal {
                width: 50%;
            }

            .miniCart-item-subtotal-label {
                display: none;
            }

            .miniCart-item-subtotal-value {
                font-size: fz(h4);
                width: 100%;
                text-align: center;

                .miniCart-item-vat {
                    font-weight: $font-weight-light;
                }
            }
        }

        .miniCart-item-detail {
            font-size: fz(body);
        }
    }

    .miniCart-item-container {
        display: flex;
        position: relative;
        margin-bottom: 0;
        width: 100%;
    }

    .miniCart-item-remove {
        position: absolute;
        right: 0.6875rem;
        top: -0.375rem;
        width: 1.5rem;
        height: 1.5rem;
        z-index: 1;
        border: none;
        background: transparent;
        cursor: pointer;

        i::before,
        i::after {
            width: 1.441rem;
        }
    }

    .miniCart-added-message {
        position: absolute;
        left: 0;
        top: 0;
        font-size: fz(p13);
        text-transform: uppercase;
    }

    .miniCart-item {
        border: none;
        position: relative;
        padding: 2.3125rem 0 0.875rem;
        width: 100%;
    }

    .miniCart-item-description {
        position: relative;
        padding-top: 0;
    }

    .miniCart-item-badge {
        font-size: fz(p7);
        font-weight: $font-weight-bold;
        position: absolute;
        top: 0;
        text-transform: uppercase;
    }

    .miniCart-item-name {
        margin-bottom: 0.6875rem;

        h2 {
            font-size: fz(p13);
            font-weight: $font-weight-normal;
            text-transform: none;
        }
    }

    .miniCart-item-brand {
        font-size: fz(p13);
        font-weight: $font-weight-bold;

        @include media-breakpoint-up(lg) {
            font-size: fz(h4);
            margin: 1.0625rem 0 0.3125rem;
        }
    }

    .miniCart-item-price {
        font-size: fz(h4);
        padding: 0;
        text-align: left;

        .cart-product-price-discounted {
            font-size: fz(h4);
        }

        .cart-product-price-main {
            font-size: fz(body);
        }
    }

    .miniCart-item-list-price {
        color: $secondary;
        font-size: fz(body-sm);
        font-family: ff(secondary);
        font-weight: $font-weight-medium;
        text-decoration: line-through;
    }

    .miniCart-item-vat {
        font-size: fz(body);
        font-family: ff(base);

        @include media-breakpoint-up(lg) {
            font-size: fz(h4);
        }
    }

    .miniCart-item-total {
        display: none;
        flex-direction: column;
        justify-content: flex-end;
        width: 50%;

        .miniCart-item-multiple-products-text {
            display: none;
        }
    }

    .miniCart-item-image {
        img {
            height: 7.625rem;
            object-fit: cover;
            width: 7.625rem;

            @include media-breakpoint-up(lg) {
                height: 10.625rem;
                width: 10.625rem;
            }
        }
    }

    .miniCart-item-multiple-product-images {
        .icon-plus {
            margin: 0.25rem;

            &::before,
            &::after {
                margin: -0.0625rem 0 0 -0.4375rem;
                width: 1.25rem;
                height: 0.125rem;
            }
        }
    }

    .miniCart-item-multiple-products-text {
        font-size: fz(p19);
        font-weight: $font-weight-light;
        text-align: center;
    }

    .miniCart-item-subtotal {
        display: flex;
        align-items: center;
    }

    .miniCart-item-subtotal-label {
        font-size: fz(p26);
        font-weight: $font-weight-medium;
        width: 50%;
        text-align: center;
        text-transform: uppercase;

        .miniCart-item-vat {
            font-size: fz(body-xs);
            font-weight: $font-weight-light;
            position: static;
            text-transform: none;
        }
    }

    .miniCart-item-subtotal-value {
        font-size: fz(p16);
        font-weight: $font-weight-extra-bold;
        font-family: ff(secondary);
        width: 50%;
        text-align: center;
    }

    @include media-breakpoint-up(md) {
        .miniCart-item-subtotal {
            display: none;
        }
    }

    .miniCart-checkout {
        display: flex;
        flex-direction: row;
        padding-top: 1.6875rem;
        justify-content: space-between;

        a,
        button {
            font-size: fz(body);
            padding: 0.625rem 0.75rem;
            width: 47%;
            min-width: auto;
        }
    }
}

@include media-breakpoint-up(md) {
    .added-product-notification {
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        .miniCart-checkout {
            a,
            button {
                font-size: fz(p13);
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .added-product-notification {
        padding: 1.875rem 0 0;

        .miniCart-item {
            flex-wrap: wrap;
            padding-bottom: 0;
            position: relative;
        }

        .miniCart-item-remove {
            right: 0.625rem;
            top: -0.875rem;
        }

        .miniCart-item-image img {
            height: 10.625rem;
            object-fit: cover;
            width: 10.625rem;
        }

        .miniCart-item-description {
            padding: 0 3rem 0 5rem;
        }

        .miniCart-item-badge {
            position: static;
        }

        .miniCart-item-name {
            padding-right: 0;
            margin-bottom: 1.25rem;

            h2 {
                font-size: fz(h4);
                font-weight: $font-weight-medium;
                line-height: $font-lh--4;
                margin-bottom: 0;
                text-transform: uppercase;
            }
        }

        .miniCart-item-price {
            font-size: fz(h4);
            font-weight: $font-weight-bold;

            .cart-product-price-main {
                font-size: fz(body-xs);
            }
        }

        .miniCart-item-list-price {
            display: none;
        }

        .miniCart-item-total {
            display: flex;
            padding-left: 1.625rem;
        }

        .miniCart-checkout {
            justify-content: flex-start;
            padding: 1.85rem 0 1.5625rem;

            .miniCart-checkout-button {
                font-size: fz(body);
                margin-right: 2rem;
                max-width: 21.875rem;
            }
        }
    }
}

.added-product-notification-backdrop {
    position: absolute;
    display: none;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba($alto, 0.72);
    z-index: -1;
    top: auto;
    cursor: pointer;
}

a.normal {
    color: $primary;
    text-decoration: underline;
}

.slide-up {
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    max-height: 6.25rem;
    overflow: hidden;

    &.hide {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
}

.sticked {
    &.header {
        border-bottom-color: $white;
        box-shadow: 0 0.1875rem 0.375rem 0 rgba($black, 0.05);
    }

    @include media-breakpoint-up(xl) {
        .header-top-center {
            &:not(:first-child) {
                margin-top: 1rem;
                margin-bottom: 0.5rem;
            }

            img {
                width: 8.4375rem;
                min-height: 1.81625rem;
            }
        }

        .header-top-left {
            margin-top: 0.2rem;

            .country-selector,
            .language-selector {
                .dropdown-item {
                    padding-left: 0.85rem;
                }
            }

            .language-selector {
                > .btn {
                    line-height: 1.8;
                }
            }
        }

        .navbar-header {
            .user,
            .minicart,
            .navbar-toggler,
            .navbar-header-menu-item {
                margin-top: 0.4rem;
            }
        }
    }
}

.header-logo-only {
    .header-top {
        padding-bottom: 0;
    }

    .header-top-center {
        margin: 0 auto;

        img {
            @include media-breakpoint-up(lg) {
                max-width: 12.5rem;
            }
        }
    }

    .navbar-header {
        padding: 0.8125rem 0;
    }
}
