@import "~brand_core/mixins/swatch";
@import './quickView';

$product-tile-img-max-width: 11.875rem; // 190px

.product,
.product-tile {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-tile {
    border: 0;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    position: relative;

    .tile-body {
        padding: 0.625em 0 1.875em;
        flex: 1;
        display: flex;
        flex-direction: column;

        .product-tile-pricing {
            margin-top: auto;
            padding-top: 0.75rem;
        }

        .color-swatches {
            min-height: 2.25em;

            .product-tile-color-label {
                cursor: pointer;
                font-size: 1em;

                @include media-breakpoint-down(md) {
                    font-size: fz(p13);
                }

                @include media-breakpoint-down(sm) {
                    font-size: fz(body-sm);
                }
            }

            .swatch-item-link {
                display: inline-block;
                padding: 0.125rem 0;

                @include media-breakpoint-only(md) {
                    padding: 0.1875rem 0;
                }
            }
        }

        .price {
            margin-bottom: 0;
        }

        .coming-soon-tile {
            text-align: center;
        }

        > .btn {
            position: relative;
            z-index: 3;

            @include media-breakpoint-down(md) {
                min-width: 6.35rem;
            }
        }
    }

    .name-container {
        margin-bottom: 0.5rem;

        @include media-breakpoint-up(xl) {
            margin-bottom: 0.75rem;
        }
    }

    .price-container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    .image-container {
        position: relative;
        overflow: visible;
        min-height: auto;

        .image-container-link {
            max-width: $product-tile-img-max-width;
            display: block;
            margin: 0 auto;

            @include ratio-holder(1/1);
        }

        .product-tile-image-el {
            width: 100%;
            max-width: 100%;
        }

        .quickview {
            position: absolute;
            bottom: 1rem;
            right: 1rem;

            i {
                &.fa-expand {
                    color: rgba(0, 0, 0, 0.7);
                }

                &.fa-circle {
                    color: rgba(255, 255, 255, 0.7);
                    text-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.2);
                }
            }
        }

        .product-tile-image-el {
            width: 100%;
        }
    }

    .swatches {
        a {
            text-decoration: none;
        }
    }

    //TODO: should be refactored in scope with PDP
    .back-in-stock-container {
        .sc-icon-email {
            &::before {
                display: inline-block;
                line-height: 0;
                margin: 0.6875rem 0.125rem 0;
                vertical-align: top;
            }
        }
    }
}

.product-tile-link {
    position: absolute;
    top: 0.0625rem;
    right: 0;
    left: 0;
    bottom: 0.0625rem;
    z-index: 2;
}

.hide-product-image {
    .image-container {
        display: none;
    }
}

.hide-product-name {
    .name-container {
        display: none;
    }
}

.hide-product-badges {
    .badges-container {
        display: none;
    }
}

.hide-product-review {
    .review-container {
        display: none;
    }
}

.hide-product-price {
    .price-container {
        display: none;
    }
}

#chooseBonusProductModal {
    .modal-footer {
        .container {
            margin-left: 0;
            width: 100%;
            margin-right: 0;
        }
    }

    .select-cbp-container {
        margin-top: auto;
        margin-bottom: auto;
    }

    .product-name-wrapper {
        width: 100%;
    }

    .bonus-quantity-select {
        min-width: 5em;
    }

    .select-bonus-product {
        margin-top: 1em;
    }

    .selected-pid {
        border: 0.0625rem solid $grey3;

        .bonus-product-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .bonus-product-price {
        text-align: center;
        margin-top: 1em;
    }
}

.global-carousel {
    .product {
        margin: 0 auto;
    }
}

.product-tile {
    .product-tile-link {
        z-index: -1;
    }

    .wish-list-icon {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;

        @include media-breakpoint-up(md) {
            top: -0.125rem;
        }

        @include media-breakpoint-up(xl) {
            top: -0.0625rem;
            right: -0.125rem;
        }

        .sc-icon-fav {
            &::before {
                font-size: fz(h3);

                @include media-breakpoint-up(md) {
                    font-size: fz(h2);
                }

                @include media-breakpoint-up(xl) {
                    font-size: fz(h3);
                }
            }
        }
    }

    .tile-body {
        padding-bottom: 0;
        padding-top: 0.8125rem;

        @include media-breakpoint-up(md) {
            padding-top: 0.5rem;
        }

        @include media-breakpoint-up(xl) {
            padding-top: 0;
        }

        .btn {
            min-width: 100%;
        }

        .swatches-container {
            height: 1.3125rem;
            margin-bottom: 0.75rem;

            @include media-breakpoint-up(md) {
                height: 2.1875rem;
                margin-bottom: 0.625rem;
            }

            @include media-breakpoint-up(lg) {
                height: 1.3125rem;
                margin-bottom: 0.8125rem;
            }
        }

        .color-swatches {
            min-height: auto;
        }
    }

    .badges-container {
        height: 0.875rem;
        margin-bottom: 0.4375rem;
        overflow: hidden;

        @include media-breakpoint-up(xl) {
            margin-top: 0.5625rem;
        }
    }

    .badge-item {
        color: $grey9;
        font-size: fz(body-xs);
        font-weight: bold;
        letter-spacing: normal;
        line-height: 1.4;
        overflow: hidden;
        text-align: center;

        @include media-breakpoint-up(md) {
            font-size: fz(body);
        }

        @include media-breakpoint-up(xl) {
            font-size: fz(body-xs);
        }
    }

    .brand-name {
        color: $secondary;
        font-size: fz(h5);
        font-weight: $font-weight-bold;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: center;

        @include media-breakpoint-up(xl) {
            margin: 0 -0.9375rem;
        }
    }

    .short-description-container,
    .name-container {
        margin-bottom: 0.375rem;
        overflow: hidden;
    }

    .short-description-text,
    .link {
        color: $secondary;
        font-size: fz(body);
        font-weight: normal;
        line-height: $font-lh--1;
        letter-spacing: normal;
        overflow: hidden;
        text-align: center;
        text-decoration: none;
        text-transform: initial;
        white-space: normal;
    }

    .product-tile-name-link {
        width: 100%;
    }

    .product-tile-name-text {
        width: 100%;
        display: block;
    }

    .brand-name,
    .product-tile-name-text,
    .product-tile-secondary-name-text,
    .short-description-text {
        @include text-truncate;

        display: block;
    }

    .product-tile-name-text,
    .product-tile-secondary-name-text {
        // Don't truncate Arabic text
        white-space: nowrap rtl(normal);
        overflow: visible;
    }

    .short-description-text {
        height: 0.9375rem;
    }

    .product-tile-secondary-name {
        overflow: hidden;
        white-space: normal;
        margin-bottom: 0.3125rem;
        line-height: $font-lh--1;
    }

    .swatch-circle {
        @include swatch(
            $size: 0.9375rem,
            $border-radius: 100%,
            $selected-border-gap: 0.25rem);
    }

    .slick-track {
        display: flex;
        align-items: center;
    }

    .slick-track {
        position: relative;
    }

    .slick-next,
    .slick-prev {
        width: 1rem;
    }

    .slick-next {
        right: 0;

        @include media-breakpoint-up(xl) {
            right: 0.125rem;
        }
    }

    .sc-icon-arrow-next::after,
    .sc-icon-arrow-next::before,
    .sc-icon-arrow-prev::after,
    .sc-icon-arrow-prev::before {
        width: 0.625rem;

        @include media-breakpoint-up(md) {
            width: 1.125rem;
        }

        @include media-breakpoint-up(xl) {
            width: 0.625rem;
        }
    }

    .price-container {
        margin-bottom: 1.0625rem;
    }

    .brand-container {
        height: 1.125rem;
        margin-bottom: 0.0625rem;
    }

    .price {
        .price-value {
            .strike-through {
                color: $grey4;
                font-size: fz(body);
                margin-top: -0.25rem;

                @include media-breakpoint-up(xl) {
                    margin-top: -0.125rem;
                }
            }
        }
    }

    .ratings-container {
        margin-bottom: 0.5rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 0.5rem;
        }
    }

    .swatches-carousel {
        .slick-arrow {
            height: 100%;

            &::before {
                font-size: fz(p33);
            }
        }
    }
}

.complementary-container {
    .product-tile {
        @include media-breakpoint-down(sm) {
            border-bottom: 0.0625rem solid $grey2;
            display: flex;
            margin-bottom: 2.8125rem;
            padding-bottom: 0.9375rem;
        }

        .brand-container {
            @include media-breakpoint-down(sm) {
                margin-bottom: 0.4375rem;
            }
        }

        .tile-body {
            @include media-breakpoint-down(sm) {
                padding-left: 0.9375rem;
                padding-top: 0;
                width: 100%;
            }
        }

        .image-container {
            @include media-breakpoint-down(sm) {
                display: inline-block;
            }
        }

        .badges-container {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }

        .brand-name,
        .short-description-text {
            @include media-breakpoint-down(sm) {
                text-align: left;
            }
        }

        .brand-name {
            @include media-breakpoint-down(sm) {
                font-size: fz(body);
            }
        }

        .image-container-link {
            .tile-image {
                @include media-breakpoint-down(sm) {
                    object-fit: cover;
                    height: 6.25rem;
                    width: 6.25rem;
                }
            }
        }

        .add-to-cart-btn-container {
            @include media-breakpoint-down(sm) {
                text-align: right;
            }
        }

        .swatches-container {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }

        .ratings-container {
            @include media-breakpoint-down(sm) {
                height: 1rem;
                margin-bottom: 1.5rem;
            }
        }

        .price-container {
            @include media-breakpoint-down(sm) {
                position: absolute;
                right: 0;
            }
        }

        .short-description-container {
            @include media-breakpoint-down(sm) {
                margin-bottom: 0.5625rem;
            }
        }

        .pt-add-to-cart {
            @include media-breakpoint-down(sm) {
                max-width: 9.8125rem;
                min-width: initial;
                width: 100%;
            }
        }
    }
}
