.rating-stars {
    .sc-icon-star::before,
    .sc-icon-star-empty::before,
    .sc-icon-star-fill-half::after,
    .sc-icon-star-fill-half::before {
        font-size: fz(body-xs);

        @include media-breakpoint-up(xl) {
            font-size: fz(p8);
        }
    }

    .sc-icon-star-fill-half::after {
        @include media-breakpoint-up(xl) {
            top: fz(p8, true) / 2;
        }
    }

    .sc-icon-star::before,
    .sc-icon-star-fill-half::after {
        color: $primary;
    }

    .sc-icon-star-empty::before,
    .sc-icon-star-fill-half::before {
        color: $grey3;
    }
}

.ratings-container {
    height: 0.75rem;

    .rating-stars {
        margin-right: 0;
    }

    .sc-icon-star-xl {
        &::before {
            font-size: fz(body);

            @include media-breakpoint-up(md) {
                font-size: fz(h4);
            }

            @include media-breakpoint-up(xl) {
                font-size: fz(p13);
            }
        }
    }
}
