.tooltip {
    border: 0.0625rem solid $text-muted;
    background: $tooltip-bg;
    text-transform: uppercase;
    font-weight: $tooltip-font-weight;
    padding: 0;
    min-width: 10rem;
    margin-left: auto;
    margin-right: auto;

    .arrow {
        top: -0.375rem;

        &::before {
            z-index: 1;
        }

        &::after {
            content: "";
            border-width: 0 0.4rem 0.4rem;
            border-color: transparent;
            border-bottom-color: $text-muted;
            border-style: solid;
            position: absolute;
            top: -0.0625rem;
        }
    }

    .tooltip-inner {
        font-family: ff(base);
    }
}
