.card-number-wrapper {
    position: relative;

    input {
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 98% 50% #{"/*rtl:3% 50%*/"};
        text-align: left;

        /* rtl:ignore */
        direction: ltr;
    }

    &[data-type="visa"] input {
        background-image: url('../../images/visa.svg');
    }

    &[data-type="mastercard"] input {
        background-image: url('../../images/mastercard.svg');
        background-size: 35px auto;
    }

    &[data-type="amex"] input {
        background-image: url('../../images/amex.svg');
    }

    &[data-type="discover"] input {
        background-image: url('../../images/discover.svg');
    }

    &[data-type-ismada="true"] input {
        background-image: url('../../images/mada.svg');
        background-size: 55px auto;
    }
}
