@import "../variables";

@import "~base/bootstrap-custom-import";
@import "~base/bootstrapOverrides";
@import "~base/utilities/responsiveUtils";

.service-text-box {
    $indentation: -80px;

    position: relative;
    padding: 3rem;
    z-index: 10;

    > * {
        z-index: 10;
        position: relative;
    }

    > h3 {
        margin-bottom: 30px;
    }

    @include media-breakpoint-up(lg) {
        > p {
            padding-left: 70px;
        }

        &.indent-right {
            right: $indentation;

            &.service-text-box::after {
                left: $indentation;
            }
        }

        &.indent-left {
            left: $indentation;

            &.service-text-box::after {
                right: $indentation;
            }
        }
    }

    &::after {
        content: " ";
        background-color: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;
        box-shadow: 8px 1px 15px #f8f9f9;
    }
}
