/* Begin preloaders */

@keyframes pulse2 {
    0% {
        opacity: 0.4;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.4;
    }
}

@keyframes pulse3 {
    0% {
        opacity: 0.4;
    }

    20% {
        opacity: 1;
    }

    40% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.4;
    }
}

/// Mixin to place items on a circle

@mixin on-circle($item-count, $circle-size, $item-size) {
    position: relative;
    width: $circle-size;
    height: $circle-size;
    padding: 0;
    border-radius: 50%;
    list-style: none;

    > * {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: $item-size;
        height: $item-size;
        margin: -($item-size / 2);

        $angle: (360 / $item-count);
        $rot: 0;

        @for $i from 1 through $item-count {
            &:nth-of-type(#{$i}) {
                transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
            }

            $rot: $rot + $angle;
        }
    }
}

.circle-preloader {
    @include on-circle($item-count: 10, $circle-size: 2.5rem, $item-size: 0.1875rem);

    margin: 5rem auto 0;
}

.preloader {
    display: flex;
    justify-content: center;
}

.preloader > .preloader-element {
    background-color: $white;
    border-radius: 100%;
    display: inline-block;
    margin: 0 0.1875rem;
    width: 0.1875rem;
    height: 0.1875rem;
}

.preloader.dark > .preloader-element {
    background-color: $tory-navy;
}

.preloader.v2 > .preloader-element {
    animation: 1.2s linear 0s infinite pulse2;

    &:nth-child(2) {
        animation-delay: 0.2s;
    }

    &:nth-child(3) {
        animation-delay: 0.4s;
    }

    &:nth-child(4) {
        animation-delay: 0.6s;
    }
}

.preloader.circle-preloader > .preloader-element {
    animation: 2s linear 0s infinite pulse2;
}

.preloader.circle-preloader > .preloader-element:nth-child(2) {
    animation-delay: 0.2s;
}

.preloader.circle-preloader > .preloader-element:nth-child(3) {
    animation-delay: 0.4s;
}

.preloader.circle-preloader > .preloader-element:nth-child(4) {
    animation-delay: 0.6s;
}

.preloader.circle-preloader > .preloader-element:nth-child(5) {
    animation-delay: 0.8s;
}

.preloader.circle-preloader > .preloader-element:nth-child(6) {
    animation-delay: 1s;
}

.preloader.circle-preloader > .preloader-element:nth-child(7) {
    animation-delay: 1.2s;
}

.preloader.circle-preloader > .preloader-element:nth-child(8) {
    animation-delay: 1.4s;
}

.preloader.circle-preloader > .preloader-element:nth-child(9) {
    animation-delay: 1.6s;
}

.preloader.circle-preloader > .preloader-element:nth-child(10) {
    animation-delay: 1.8s;
}

.preloader.v3 > .preloader-element {
    animation: 1.8s linear 0s infinite pulse3;

    &:nth-child(2) {
        animation-delay: 0.3s;
    }

    &:nth-child(3) {
        animation-delay: 0.6s;
    }

    &:nth-child(4) {
        animation-delay: 0.9s;
    }
}

$preloader-size: 5rem;

.preloader {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 44.8%;
}

.circle-preloader {
    width: $preloader-size;
    height: $preloader-size;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: $preloader-size / 2 * -1;
    margin-left: $preloader-size / 2 * -1;
}

.veil {
    position: absolute;
    z-index: 100;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .underlay,
    .underlay-dark {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        background-color: $white;
    }

    .underlay-dark {
        background-color: $primary;
    }
}

.relative-preloader {
    position: relative;
}

.fixed-preloader {
    position: fixed;
}

/* End preloaders */
